@media all and (max-width:404px) and (min-width:0px)  {
	#globalnav {height:20px;}
	#globalnav ul {display:none;}
	#embedlink{display:none;}
	
	
	#header_bar {height:80px;margin:0;}
	#nav {position:static;margin:0;padding:0;}
	#logo {background:url("../images/mobile_logo.png") no-repeat scroll left center #FFF;width:32px;height:25px;position:absolute;top:0;left:0;}
	#centralMap_wrap {margin:0;}
	#siteID {height:22px;}
	#siteID h2 {display:none;}
	#siteID h1 {font-size:1.05em;line-height:1em;padding-top:3px;margin:0 0 0 -17px;}
	#localfooter {padding-left:0;}
	#placeSearch {position:absolute;right:2px;top:1px;}
	#toolbar ul {margin:-21px 9px 0 0;}
	
	#nav #main_nav {background-color:#CBCCCC;left:-9999px;position:absolute;top:31px;z-index:999;width:100%;padding:0;}
	#nav ul#mob {left:5px;position:absolute;top:49px;width:100%;z-index:999;max-width:320px;margin:0;padding:0;}
	#nav a#mob_link {background:url("../../Content/images/vertical_div.png") repeat-y scroll 70px top #68757d;color:#981E32;cursor:pointer;display:inline-block;font-size:24px;font-weight:700;height:32px;left:-5px;line-height:29px;padding-left:10px;padding-right:10px;position:absolute;top:-2px;width:55px;}
	#nav a#mob_link:hover {background-color:#333; position:relative;}
	#mob_li:hover #main_nav {left:-4px;top:30px;}
	#nav #main_nav li {width:100%;background:url(../../Content/images/hor_div.png) repeat-x 40px top;margin:0;padding:0;}
	#nav #main_nav li a {border-top:1px solid #E2E2E2;display:inline-block !important;font-size:15px;height:35px;line-height:15px;width:100%;}
	#nav #main_nav li a em {display:inline-block;font-style:normal;height:36px;line-height:35px;padding-left:5px;}
	#localfooter #wsufooter{padding-left:0; height:35px;}
	#nav #mob_link:hover ~ em{background: url("../../../Content/images/mobile_close.png") no-repeat scroll right center transparent; width:20px; position:absolute;top:2px; left:70px;height:20px;display:block;}
	#getDirections {margin-top:0;position:absolute;right:0px;top: 44px;width:100%;z-index:99;}
	#dir{padding:0px !important;margin:0px !important;}
	#dir a{cursor:pointer;background: url("../../../Content/images/directions.png") no-repeat scroll left center transparent;display: inline-block;float: right;font-size: 0;height: 33px; text-indent: -9999em;width: 57px;position:relative;}
	#dir a:hover em{background: url("../../../Content/images/mobile_close.png") no-repeat scroll left center transparent; width:20px; position:absolute;top:2px; left:-15px;height:20px;display:block;}
	#dir li{}
	#dirArea{display:none;position:absolute;right:0px;top:35px;z-index:9999;}
	#dir li:hover #dirArea{display:block; padding:5px 10px; background-color:#5e6a71; width:auto;}
	#directionsFrom,#directionsTo{float:right;clear:both;}
	
}

@media all and (max-width:320px)  {

}
@media all and (max-width:404px) and (min-width:321px)  {

}

@media all and (max-width:600px) and (min-width:405px)  {
	#header_bar {margin:0;}
	#globalnav li {padding-left:10px;}
	#nav {width:138px;margin:0;padding:0 10px 10px 7px;}
	#logo {background:url("http://images.wsu.edu/global/bg-logo3.jpg") no-repeat scroll left center #FFF;width:155px;}
	#centralMap_wrap {margin:0 0 0 155px;}
	#siteID h1 {font-size:1.35em;margin:19px 0 0 145px;}
	#localfooter {padding-left:0;}
	a[href='https://portal.wsu.edu/'],a[href='http://www.about.wsu.edu/statewide/'] {display:none;}
}
