/* #Media Queries================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
.iconed b{display:none !important;}
ul.menu li.liTop a.open b{padding:0px;}
	}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	ul.menu li.liTop a b{
		padding:0 0 0 1px;
	}
	.iconed b{display:none;}
	}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.admin #adminNav.fixed{position: relative; top:0px; left:0px;min-width:auto;}
	ul.menu {
	  float: none;
	  width:100%;
	}
	ul.menu li.liTop a,ul.menu li.nosub a {
		background-color:#981E32;
	  width: 100%;
	}
.iconed b{display:block !important;}
.admin._editor #adminNav.fixed .Cancel, .admin._editor #adminNav.fixed .Apply, .admin._editor #adminNav.fixed .Submit {
  display: none;
}

ul.menu ul.drop {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 15px -3px rgba(10, 10, 10, 0.45);
}
ul.menu ul.drop, ul.menu ul.drop ul.drop {
  background: url("../../images/background1.png") no-repeat scroll left bottom transparent;
  left:0px;
  list-style: none outside none;
  margin: 0;
  padding: 2px 2px 10px;
  position:relative;
  top:0px;
  width: 170px;
  display:none;
}
ul.menu li.liTop:hover ul.drop {left:0;}
ul.menu li.liTop:hover ul.drop ul {left:-9999px;}
ul.menu ul.drop li.liTop:hover {position:relative; height:35px;}
ul.menu ul.drop li.liTop:hover ul.drop {left:170px;top:0px;}
._editor #content_tar #tabs {
    margin-right:0px;
    margin-top: 1em;
}
._editor #content_tar #sidebar {
  display: inline-block;
  float: right;
  width: 100%;
}
	}