.admin #navWrap{height:35px;}
.admin #adminNav{width: 100%;background: none repeat scroll 0 0 #981E32;height:35px; position: relative;z-index:2;}
.admin #adminNav.fixed{position: fixed; top:0px; left:0px;min-width: 1087px;}

ul.menu {padding:0; margin:0; list-style:none; position:relative; z-index:500; margin-right:1px; float:left;}

.admin #adminNav .Cancel,.admin #adminNav .Apply,.admin #adminNav .Submit{display:none;float:right;}
.admin._editor #adminNav.fixed .Cancel,.admin._editor #adminNav.fixed .Apply,.admin._editor #adminNav.fixed .Submit{display:block;}




ul.posLeft {margin-left:10px;}
ul.menu ul.drop ,ul.menu ul.drop ul.drop{padding:0; margin:0; list-style:none; position:absolute; left:-9999px; top:35px; width:170px; background:url(../images/background1.png) no-repeat left bottom; padding:2px 2px 10px 2px;}

ul.menu ul.drop{
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px; 
	-webkit-box-shadow: 0px 5px 15px -3px rgba(10, 10, 10, .45);
	box-shadow:0px 5px 15px -3px rgba(10, 10, 10, .45); 
}
ul.menu ul.drop ul.drop{
	-webkit-border-radius: 0px 10px 10px 10px;
	border-radius: 0px 10px 10px 10px; 
	-webkit-box-shadow: 5px 0px 15px -3px rgba(10, 10, 10, .45);
	box-shadow: 5px 0px 15px -3px rgba(10, 10, 10, .45); 
}
ul.menu hr{margin: 2px 0;}
ul.menu a {font:normal 12px arial, sans-serif; color:#fff; text-decoration:none;}
ul.menu a:hover {color:#000; text-decoration:none;}
ul.menu li:hover > a {color:#000; }

ul.menu li.liTop {float:left;width: 100%;}
ul.menu li.close {position:absolute; right:0; top:0; width:30px; height:35px; z-index:-1;}
ul.menu li.close a {display:block; height:35px; width:30px; background:url(../images/close_menu.png) no-repeat top right;}

ul.menu li.sep b {display:block; height:32px; line-height:32px;font-weight: bold;} 

ul.menu li.nosub a {display:block; height:35px; line-height:35px; background:url(../images/background1.png) no-repeat right top; padding:0 12px 0 0; float:left;}
ul.menu li.nosub a b {display:block; height:35px; background:url(../images/background1.png) no-repeat left top; padding:0 0 0 12px; cursor:pointer; float:left;}
ul.menu li.liTop a.open {display:block; height:100%; line-height:35px; background:#981E32 url(../images/down.png) no-repeat right top; padding:0 30px 0 0; float:left;}
ul.menu ul.drop li.liTop a.open {display:block; height:100%; line-height:35px; background:#981E32 url(../images/right.png) no-repeat right top; padding:0 30px 0 10px; float:left;}
ul.menu ul.drop li.liTop.nosub a.open { background:none;}
ul.menu li.liTop:hover a.open {background:#981E32 url(../images/down_hover.png) no-repeat right top;}
ul.menu ul.drop li.liTop:hover a.open {background:#981E32 url(../images/right_hover.png) no-repeat right top;}
ul.menu ul.drop li.liTop.nosub:hover a.open { background:none;}

ul.menu li.liTop a.open b {display:block; background:url(../images/background1.png) no-repeat left top; padding:0 0 0 12px; cursor:pointer}

ul.menu ul li a {display:block; padding:2px 10px; height:auto; line-height:16px;width: 11em;}
ul.menu ul li a:hover {background:#fffffe;}

ul.menu li.liTop:hover {position:relative; height:35px;}
ul.menu li.liTop:hover ul.drop {left:0;}
ul.menu li.liTop:hover ul.drop ul {left:-9999px;}
ul.menu ul.drop li.liTop:hover {position:relative; height:35px;}
ul.menu ul.drop li.liTop:hover ul.drop {left:170px;top:0px;}

.iconed .ui-icon.left{float: left;}
.iconed .ui-icon.right{float: right;}
.iconed b{padding:0 !important;}





.sidebar_nav,.sidebar_nav ul{    float: left;
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 250px;}
.sidebar_nav li{display: block /*!important*/;min-height:18px;line-height:15px;width: 153px; margin-left:5px !important;}
.sidebar_nav li a{display: block !important;}
.sidebar_nav li:hover{}
.sidebar_nav li a:hover{color: #454545 !important;}



/* dosn't seem like this should be there */

/* Nav 
.admin #nav {left: 0; padding: 0 0px 0px 0; position: fixed;top:115px;width: 184px; z-index: 2;}
#main_nav{}
#main_nav li{display: block;float: left;min-height: 24px;line-height: 23px;width: 153px;}
#main_nav li a{display: block !important;}
#main_nav li:hover{border: 1px solid #4D0F1E;font-weight: normal;background: url("../wsu_ui/images/ui-bg_glass_55_ad153b_1x400.png") repeat-x scroll 50% 50% #AD153B;}
#main_nav li a:hover{color: #FFFFFF !important;}
#main_nav li.sep{cursor:default;min-height:3px;}
#main_nav li.endcap{cursor:default;min-height:15px;}
#main_nav li.quickActions{border-right:3px solid #300;width: 150px;}


#nav ul ul.action_nav{margin-left: -14px;}
#nav ul ul.action_nav li{width: 147px;}
#nav ul ul{padding: 0;}
#nav ul li.ui-state-active ul{
	 margin: 0 0 0 -14px;
}
*/

