html,body{height:auto;}
fieldset legend{
	color: #323232;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-top: -3px;
}
fieldset fieldset legend{
	color: #454545;
	font-size: 15px;
	margin-top: -3px;
}
.sudoHide{position:absolute;top:-999em;left:-9999em;}
.clear{clear:both;}




