/* Form Elements */
input,select,textarea,button { font:12px/15px 'SourceSansProRegular',Arial, Helvetica, sans-serif; vertical-align:middle; color:#2f2f2f; }
input.input-text,select,textarea { background:#fff; border:1px solid #b6b6b6; }
input.input-text,textarea { padding:2px; }
select { padding:1px; }
select option { padding-right:10px; }
select.multiselect option { border-bottom:1px solid #b6b6b6; padding:1px 5px; }
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { margin-right:3px; }
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }

button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
.button,button.button,[type="submit"].button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button,button.button,[type="submit"].button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
.button,button.button,[type="submit"].button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#c7c7c7');
	background-color:#ededed;
	background:-webkit-linear-gradient( top, #ededed 5%, #c7c7c7 100% );
	background:-moz-linear-gradient( top, #ededed 5%, #c7c7c7 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #c7c7c7 100% );
	background:-o-linear-gradient( top, #ededed 5%, #c7c7c7 100% );
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #828282;
	display:inline-block;
	color:#454545 !important;
	font-family:Arial;
	font-size:17px !important;
	line-height:17px !important;
	height:17px !important;
	font-weight:bold;
	padding:8px 16px !important;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	opacity:0.8;
}.button:hover,button.button:hover,[type="submit"].button:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c7', endColorstr='#850f0a');
	background-color:#c7c7c7;
	background:-webkit-linear-gradient( top, #c7c7c7 5%, #ededed 100% );
	background:-moz-linear-gradient( top, #c7c7c7 5%, #ededed 100% );
	background:-ms-linear-gradient( top, #c7c7c7 5%, #ededed 100% );
	background:-o-linear-gradient( top, #c7c7c7 5%, #ededed 100% );
}.button:active,button.button:active,[type="submit"].button:active {
	position:relative;
	top:1px;
}
[type="submit"].button{height:34px !important;}

.button.small,button.button.small,[type="submit"].button.small{font-size:12px !important;line-height:12px !important;
	height:12px !important;padding:4px 8px !important;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
[type="submit"].button.small{height:27px  !important;}
	
.button.med,button.button.med,[type="submit"].button.med {font-size:15px !important;line-height:15px !important;
	height:15px !important;padding:6px 12px !important;-moz-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;}
[type="submit"].button.med{height:33px !important;}

.button.xl,button.button.xl,[type="submit"].button.xl {font-size:20px !important;line-height:20px !important;
	height:20px !important;padding:10px 18px !important;-moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px;}
[type="submit"].button.xl{height:44px !important;}

.button.crimson,button.button.crimson,[type="submit"].button.crimson {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#850f0a', endColorstr='#420905');
	background-color:#850f0a;
	background:-webkit-linear-gradient( top, #850f0a 5%, #420905 100% );
	background:-moz-linear-gradient( top, #850f0a 5%, #420905 100% );
	background:-ms-linear-gradient( top, #850f0a 5%, #420905 100% );
	background:-o-linear-gradient( top, #850f0a 5%, #420905 100% );
	color:#ededed !important;
	text-shadow:1px 1px 0px #454545 !important;
}.button.crimson:hover,button.button.crimson:hover,[type="submit"].button.crimson:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#420905', endColorstr='#850f0a');
	background-color:#420905;
	background:-webkit-linear-gradient( top, #420905 5%, #850f0a 100% );
	background:-moz-linear-gradient( top, #420905 5%, #850f0a 100% );
	background:-ms-linear-gradient( top, #420905 5%, #850f0a 100% );
	background:-o-linear-gradient( top, #420905 5%, #850f0a 100% );
	
}


.button.green,button.button.green,[type="submit"].button.green {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#46850a', endColorstr='#0a4005');
	background-color:#46850a;
	background:-webkit-linear-gradient( top, #46850a 5%, #0a4005 100% );
	background:-moz-linear-gradient( top, #46850a 5%, #0a4005 100% );
	background:-ms-linear-gradient( top, #46850a 5%, #0a4005 100% );
	background:-o-linear-gradient( top, #46850a 5%, #0a4005 100% );
	color:#ededed !important;
	text-shadow:1px 1px 0px #454545 !important;
}.button.green:hover,button.button.green:hover,[type="submit"].button.green:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a4005', endColorstr='#46850a');
	background-color:#0a4005;
	background:-webkit-linear-gradient( top, #0a4005 5%, #46850a 100% );
	background:-moz-linear-gradient( top, #0a4005 5%, #46850a 100% );
	background:-ms-linear-gradient( top, #0a4005 5%, #46850a 100% );
	background:-o-linear-gradient( top, #0a4005 5%, #46850a 100% );

}

.button.orange,button.button.orange,[type="submit"].button.orange {
	color:#ededed !important;
	text-shadow:1px 1px 0px #454545 !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e68200', endColorstr='#8f410d');
	background-color:#e68200;
	background:-webkit-linear-gradient( top, #e68200 5%, #8f410d 100% );
	background:-moz-linear-gradient( top, #e68200 5%, #8f410d 100% );
	background:-ms-linear-gradient( top, #e68200 5%, #8f410d 100% );
	background:-o-linear-gradient( top, #e68200 5%, #8f410d 100% );

}.button.orange:hover,button.button.orange:hover,[type="submit"].button.orange:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f410d', endColorstr='#e68200');
	background-color:#8f410d;
	background:-webkit-linear-gradient( top, #8f410d 5%, #e68200 100% );
	background:-moz-linear-gradient( top, #8f410d 5%, #e68200 100% );
	background:-ms-linear-gradient( top, #8f410d 5%, #e68200 100% );
	background:-o-linear-gradient( top, #8f410d 5%, #e68200 100% );
}

.button.blue,button.button.blue,[type="submit"].button.blue {
	color:#ededed !important;
	text-shadow:1px 1px 0px #454545 !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e8bbd', endColorstr='#0a3c57');
	background-color:#1e8bbd;
	background:-webkit-linear-gradient( top, #1e8bbd 5%, #0a3c57 100% );
	background:-moz-linear-gradient( top, #1e8bbd 5%, #0a3c57 100% );
	background:-ms-linear-gradient( top, #1e8bbd 5%, #0a3c57 100% );
	background:-o-linear-gradient( top, #1e8bbd 5%, #0a3c57 100% );

}.button.blue:hover,button.button.blue:hover,[type="submit"].button.blue:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a3c57', endColorstr='#1e8bbd');
	background-color:#0a3c57;
	background:-webkit-linear-gradient( top, #0a3c57 5%, #1e8bbd 100% );
	background:-moz-linear-gradient( top, #0a3c57 5%, #1e8bbd 100% );
	background:-ms-linear-gradient( top, #0a3c57 5%, #1e8bbd 100% );
	background:-o-linear-gradient( top, #0a3c57 5%, #1e8bbd 100% );

}