			
<ul class="grid col-one-half mq2-col-full full-input">
#* study_type *#
	<li>
		$Controller.feilds("select","$type","study_type", $!item.study_type ,"Clinical trial,Patient records,Data review","","","","")
	</li>
</ul>	
<ul class="grid col-one-half mq2-col-full full-input">
#* study_phase *#
	<li>
		$Controller.feilds("textinput","$type","study_phase", $!item.study_phase ,"","only if clinical trial","","")
	</li>		
</ul>	
<div style="clear:both;"></div>

<ul class="grid col-one-half mq2-col-full full-input">
#* study_location *#
	<li>
		$Controller.feilds("textinput","$type","study_location", $!item.study_location ,"","","","")
	</li>
	
#* study_sick_healthy *#
	<li>
		$Controller.feilds("select","$type","study_sick_healthy", $!item.study_sick_healthy ,"Healthy volunteers,HIV-infected treatment-naive,HIV-infected treated","","","","")
	</li>
</ul>

<ul class="grid col-one-half mq2-col-full full-input">	
#* study_sample_size *#
	<li>
		$Controller.feilds("textinput","$type","study_sample_size", $!item.study_sample_size ,"","","","")
	</li>
#* study_length *#
	<li>
		$Controller.feilds("textinput","$type","study_length", $!item.study_length ,"","open #","","")
	</li>
#* study_length_measurement *#
	<li>
		$Controller.feilds("select","$type","study_length_measurement", $!item.study_length_measurement ,"Days,Weeks,Months,Years","","","","")
	</li>
</ul>	  

		



	