<p>This module of the CHAI database is designed to capture information related to clinical trials being performed on ARVs.  Information needed in this module will come from many sources including regulatory documents, innovator publications, <a href="http://www.clinicaltrials.gov">www.clinicaltrials.gov</a> , and other associated publications or presentations at conferences.  For drug products under development and therefore with clinical trials in the early stages (Phase 1, 2, and potentially 3), information may be more difficult to find as it might not yet be publicly available with the exception of the information publicly available on <a href="http://www.clinicaltrials.gov">www.clinicaltrials.gov</a></p>