<p>This module of the CHAI database is designed to capture information on drug products used as part of ARV therapy.  Information needed in this module will largely come from regulatory documents associated with the approval of the drug product for marketing and particularly from the drug product approved package insert.  For drug products under development and therefore in the IND stage, information may be more difficult to find as it might not yet be publicly available</p>