<!--<p>This module of the CHAI database is designed to capture chemistry-related information on the active pharmaceutical ingredient (API) in drug products.  Information needed in this module will largely come from regulatory documents associated with the approval of the drug product for marketing and particularly from the chemistry review section of the dossier.  For drug substances under development and therefore in the IND stage, information may be more difficult to find as it might not yet be publicly available.  Information may also come from publications on the API in chemistry and related journals and presentations.</p>-->