<fieldset><legend>Contacts</legend>               
    #capturefor(contactblock)
        #set($c=0)
        #foreach($contact in $item.contact_profile)
        <span class="pod contact">
            <input type="hidden" name="cal_event.contact_profile[$c].baseid" value="$contact.baseid"/>
            <a href="#" title="Delete option" class="deleteOption ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="float:left;"><span class="ui-icon ui-icon-trash"></span></a>
            <span>Switch:</span>
            <select id="LocationModelSelect" name="cal_event_names[$c].label.baseid"  class="" >
                #set($pt=$altname.label.baseid)
                #foreach($pTypes in $cal_event_name_types)
                    <option class="model" value="$pTypes.baseid" #if($pt == $pTypes.baseid) selected="selected" #end> $!pTypes.type</option>
                #end
            </select>
            <br/><span>Name:</span>
            <input type="text" id="cal_event_names_$c" name="cal_event_names[$c].name" value="$altname.name"  class="text ui-widget-content ui-corner-all"/><br/>
            #set($c=$c+1)
            </span>
        #end  
    #end
    <fieldset style="clear:left;"><legend id="customcontact">(<span id="contactCount">$c</span> contact#if($c==0||$c>1)s#end) <em>+</em></legend>
        <div id="locations">
            <div id="contacts" class="podContainer">
                $!contactblock
            </div>
            
            <a href="#" id="PlaceNameCreate" class=" creation button small">
                <span class="ui-icon ui-icon-plusthick inlineIcon"></span>Add name
            </a>
        </div>
    </fieldset>
</fieldset>
      		
#*<!-- contacts_clonebed -->*#
<div id="contacts_clonebed" class="clonebed">         
    <span class="pod contact">    
        <input type="hidden" name="||cal_event_names[9999].id" value=""/>
        <a href="#" title="Delete option" class="deleteOption ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="float:left;"><span class="ui-icon ui-icon-trash"></span></a>
        <span>Contact:</span>
        <select id="contactSelect" name="||cal_event_names[9999].label.id"  class="" >
            #foreach($pTypes in $cal_event_name_types)
                <option class="model" value="$pTypes.id">$!pTypes.type</option>
            #end
        </select>
        <br/><span>Name:</span>
        <input type="text" name="||cal_event_names[9999].name" value=""  class="text ui-widget-content ui-corner-all"/><br/>
    </span>
</div>
#*<!-- EOF contacts_clonebed -->*#