<fieldset style="clear:left;"><legend id="customcontact">(<span id="contactCount">$c</span> cal_event_type#if($c==0||$c>1)s#end) <em>+</em></legend>
    <div class="col2"  style="display:inline-block; float:left;margin-right:13px;">
        <label for="LocationTypeSelect" style="font-size:13px;"><strong>Types</strong></label><br/>
        <select id="LocationTypeSelect" name="cal_event.cal_event_types[]"  class="" multiple="multiple" size="9" style="width:205px;">
            #foreach($type in $types)
                <option class="type" value="$type.id" #if($cal_event.cal_event_types.Contains($type)) selected="selected" #end>$!type.friendly</option>
            #end
        </select>
    </div>
</fieldset>