@import url(//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css);

.white{color:#FFF !important;}
.grey{color:#999 !important;}
.blue{color:#09F !important;}
.red{color:#C00 !important;}

/* note this is in major need of clean up.. */
/* Lets override the defaults for the tamplates */
#wrapper{width:100%;padding-left:0px;}
#globalnav{width: auto;float: none; background: none repeat scroll 0 0 #981E32;}
#siteID{    background: none repeat scroll 0 0 #262A2D;
    
    float: none;
    height: 80px;
    width: 100%;}
#wrapper #toolbar{width: 100%;float: none;background-color: #5E6A71;}
#siteID h2 { margin: 0 0 0 180px;width: auto;}
#siteID h1 {margin:14px 0 0 177px;width: auto;}
#siteID h1 a{color: #FFFFFF; text-decoration:none;}
#logo{ display: inline;
    float: none;
    height: 105px;
    left: 0;
    position: absolute;
    top:30px;
    width: 185px;
	}

.admin #header_bar{width: 100%;z-index: 2;}

.admin #content{
	position:relative;
	z-index:1;
	width: 100%;
}
.central #content{min-width:1026px;position:relative;z-index:1;display: inline-block;float: left;}



/*    Admin Splash   */

#sideinfo{width:250px;float:left;}
#mainsplash{margin-left: 270px;}
.displaybox{width:400px;display:inline-block;float: left;margin-left:5px;}
.displaybox .head{font-size: 15px !important;
    font-weight: bold !important;
    padding-left: 10px !important;
	display:block;}
#sideinfo h1{font-size: 15px !important;
    margin: 0 !important;
    padding: 2px 5px !important;}
#sideinfo h3{padding:2px 5px; margin:0px;}
#sideinfo span{padding:2px 5px; margin:0px;display:block;}
#activeUsers{max-height:250px;}
#activeUsers .status{width: 10px !important;float:right;}


.shorttab{
    clear: none !important;
    height: 23px;
}
.shorttab li{}
.shorttab li a{padding: 2px 5px !important;}



#main{padding:0px;
    width: 100%;position: relative;}




/*
  set up for the ui to over power the default css
*/
#wsu_ui_default .ui-tabs .ui-tabs-nav{margin: 0 0 -2px !important;padding: 0.2em 0.2em 0 !important;}
#wsu_ui_default .ui-tabs .ui-tabs-nav li{margin: 0 0.2em 0px 0 !important;padding: 0 !important;border-bottom: medium none;}
/*#wsu_ui_default .ui-tabs .ui-tabs-hide {position: absolute;left: -10000px;top: -10000px;display:block !important;}*/
.buttons .ui-icon{display:block !important;}

#wsu_ui_default #main_nav .ui-button {text-align: left; padding: 0 15px;}

#wsu_ui_default .ui-widget input[type=submit],#wsu_ui_default input[type=submit].ui-widget{padding:4px 7px !important;}

.inlineIcon{display: inline-block !important;float: left;margin: 2px 5px 0 -5px;}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
#wsu_ui_default .placelist.ui-tabs .ui-tabs-panel{padding: 5px 2px;}
#wsu_ui_default .placelist.ui-tabs .ui-tabs-nav li{float:left;}
#wsu_ui_default .placelist.ui-tabs .ui-tabs-nav{/*height: 40px;width: 717px;*/}


#wsu_ui_default .ui-autocomplete.ui-menu{max-height:250px;overflow-y: scroll;}


/* for accordions */
.accordion h3 input{ display:inline-block;}



/*cal overrides*/
#main_Calendar .fc-content{clear:none;}
.actions{width:16px;height:16px;border-radius:9px;border:1px solid #CCC;font-size:9px;color:#fff;line-height:18px;text-align:center;background:#FFF;float:right;margin-right:3px;}
.actions.edit{background-color:#91d878;}
.actions.delete{background-color:#e05684;}

/*tinyMCE corrections  */

#place_Teaser_ifr{min-height:150px;}
#place_Bodytext_ifr{min-height:350px;}
#advertisement_HtmlText{min-height:350px;}
#classified_Text{min-height:150px;}
#place_Bodytext{width:685px;}
#place_Teaser{width:685px;}
/*tinyMCE expansions  */

.previewTINY_ELM{}
.inlineTINY_ELM{}
.toolBar{}
.handle{}
.remove{}
.change{}
.MACRO{}

#imgPre img{width:150px;height:150px;background: url(../../images/loading-icon.gif) no-repeat center center;}
#imagePicker{max-width:180px;}
#uploadMess{height:150px;background: url(../../images/loading-icon.gif) no-repeat center center;}
#uploadMess h2{font-size:24px;margin-top:35px;}

#imgPre{float:right;width:150px;}
#ISIUarea form input[type=submit]{display:none;}













.locationBed{}
.locationBed li{border-radius: 20px; padding:2px 5px;border:1px solid transparent;}
.locationBed li:hover{border:1px solid #c1c1c1; background:#c6c6c6;}






/*forms */
input[type="text"]{
	color: #000000 !important;
	height: 30px;
	line-height: 30px;
	padding: 0 2px;
}






/* General css */
table.ui-widget{}
table.ui-widget thead tr{}
table.ui-widget thead tr th,table.ui-widget tfoot tr th{padding: 5px 12px;line-height: 25px;height:25px;}
table.ui-widget thead tr th:first,table.ui-widget tfoot tr th:first{padding:0px 5px ;}
table.ui-widget tbody tr{}
table.ui-widget tbody tr.even {background-color:#F9F9F9;}
table.ui-widget tbody tr.odd {background-color: #E8E8E8;}
table.ui-widget tbody tr td{border-bottom: 1px solid #CCCCCC;padding: 5px 12px;}
table.ui-widget tbody tr.item-child.closed td{padding:0px;}


table.ui-widget tbody tr.even td{}
table.ui-widget tbody tr.odd td{}

.actionArea{width:34px;padding:0px;}

.w500{width:500px !important;}
.w300{min-width:150px; max-width:300px !important;}
.w250{width:250px !important;}
.w200{width:200px !important;}
.w150{width:150px !important;}
.w100{width:100px !important;}
.w50{width:50px !important;}

.listing_switch{height: 37px; margin-top: 9px; position: relative; z-index: 1;top:0px;}
.listing_switch a {width:auto;display:inline-block;padding-bottom:1px;}
.listing_switch a span{padding: 0.5em 1em;}

.push_hide,.nonEdit{position:absolute;top:-9999px;left:-9999px;}
#content_area{min-height:500px;padding:0 5px;}
.admin #content_tar{padding: 0 0 0 10px;}
.central #content_tar{padding:0px;}
.home #content_tar{padding:0px;}
.admin.place._editor #content_tar{min-width: 962px;position: relative;}

/* lists */
tr.item td span{height:15px; display:block;}
tr.item td span a{display:none;}
tr.item:hover td span a{display:inline-block;}






/* general editors */
._editor #content_tar #tabs{
	margin-right: 275px;
	margin-top: 1em;
	/*float:left;*/
}

._editor #content_tar #sidebar{
	    display: inline-block;
    float: right;
    width: 265px;
}
#sidebar .ui-widget-header{    padding-bottom: 0;
    padding-left: 5px;}
#sidebar .ui-widget-content{margin-bottom:5px;}
#sidebar .content{padding:3px 5px;}

._editor #content_tar #tabs .short.ui-tabs-nav { height: 31px;}
#actiontitle{    font-size: 28px !important;
    font-weight: bold !important;
    line-height: 34px !important;}

#actiontitle a,#actiontitle a span{font-size:10px; font-weight:bold;}
#editor_form{margin-top:5px;}
#name{ font-weight:bold;}

.button_area a{ text-decoration:none;}
.button_area a:hover{ text-decoration:underline;}

/* code mirror editor */
.CodeMirror-fullscreen{}
.admin.CodeMirror-fullscreen #adminNav{position: fixed;top:0px;}
.CodeMirror-fullscreen .CodeMirror{display: block;position: fixed;top:35px; left: 0;width: 100%;z-index: 9999;}

/* jQuery UI overwrites*/
#wsu_ui_default .ui-button{background: url("../wsu_ui/images/ui-bg_highlight-hard_100_eeeeee_1x100.png") repeat-x scroll 50% 50% #EEEEEE !important;
color: #454545 !important; font-weight:bold !important; }
#wsu_ui_default .ui-button:hover{background: url("../wsu_ui/images/ui-bg_highlight-hard_40_aaaaaa_1x100.png") repeat-x scroll 50% 50% #EEEEEE !important;
color: #292929 !important; font-weight:bold !important; }


#wsu_ui_default .ui-state-default .ui-icon {background-image: url("../wsu_ui/images/ui-icons_747373_256x240.png") !important;}
#wsu_ui_default .menu .ui-state-default .ui-icon {background-image: url("../wsu_ui/images/ui-icons_d6d6d6_256x240.png") !important;}

#wsu_ui_default .ui-state-default:hover .ui-icon {background-image: url("../wsu_ui/images/ui-icons_500707_256x240.png") !important;}
#wsu_ui_default .menu .ui-state-default:hover .ui-icon {background-image: url("../wsu_ui/images/ui-icons_222222_256x240.png") !important;}

/* tabs */
#wsu_ui_default .left.ui-tabs { 
    position: relative; 
    padding-left: 11em !important; 
} 
#wsu_ui_default .left.ui-tabs .ui-tabs-nav { 
    position: absolute; 
    left: 0.25em !important; 
    top: 0.25em !important; 
    bottom: 0.25em !important; 
    width: 11em  !important; 
    padding: 0.2em 0 0.2em 0.2em !important; 
} 
#wsu_ui_default .left.ui-tabs .ui-tabs-nav li { 
    right: 1px; 
    width: 100%; 
    border-right: none; 
    border-bottom-width: 1px !important; 
    -moz-border-radius: 4px 0px 0px 4px !important; 
    -webkit-border-radius: 4px 0px 0px 4px !important; 
    border-radius: 4px 0px 0px 4px !important; 
    overflow: hidden; 
} 
#wsu_ui_default .left.ui-tabs .ui-tabs-nav li.ui-tabs-selected, 
#wsu_ui_default .left.ui-tabs .ui-tabs-nav li.ui-state-active { 
    border-right: 1px solid transparent; 
} 
#wsu_ui_default .left.ui-tabs .ui-tabs-nav li a { 
    float: right; 
    width: 100%; 
    text-align: right; 
	padding-right: 1px;
} 
#wsu_ui_default .left.ui-tabs .ui-tabs-panel { 
	border-bottom-left-radius: 0;
	border-left: medium none;
	border-top-right-radius: 4px;
	margin-top: 2px;
	min-height: 35em;
	padding-left: 20px;
}

#wsu_ui_default .min.ui-tabs { 
    background: #fff; !important 
    border: none !important; 
} 
#wsu_ui_default .min.ui-tabs .ui-tabs-nav { 
    position: relative; 
    width: auto  !important; 
    padding: 0.2em 0 0.2em 0.2em !important; 
	height: 26px !important;
} 
#wsu_ui_default .min.ui-tabs .ui-tabs-nav li { 
    margin-bottom: -4px !important;
    width: auto; 
    border-right: 1px; 
    border-bottom-width: none !important; 
    overflow: hidden; 
} 
#wsu_ui_default .min.ui-tabs .ui-widget-header { 
    background: transparent !important; 
    border: none !important; 
    border-bottom: 1px solid #c0c0c0 !important; 
    -moz-border-radius: 0px !important; 
    -webkit-border-radius: 0px !important; 
    border-radius: 0px !important; 
} 
#wsu_ui_default .min.ui-tabs .ui-tabs-panel {
	background: transparent !important; 
    border: none !important; 
}
#wsu_ui_default .min.ui-tabs .ui-tabs-nav .ui-state-default { 
    background: transparent !important; 
    border: none !important; 
} 
#wsu_ui_default .min.ui-tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(../../images/uiTabsArrow.png) no-repeat bottom center !important; 
    border: none !important; 
} 
#wsu_ui_default .min.ui-tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0 !important; 
} 
#wsu_ui_default .min.ui-tabs .ui-tabs-nav .ui-state-active a { 
    color: #459e00 !important; 
}





#wsu_ui_default.admin.media.listings .placelist.ui-tabs .ui-tabs-nav li {
    margin-top: 7px !important;
}

#wsu_ui_default.admin.place.list .placelist.ui-tabs .ui-tabs-nav li {
     margin-top: 4px !important;
}
@media only screen and (max-device-width:768px) {
	/* for iPhone, iPod Touch and iPad */
	ul.menu li.liTop:hover + li.close {z-index:10;}
}


  .infoBoxin{-webkit-border-radius:68px;-moz-border-radius:68px;border-radius:68px;}
  .ui-button { margin-left: -1px; }
  .ui-button-icon-only .ui-button-text { padding: 0.35em; }
  .ui-autocomplete-input { margin: 0; padding:0.4em 0 0.4em 0.43em; }
  .optionsLink{}
  .options{}
  .optionsLink:hover .options{}



/*tool tips*/
.ui-tooltip, .arrow:after {
	background: black;
	border: 2px solid white;
}
.ui-tooltip {
	padding: 2.5px 5px;
	color: white;
	border-radius: 20px;
	font: normal 10px/13px "Helvetica Neue", Sans-Serif;
	/*text-transform: uppercase;*/
	box-shadow: 0 0 3px black;
	max-width:350px;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}

/*dialog overwrites*/
.ui-dialog .ui-dialog-titlebar-close span.ui-button-text{display:none;}
.ui-dialog .ui-dialog-titlebar-close span{margin: -8px 1px 1px -8px;}



/* place listing */
.placelist{ /*width: 724px;*/}
.editablelistUL{    list-style: none outside none !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 0 5px 0 0 !important;
    width: 721px;
	display:inline;
	}
.editablelistUL li {float:left;display:inline-block;line-height: 15px; margin: 10px 3px 0 0 !important;padding: 0 !important; position:relative; z-index:1;}
.editablelistUL li li{float:none;display: inline;margin: 10px 0 0 !important;}
.editablelistUL li div{
    height: 180px;
    /*left: 0;*/
    overflow: hidden;
    position: relative;
    top: 0;
    z-index: 1;
	}
.editablelistUL li div span{display:inline; font-weight:bold;}

.editablelistUL li div.summaryCol{float: left;width: 250px;height:180px;border-right: 1px solid #B8B8B8;}
.editablelistUL li div.summaryCol ul{list-style: none outside none !important;margin: 0 !important;padding:0px !important;}
.editablelistUL li div.summaryCol ul li{margin: 0 !important;padding: 0 !important;}
.editablelistUL li div.summaryCol li p {display: inline;line-height: 1em !important;padding: 0;}
.editablelistUL li div.summaryCol .Title{background-color: #CCCCCC;height: 30px;}
.editablelistUL li div.summaryCol li span.Body,.editablelistUL li div.summaryCol li span.Body span{font-weight:normal !important;}
.editablelistUL li div.summaryCol li span.Teaser,.editablelistUL li div.summaryCol li span.Teaser span{font-weight:normal !important;}


.editablelistUL li div.detailCol{/*float: left;width: 125px;height:180px;border-right: 1px solid #B8B8B8;*/	
	border-right: 1px solid #B8B8B8;
	float: left;
	height: 180px;
	padding-left: 16px;
	position: absolute;
	right:50px;
	width:0px;/* if opened 125px; */
	overflow: visible;
}

.tips{
    background-color: #0033FF;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: help;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
    padding: 1px 3px 3px 4px;
	-webkit-border-radius: 10px;
	position:relative;
	}
.tips:hover{background-color: #FFFFFF;color: #0033FF;border: 1px solid #0033FF;padding: 0px 2px 2px 3px;}
.tips em{position:absolute;top:-9999em;left:-9999em;width:150px; display:block;z-index: 99;

 background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    color: #0033FF;
    cursor: help;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    line-height:11px;
    padding: 1px 3px 3px 4px;
	-webkit-border-radius: 10px;
border: 1px solid #0033FF;
}
.tips:hover em{position:absolute;top:0px;left:24px;}




.itemError{
background-color: #690608;
    color: #FFFFFF;
    cursor: help;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    left: -7px;
    line-height: 15px;
    padding: 1px 3px 3px 2px;
    position: absolute;
    text-align: center;
    top: -9px;
    width: 15px;
    z-index: 9;
	-webkit-border-radius: 15px;border-radius: 15px 15px 15px 15px;
	}
.itemError:hover{background-color: #FFFFFF;color: #690608;border: 1px solid #690608;padding: 0px 2px 2px 3px;}


.detailInfoBut{position:absolute;bottom:5px;left:0px; width:16px;height:36px;display:inline-block;
text-indent:-9999px;

background: url(../../images/infoTab.png) no-repeat left center transparent;

}
.detailInfoBut:hover{ background-position:right center;}
.detailArea{border-left: 1px solid #B8B8B8;background-color: #FFFFFF;}

.editablelistUL li div.detailCol ul{list-style: none outside none !important;margin: 0 !important;padding:0 0 0 7px !important;}
.editablelistUL li div.detailCol ul li{    border-bottom: 1px solid #E2E2E2;display: block; margin: 0 !important;padding: 1px 0 !important;}
.editablelistUL li div.detailCol .date{background-color: #CCCCCC;height: 30px;}

.editablelistUL li div.actionCol{background-color: #E0E0E0;
    border-right: medium none;
    float: left;
    height: 180px;
    overflow: visible;
    position: relative;
    width: 50px;
    z-index: 5;}
.editablelistUL li div.actionCol ul{list-style: none outside none !important;margin: 0 !important;padding:4px !important;}
.editablelistUL li div.actionCol ul li{margin: 0 !important;font-size:0.7em;padding: 0 0 3px !important;}
.editablelistUL li div.actionCol ul li a.buttons{float:right;display:inline-block;width:37px;positon:relative;height:24px;}

.editablelistUL li div.actionCol ul li a.buttons span.ui-button-text{position:absolute;top:0px; right:0px;display:inline-block;height: 16px;width: 16px;
    padding-left: 0 !important; 
    padding-right: 0 !important;
    width: 100% !important;


}



.editablelistUL li div.actionCol ul li a.buttons .ui-icon{height: 16px;width: 16px;display:block;float: left;

    left: 5px;
    position: absolute;
    top: 4px;

}
.editablelistUL li div.actionCol ul li a.buttons span.actionText{width:0px;float: right  !important;overflow: hidden;}
.editablelistUL li div.actionCol ul li a.buttons span.actionpropt{
   color: #8C818A;
    float: right !important;
    overflow: hidden;
    width: 10px;

}

.editablelistUL li div.actionCol ul li.delete_btn{ position:absolute;bottom:5px;right:4px;}
.editablelistUL li .Status div{height:auto;}















.inEdit{height:180px; width:302px; position:absolute !important;top:0;left:0; z-index:2  !important;filter:alpha(opacity=35);opacity: 0.35; background-color:#AD153B;}
span.UinEdit{    background-color: #E2E2E2;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    left: 0;
    line-height: 35px;
    position: absolute;
    width:302px;
    z-index: 3;display:inline-block;float:left;}
.steal {float: right;
    font-size: 12px !important;
    margin-top: 3px;}
.steal span{float: left;margin-right: 0.3em;}
/* editing place */
.imagedropDown,.authorSelect{margin-top:7px;}











/*  ad listing  */

.ad{position:relative;z-index:1;}
.ad span.the_ad{position:absolute;left:-9999px;top:-9999px; padding:15px; cursor:default;z-index:2;}
.ad:hover span.the_ad{left:18px;top:-35px;}
.advertisementUrl{font-size:10px;}
.expired{background: url("../../images/expired.png") no-repeat scroll center center #AD153B; text-indent:-9999px;display:inline-block;width:15px;height:50px;float:left;} 



/*  image listing  */
.typeIcon{display:inline-block;width:24px;height:24px;}
.type1{background: url("../../images/place.png") no-repeat scroll 50% 50% transparent;} 
.type2{background: url("../../images/advertisement.png") no-repeat scroll 50% 50% transparent;}
.selectedImage{max-width:300px;display:none;}
.imagePreview:hover .selectedImage{display:block;}


/* Print */

.PDF.creation{float: right;
    margin-right: 10px !important;
    margin-top: 9px;
    position: relative;
    z-index: 3;}


/* comments */

.users_comments .placelist{ width: 454px;}
#wsu_ui_default .users_comments  .placelist.ui-tabs .ui-tabs-nav { width: 446px;}


/* media boxes */

.grouped{    border: inherit;
    display: inline-block;
    float: left;
    margin-right: 5px;
    padding: 4px 8px 10px;
    width: auto;  background: url(../../images/fieldset_bk.png) repeat-x scroll center top transparent  !important;}
.grouped legend{    font-size: 15px;
    line-height: 15px;
    margin-bottom: 5px;
    padding: 5px;font-weight: bold;}

#browserBox.grid,.browserBox.grid{border:1px solid #CCCCCC;padding: 15px;min-width:370px; margin:15px auto 0px; background-color:#fff;}
#browserBox.grid .imageBox,.browserBox.grid .imageBox{position:relative; overflow:hidden;display: inline-block;float:left; margin-right:5px; margin-bottom:5px;width:175px;height:175px;background: url(../../images/loading-icon.gif) no-repeat 40px center;}
#browserBox.grid .previewImg,.browserBox.grid .previewImg{background: url(../../images/loading-icon.gif) no-repeat center center;}
#browserBox.grid .DeleteImage,.browserBox.grid.DeleteImage{position:absolute; top:5px; right:5px;diplay:none;}
#browserBox.grid .imgInfo,.browserBox.grid .imgInfo{background: url(../../images/227_227_227_66.png) repeat scroll 50% 50% transparent;padding:2px 5px;position:absolute; bottom:0px; left:0px;}
#browserBox.grid .imgInfo span,.browserBox.grid .imgInfo span{font-size:12px;}
#browserBox.grid .imgInfo label,.browserBox.grid .imgInfo label{font-size:10px;font-weight:bold;}
#browserBox.grid .imgInfo input,.browserBox.grid .imgInfo input{width:160px;}

#img_layout_choice,.img_layout_choice{width:32px; height:32px; cursor:pointer; display:inline-block; float:right;
					background: url(../../images/grid_list_choices.png) no-repeat scroll left bottom transparent;}
#img_layout_choice.list,.img_layout_choice.list{background: url(../../images/grid_list_choices.png) no-repeat scroll left top transparent;}






#browserBox.list,.browserBox.list{border:1px solid #CCCCCC;padding: 15px;width: 100%; margin:15px auto 0px; background-color:#fff;}
#browserBox.list .imageBox,.browserBox.list .imageBox{position:relative;display: inline-block;float:left; margin-right:5px; margin-bottom:5px;width: 100%;max-width:540px;height:175px;background: url(../../images/loading-icon.gif) no-repeat 40px center;}
#browserBox.list .previewImg,.browserBox.list .previewImg{}
#browserBox.list .DeleteImage,.browserBox.list .DeleteImage{position:absolute; top:5px; right:5px;display:block !important;}
#browserBox.list .imgInfo,.browserBox.list .imgInfo{
	background: url(../../images/227_227_227_66.png) repeat scroll 50% 50% transparent;
    display: block !important;
    float: right;
    height: 171px;
    margin-left:0px;
    padding: 2px 5px;
    width: 350px;
	}
#browserBox.list .imgInfo span,.browserBox.list .imgInfo span{font-size:12px;}
#browserBox.list .imgInfo label,.browserBox.list .imgInfo label{    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-top: 12px;}
#browserBox.list .imgInfo input,.browserBox.list .imgInfo input{width:100%;}
#browserBox.grid .ui-state-highlight,.browserBox.grid .ui-state-highlight{position:relative; overflow:hidden;display: inline-block;float:left; margin-right:2px; margin-bottom:5px;width:175px;height:173px;}
#browserBox.list .ui-state-highlight,.browserBox.list .ui-state-highlight{position:relative;display: inline-block;float:left; margin-right:5px; margin-bottom:5px;width: 100%;height:175px;}
.placeOrderId{ position:absolute; top:-9999em; left:-9999em;}




.ui-dialog.ui-widget.ui-widget-content{
-webkit-box-shadow: 0px 0px 10px 2px #000;
 -moz-box-shadow: 0px 0px 10px 2px #000;
 box-shadow: 0px 0px 10px 2px #000; 
}









#content h3.ListingChoices{ cursor:pointer;}
#content h3.ListingChoices.active{color:#000;}


.tabedArea{position: absolute;width:0px;overflow:hidden;display: inline-block; float: left;}
.tabactive{width:100%;position: relative;}
.tabedArea .listTitle{display: inline-block;float: left;font-size: 24px;font-weight: bold;margin: 5px 15px 0 5px;text-transform: capitalize;}



.place._editor #campusmap.fixed{position:fixed;top:45px;right:15px;}
.place._editor #campusmap.fixed_min{position:fixed;top:45px;left:521px;}
.place._editor .ui-tabs-panel{margin-right:460px; min-height:535px;}
.place._editor .sub_tabs .ui-tabs-panel,.place._editor #infotabs .ui-tabs-panel {margin-right:0px;min-height: 30px;}

.place._editor #infotabs .ui-tabs-panel .mceEditor.defaultSkin table{ width: auto !important;}
.place._editor #infotabs .titleEdit{display:inline-block;float:left;margin-top:5px;}
.switch a.active{ font-weight:bold;}
.switch .container{display:none;}
.switch .container.active{display:block;}


.ui-sortable-helper{min-width:50px;max-width:150px;width:auto;}



.admin.view._editor #campusmap{background:transparent url(file:///C|/_SVN_/stellar/EventManager/Content/images/size_guide_grid.png) repeat left top;border-top:1px solid #989898;border-left: 1px solid #989898;padding: 0 105px 105px 0;}
.admin.view._editor #size_guide{background:transparent url(file:///C|/_SVN_/stellar/EventManager/Content/images/size_guide.png) no-repeat left bottom;height:52px;}
.admin.view._editor #size_guide_ticks{background:transparent url(file:///C|/_SVN_/stellar/EventManager/Content/images/size_guide_ticks.png) repeat-x left bottom;border-left: 1px solid transparent;}
#place_drawing_map{-webkit-box-shadow:  2px 2px 5px 2px rgba(25, 25, 25, .35);box-shadow:  2px 2px 5px 2px rgba(25, 25, 25, .35);border-bottom:1px solid #5f5f5f;border-right: 1px solid #5f5f5f;}


#map_canvas{background-color: #E5E3DF;height: 520px;overflow: hidden;position: relative;width:300px;}

.geometrics.editor .style_controlls{margin-right:525px; min-height:535px;}
/*.geometrics.editor .LEVEL_TABS {margin-right:510px; min-height:535px;}*/
.geometrics.editor #smaple_area{background-color: #FFFFFF; position: absolute;right: 15px;top: 0px; z-index: 9;}
.geometrics.editor #map_canvas{width:500px;}
.geometrics.editor #drawing_map{width:500px;min-height:535px;}

.geometrics.new .style_controlls{margin-right:525px; min-height:535px;}
/*.geometrics.new .LEVEL_TABS {margin-right:510px; min-height:535px;}*/
.geometrics.new #smaple_area{background-color: #FFFFFF; position: absolute;right: 15px;top:0px; z-index: 9;}
.geometrics.new #map_canvas{width:500px;}
.geometrics.new #drawing_map{width:500px;min-height:535px;}

.geometrics.editor .place_new{min-height:535px;}

#shortcode{font-size:.75em; text-decoration:none;}
#shortcodes{height: 150px; overflow-y: scroll; border: 1px solid rgb(204, 204, 204); margin: 5px 10px;}


.aliasState.error{color:#F00;}
.aliasState.ok{color:#0C0;}

.listPicker{height: 150px;margin: 0 auto;max-width:99%;overflow-y: auto;padding: 5px;border-color: #848484;}
.jspPane{ padding:0px !important;}
#onMap .jspContainer{/*width: 205px!important;*/ height: 150px;}

.pod{  display: inline-block;
    min-height: 29px;}
	
#taged .pod{display: block;
    min-height: 25px;}
	
.pod.editing{}
.editable{position:relative; top:0;left:0;}
.editzone{position:absolute; top:-999px;left:-999px;}
.pod.editing .editable{position:absolute; top:-999px;left:-999px;}
.pod.editing .editzone{position:relative; top:0;left:0;}

.ZoomChoice{ width:175px; margin-left:15px;}
.clonebed{
	position:absolute; top:-9999px;left:-left:-9999;
}
#wsu_ui_default .ui-widget-content p{font-size;16px}

#customName,.editable{ cursor:pointer;}

input[type=text],#wsu_ui_default .ui-widget-content input[type=text]{none repeat scroll 0 0 #EFEFEF !important}
label{ font-weight:bold; font-size:0.9em; color:#4C4C4C;}


fieldset{padding: 4px 8px 10px;background: transparent url(../../images/fieldset_bk.png) repeat-x center top;}
/**/fieldset:hover{padding: 4px 8px 10px;background: transparent url(../../images/fieldset_bk_hover.png) repeat center center;}


.ini div{ cursor:default !important;}

#wsu_ui_default .dynoList.ui-button-text-only .ui-button-text{ margin-top: -3px; padding: 1px 5px;}
#wsu_ui_default .tiny.ui-button .ui-button-text{ margin-top: -3px; padding: 1px 5px;}
#onMap .tiny.buttons.deleteplace{height: 19px;
outline: medium none;
width: 19px;}

#wsu_ui_default .tiny.buttons.deleteplace.ui-button .ui-button-text{
    margin-left: 1px;
    margin-top: 0;
    padding: 0;
}




.NOTED{color: #4C4C4C;font-size: 11px;}
.NOTED strong{ cursor:pointer;}
.NOTED strong:hover{color:#981E32;}
.NOTED:hover span{color:#333;}

#tabs_Options .NOTED{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";filter: alpha(opacity=75);opacity:.75;}
#tabs_Options .NOTED:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity:1.0;}

/* pagination */
#wsu_ui_default .pagination{float: left;margin: 7px  0 0;    position: relative;z-index: 9;width: auto;-webkit-box-shadow:  2px 1px 3px 0.0px rgba(25, 10, 0, 0.73);box-shadow:  2px 1px 3px 0.0px rgba(25, 10, 0, 0.73);}
#wsu_ui_default .pagination.top{float: right;margin: -3px 0 0;}
#wsu_ui_default .pagination.top.inhead{float: right;margin-right: 5px;margin-top: 7px;}
#wsu_ui_default .pagination h6{ text-align: center;padding:0 9px;}
#wsu_ui_default .pagination ul{height: 15px  !important; display: inline-block; list-style: none outside none !important; margin: 0 !important; padding:2px 0 0 !important;}
#wsu_ui_default .pagination ul.ui-tabs-nav li{margin: -2px 0 0 !important;margin: -2px 0 0 !important; float:left;}	
#wsu_ui_default .pagination ul.ui-tabs-nav li a,#wsu_ui_default .pagination ul.ui-tabs-nav li span{padding: 2px 5px !important; border: medium none;line-height: 16px;}
#wsu_ui_default .pagination ul.ui-tabs-nav li  span{color: #999999;cursor: default;}
#wsu_ui_default .pagination ul.ui-tabs-nav{height: 26px !important;}
	
.ui-widget-overlay.ui-front{z-index:999;}
.ui-dialog{z-index:1000;}
	
.sortStyleOps{ min-height:75px; margin:0px !important;padding:0px !important;}

.sortStyleOps.orgin{
	background-color: #E2E2E2;
    border: 2px dashed #CCCCCC;
    padding: 10px !important;
}
.sortStyleOps.orgin .ui-sortable-placeholder {
	background-color: #f18989;
    border: 2px dashed #5f1212;	
}

.sortStyleOps.pool .controll{display:none;}
.connectedSortable li{width:100%;}
.sortStyleOps.pool.connectedSortable li {cursor: move;font-size: 11px;line-height: 11px;width: 75px;overflow: hidden;}
.opacity_area{}
.opacity_area .controll input{width:35px;}
.opacity{width:150px;display:inline-block;}

.weight_area .controll input{width:35px;}
.weight{width:150px;display:inline-block;}



/*#smaple_area fieldset {background: url("/Content/images/big_logo.png") no-repeat scroll center center transparent;}
#smaple_area fieldset:hover {background: url("/Content/images/big_logo.png") no-repeat scroll center center transparent;}
#map_canvas{opacity: 0.5;}*/

.option_handle{
    background: url(../../images/drag_handle.png) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #E2E2E2;
    display: inline-block;
    float: left;
    height: 45px;
    width: 15px;
	cursor:move;
}
.sortStyleOps .lable{
	
	}
.clone_pool{display:none;}



.LEVEL_TABS li .ui-icon-close { float: right; margin: 0.4em 0.2em 0 0; cursor: pointer; }


#content #main .summaryCol ul h3{    
	height: 20px;
	line-height: 20px;
	padding: 0 0 0 5px; font-weight:bold;
}
#content #main .summaryCol ul .fsize_1 h3{font-size: 0.60em;}
#content #main .summaryCol ul .fsize_2 h3{font-size: 0.70em;}
#content #main .summaryCol ul .fsize_3 h3{font-size: 0.85em;}
#content #main .summaryCol ul .fsize_4 h3{font-size: 0.90em;}
#content #main .summaryCol ul .fsize_5 h3{font-size: 1.15em;}


#content #main .summaryCol ul .name{display: inline-block;height: 28px;width: 100%;}
#content #main .summaryCol ul .previewMap{display: inline-block;}
#content #main .summaryCol ul h3 span{
	font-size:13px;
	color:#262A2D;
}


#infotabs .ui-tabs-nav  .edit{clear: right; float: right; cursor:pointer;}
#infotabs .ui-tabs-nav  .ui-icon-close{clear:right;float:right;margin:0px;}




/* nav sorter */
		ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.sortable {
			margin: 4em 0;
			min-height: 35px;
		}
		
		.sortable li {
			margin: 5px 0 0 0;
			padding: 0;
		}
		
		.sortable li div  {
			/*font-size: 38px;*/
    		min-height: 29px;
			border: 1px solid #d4d4d4;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			padding: 6px;
			margin: 0;
			cursor: move;
			background: #f6f6f6;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
			position: relative;
		}
		.sortable.pool li div span {display:none;}
		.sortable li div .ADDELE {display:none;}
		.sortable.pool li div .ADDELE,.sortable.pool li div .ADDELE span {display:block;}
		.sortable.pool div{cursor:default;}
		
		
		
		.sortable li.inactive {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";filter: alpha(opacity=75);opacity:.75;background: #e2e2e0;}
		.sortable li.inactive div{background: #e2e2e0;}
		.sortable .childVisable.disabled{display:none !important;}
		
		.sortable .placeholder {
			border: 1px dashed #696969;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			background: #b9d7be;
		}
		.sortable .highlight{border: 1px dashed red;}
		.mjs-nestedSortable-error {
			background: #fbe3e4;
			border-color: transparent;
		}
		.sortable .nav_level_display,.sortable .nav_position_display{ font-style:italic; font-size:9px; color:#666;}
		.sortable .nav_level_display{margin-right:5px;}
		.sortable .value{font-weight:bold;}
		

		.sortable li.mjs-nestedSortable-branch div,.sortable li.depth_0.parent.mjs-nestedSortable-leaf div{
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);
		}
		.sortable li.mjs-nestedSortable-leaf div {
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bdb0b0 100%);
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bdb0b0 100%);
		}

		li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
			border-color: #999;
			background: #fafafa;
		}

		.disclose {
			cursor: pointer;
			width: 10px;
			display: none;
		}

		.sortable li.mjs-nestedSortable-collapsed > ol {
			display: none;
		}

		.sortable li.mjs-nestedSortable-branch > div > .disclose {
			display: inline-block;
		}

		.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
			content: '+ ';
		}

		.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
			content: '- ';
		}
		.sortable li.mjs-nestedSortable-leaf > div > .node_detail {display:none;}
		.sortable li.mjs-nestedSortable-leaf > div:hover > .node_detail {display:inline-block;}		
		.sortable li.mjs-nestedSortable-branch > div > .node_detail {display:none;}
		.sortable li.mjs-nestedSortable-branch > div:hover > .node_detail {display:inline-block;}

	
		
		
		
		#nav_candidates .sortable.nav.pool{ max-height:350px;overflow-y:scroll;margin: 0;}
		
		
		
		
		#onMap ol.sortable{ margin: 0 0 0 7px !important;}
		#onMap ol.sortable li div{padding:0px 1px 1px 11px !important;}
		#onMap ol.sortable li div em{pdisplay: block;
			height: 19px;
			left: 0;
			position: absolute;
			top: 0;
			width: 10px;background:transparent url(file:///C|/_SVN_/stellar/EventManager/Content/images/sorthandle.png) no-repeat left top scroll;}
		#runningOptions{ position:absolute; top:-9999em; left:-9999em;}

select .parent_op{background:transparent url(file:///C|/_SVN_/stellar/EventManager/Content/images/group_level.png) no-repeat left top scroll;}
select .child_op{background:transparent url(file:///C|/_SVN_/stellar/EventManager/Content/images/group_level.png) no-repeat 10px -20px scroll;padding-left: 30px;}
select .child_op.l3{background:transparent url(file:///C|/_SVN_/stellar/EventManager/Content/images/group_level.png) no-repeat 10px -40px scroll;padding-left: 60px;}	
		
.ui-dialog input[type="submit"]{display:none;}



/* OTPIONAL DESIGN BASED STYLES */
.event .datepicker {
  background-color: transparent;
  border: medium none;
  width: 160px  !important;
}

.event .LocationSelect{  background-color: transparent;
  border: medium none;
  width: 190px  !important;
  cursor:pointer;
  }



#wsu_ui_default .ui-widget-overlay{background:#d2d2d2 url(../../images/1920x1200-Gray.jpg) no-repeat center center; opacity:0.6;}




/* uploads dialog but look at abstraction on this one */














.media-menu {
    -moz-user-select: none;
    border-right: 1px solid #D9D9D9;
    bottom: 0;
    box-shadow: -6px 0 6px -6px rgba(0, 0, 0, 0.2) inset;
    left: 0;
    margin: 0;
    padding: 16px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.media-menu > a {
    color: #21759B;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 4px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.media-menu > a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);
    color: #21759B;
}
.media-menu > a:active {
    outline: 0 none;
}
.media-menu .active, .media-menu .active:hover {
    color: #333333;
    font-weight: bold;
}
.media-menu .separator {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #DFDFDF;
    height: 0;
    margin: 12px 20px;
    padding: 0;
}
.media-router {
    -moz-user-select: none;
    clear: both;
    margin: 0;
    padding: 0 6px;
    position: relative;
}
.media-router > a {
    border-right: 1px solid #DFDFDF;
    float: left;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding: 2px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.media-router > a:last-child {
    border-right: 0 none;
}
.media-router > a:active, .media-router > a:focus {
    outline: 0 none;
}
.media-router .active, .media-router .active:hover {
    color: #333333;
}
.media-router .active:after {
    background: none repeat scroll 0 0 #F5F5F5;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    content: "";
    display: block;
    height: 7px;
    margin: -100px auto 0;
    transform: rotate(45deg) translate(75px, 75px);
    width: 7px;
    z-index: 300;
}
.media-frame {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.media-frame-menu {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 199px;
    z-index: 150;
}
.media-frame-title {
    height: 45px;
    left: 200px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
}
.media-frame-router {
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    height: 30px;
    left: 200px;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 200;
}
.media-frame-content {
    bottom: 61px;
    height: auto;
    left: 200px;
    margin: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 75px;
    width: auto;
}
.media-frame-toolbar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DFDFDF;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    bottom: 0;
    box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.1);
    height: 60px;
    left: 200px;
    position: absolute;
    right: 0;
    z-index: 100;
}
.media-frame.hide-menu .media-frame-title, .media-frame.hide-menu .media-frame-router, .media-frame.hide-menu .media-frame-toolbar, .media-frame.hide-menu .media-frame-content {
    left: 0;
}
.media-frame.hide-menu .media-frame-menu {
    left: -200px;
}
.media-frame.hide-toolbar .media-frame-content {
    bottom: 0;
}
.media-frame.hide-toolbar .media-frame-toolbar {
    bottom: -61px;
}
.media-frame.hide-router .media-frame-content {
    top: 45px;
}
.media-frame.hide-router .media-frame-router {
    display: none;
}
.media-frame.hide-router .media-frame-title {
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
}
.media-frame .media-toolbar .add-to-gallery {
    display: none;
}
.media-frame-title h1 {
    font-size: 22px;
    font-weight: 200;
    line-height: 45px;
    margin: 0;
    padding: 0 16px;
}
.media-frame .media-iframe {
    overflow: hidden;
}
.media-frame .media-iframe, .media-frame .media-iframe iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}
.media-frame select.attachment-filters {
    margin-right: 10px;
    margin-top: 11px;
}
.media-frame .search {
    color: #464646;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-top: 11px;
    padding: 4px;
}
.media-toolbar-secondary .search {
    margin-right: 16px;
}
.attachments {
    margin: 0;
    padding-right: 16px;
}
.attachment {
    -moz-user-select: none;
    color: #464646;
    float: left;
    list-style: none outside none;
    margin: 0 10px 20px;
    padding: 0;
    position: relative;
    text-align: center;
}
.selected.attachment {
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 3px #CCCCCC;
}
.details.attachment {
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;
}
.attachment-preview {
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    height: 199px;
    position: relative;
    width: 199px;
}
.attachment .icon {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20%;
}
.attachment .thumbnail {
    display: block;
    left: 0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.attachment-preview .thumbnail:after {
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    content: "";
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.attachment .thumbnail img {
    left: 0;
    top: 0;
}
.attachment .thumbnail .centered {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(50%, 50%);
    width: 100%;
}
.attachment .thumbnail .centered img {
    transform: translate(-50%, -50%);
}
.attachment .filename {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    font-weight: bold;
    left: 0;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    word-wrap: break-word;
}
.attachment .filename div {
    padding: 5px 10px;
}
.attachment-preview .thumbnail {
    height: 199px;
    width: 199px;
}
.attachment .thumbnail img {
    position: absolute;
}
.attachment .close {
    background-color: #FFFFFF;
    background-position: -96px 4px;
    border-radius: 3px 3px 3px 3px;
    border-width: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    color: #464646;
    display: none;
    font-size: 20px;
    height: 22px;
    line-height: 20px;
    padding: 0;
    position: absolute;
    right: 5px;
    text-align: center;
    text-decoration: none;
    top: 5px;
    width: 22px;
}
.attachment .close:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
}
.attachment:hover .close {
    display: block;
}
.attachment .check {
    background: linear-gradient(to bottom, #F1F1F1, #E1E1E1) repeat scroll 0 0 #F1F1F1;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
    display: none;
    height: 24px;
    outline: 0 none;
    position: absolute;
    right: -7px;
    top: -7px;
    width: 24px;
}
.attachment .check div {
    background-position: -1px 0;
    height: 15px;
    margin: 5px;
    width: 15px;
}
.attachment .check:hover div {
    background-position: -40px 0;
}
.attachment.selected .check {
    display: block;
}
.attachment.details .check {
    background: linear-gradient(to bottom, #1E8CBE, #0074A2) repeat scroll 0 0 #1E8CBE;
    box-shadow: 0 0 0 1px #1E8CBE;
}
.attachment.details .check div {
    background-position: -21px 0;
}
.attachment.details .check:hover div {
    background-position: -60px 0;
}
.media-frame .attachment .describe {
    border-radius: 0 0 0 0;
    display: block;
    font-size: 12px;
    margin: -1px 0 0;
    padding: 8px;
    position: relative;
    width: 100%;
}
.media-frame .attachments-browser {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.attachments-browser .media-toolbar {
    height: 50px;
    right: 300px;
}
.attachments-browser .media-toolbar-primary > .media-button, .attachments-browser .media-toolbar-primary > .media-button-group, .attachments-browser .media-toolbar-secondary > .media-button, .attachments-browser .media-toolbar-secondary > .media-button-group {
    margin-top: 10px;
}
.attachments-browser .attachments, .attachments-browser .uploader-inline {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 300px;
    top: 50px;
}
.attachments-browser .instructions {
    color: #999999;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
}
.media-progress-bar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px;
    height: 10px;
    margin: 10px auto;
    position: relative;
    width: 70%;
}
.media-progress-bar div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
    height: 10px;
    min-width: 20px;
    transition: width 300ms ease 0s;
    width: 0;
}
.media-uploader-status .media-progress-bar {
    display: none;
    width: 100%;
}
.uploading.media-uploader-status .media-progress-bar {
    display: block;
}
.attachment-preview .media-progress-bar {
    left: 15%;
    margin: -5px 0 0;
    position: absolute;
    top: 50%;
    width: 70%;
}
.media-uploader-status {
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 10px;
    position: relative;
}
.media-sidebar .media-uploader-status {
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF;
}
.uploader-inline .media-uploader-status h3 {
    display: none;
}
.media-uploader-status .upload-details {
    color: #666666;
    display: none;
    font-size: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.uploading.media-uploader-status .upload-details {
    display: block;
}
.media-uploader-status .upload-detail-separator {
    padding: 0 4px;
}
.media-uploader-status .upload-count {
    color: #464646;
}
.media-uploader-status .upload-dismiss-errors, .media-uploader-status .upload-errors {
    display: none;
}
.errors.media-uploader-status .upload-dismiss-errors, .errors.media-uploader-status .upload-errors {
    display: block;
}
.media-uploader-status .upload-dismiss-errors {
    text-decoration: none;
}
.media-sidebar .media-uploader-status .upload-dismiss-errors {
    position: absolute;
    right: 0;
    top: 0;
}
.upload-errors .upload-error {
    background: none repeat scroll 0 0 #FFEBE8;
    border: 1px solid #CC0000;
    border-radius: 3px 3px 3px 3px;
    margin: 8px auto 0;
    padding: 8px;
}
.upload-errors .upload-error-label {
    background: linear-gradient(to bottom, #EE0000, #AA0000) repeat scroll 0 0 #EE0000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 8px;
    padding: 2px 4px;
}
.upload-errors .upload-error-message {
    color: #BB4444;
    display: block;
    padding-top: 8px;
    word-wrap: break-word;
}
.uploader-window {
    background: none repeat scroll 0 0 rgba(0, 86, 132, 0.9);
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity 250ms ease 0s;
    z-index: 250000;
}
.uploader-window-content {
    border: 1px dashed #FFFFFF;
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.uploader-window h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 200;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.uploader-window .media-progress-bar {
    background: none repeat scroll 0 0 transparent;
    border-color: #FFFFFF;
    display: none;
    margin-top: 20px;
    max-width: 300px;
}
.uploader-window .media-progress-bar div {
    background: none repeat scroll 0 0 #FFFFFF;
}
.uploading .uploader-window .media-progress-bar {
    display: block;
}
.media-frame .uploader-inline {
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.uploader-inline-content {
    left: 0;
    position: absolute;
    right: 0;
    top: 30%;
}
.uploader-inline-content .upload-ui {
    margin: 4em 0;
}
.uploader-inline-content .post-upload-ui {
    margin-bottom: 2em;
}
.uploader-inline .has-upload-message .upload-ui {
    margin: 0 0 4em;
}
.uploader-inline h3 {
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    margin-bottom: 1.6em;
}
.uploader-inline .has-upload-message .upload-instructions {
    color: #464646;
    font-size: 14px;
    font-weight: normal;
}
.uploader-inline .drop-instructions {
    display: none;
}
.supports-drag-drop .uploader-inline .drop-instructions {
    display: block;
}
.uploader-inline p {
    font-size: 12px;
}
.uploader-inline .media-progress-bar {
    display: none;
}
.uploading.uploader-inline .media-progress-bar {
    display: block;
}
.uploader-inline .browser {
    display: inline-block !important;
}
.media-selection {
    height: 60px;
    left: 0;
    overflow: hidden;
    padding: 0 0 0 16px;
    position: absolute;
    right: 350px;
    top: 0;
    white-space: nowrap;
}
.media-selection .selection-info {
    display: inline-block;
    font-size: 12px;
    height: 60px;
    margin-right: 10px;
    vertical-align: top;
}
.media-selection.empty, .media-selection.editing {
    display: none;
}
.media-selection.one .edit-selection {
    display: none;
}
.media-selection .count {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 12px;
}
.media-selection .selection-info a {
    border-right: 1px solid #DFDFDF;
    color: #21759B;
    display: block;
    float: left;
    line-height: 16px;
    margin: 1px 8px 1px -8px;
    padding: 1px 8px;
    text-decoration: none;
}
.media-selection .selection-info a:hover {
    background: none repeat scroll 0 0 #21759B;
    border-color: transparent;
    color: #FFFFFF;
}
.media-selection .selection-info a:last-child {
    border-right: 0 none;
    margin-right: 0;
}
.media-selection .selection-info .clear-selection {
    color: red;
}
.media-selection .selection-info .clear-selection:hover {
    background: none repeat scroll 0 0 red;
}
.media-selection .selection-view {
    display: inline-block;
    vertical-align: top;
}
.media-selection .attachments {
    display: inline-block;
    height: 48px;
    margin-top: 5px;
    overflow: hidden;
    vertical-align: top;
}
.media-selection .attachment .icon {
    width: 50%;
}
.attachment.selection.selected {
    box-shadow: none;
}
.attachment.selection.details {
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 4px #1E8CBE;
}
.media-selection .attachment.selection.details {
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 3px #1E8CBE;
}
.media-selection:after {
    background-image: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}
.media-selection .attachment .filename {
    display: none;
}
.media-frame .spinner {
    background: url("../wp-includes/images/wpspin.gif") no-repeat scroll 0 0 / 16px 16px transparent;
    display: none;
    height: 16px;
    margin: 0;
    opacity: 0.7;
    width: 16px;
}
.media-sidebar .settings-save-status {
    background: none repeat scroll 0 0 #F5F5F5;
    float: right;
    text-transform: none;
    z-index: 10;
}
.media-sidebar .settings-save-status .spinner {
    margin: 0 5px;
}
.media-sidebar .settings-save-status .saved {
    display: none;
    float: right;
}
.media-sidebar .save-waiting .settings-save-status .spinner, .media-sidebar .save-complete .settings-save-status .saved {
    display: block;
}
.attachment-details {
    overflow: auto;
    position: relative;
}
.attachment-info {
    border-bottom: 1px solid #E5E5E5;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #999999;
    line-height: 18px;
    margin-bottom: 16px;
    min-height: 60px;
    overflow: hidden;
    padding-bottom: 11px;
}
.attachment-info .filename {
    color: #464646;
    font-weight: bold;
    word-wrap: break-word;
}
.attachment-info .thumbnail {
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    max-height: 120px;
    max-width: 120px;
    position: relative;
}
.uploading .attachment-info .thumbnail {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
    height: 80px;
    width: 120px;
}
.uploading .attachment-info .media-progress-bar {
    margin-top: 35px;
}
.attachment-info .thumbnail:after {
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    content: "";
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.attachment-info .thumbnail img {
    display: block;
    margin: 0 auto;
    max-height: 120px;
    max-width: 120px;
}
.attachment-info .details {
    float: left;
    font-size: 12px;
    max-width: 100%;
}
.attachment-info .edit-attachment, .attachment-info .refresh-attachment, .attachment-info .delete-attachment {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}
.attachment-info .refresh-attachment, .attachment-details.needs-refresh .attachment-info .edit-attachment {
    display: none;
}
.attachment-details.needs-refresh .attachment-info .refresh-attachment, .attachment-info .edit-attachment {
    display: block;
}
.attachment-info .delete-attachment {
    color: #BC0B0B;
}
.attachment-info .delete-attachment:hover {
    color: red;
}
.attachment-display-settings {
    float: left;
    overflow: hidden;
    width: 100%;
}
.attachment-display-settings h4 {
    margin: 1.4em 0 0.4em;
}
.gallery-settings {
    overflow: hidden;
}
.embed-url {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    padding: 0 16px 7px;
    position: relative;
    z-index: 250;
}
.media-frame .embed-url input {
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1) inset;
    font-size: 18px;
    min-width: 200px;
    padding: 12px 14px;
    width: 100%;
}
.media-frame .embed-url .spinner {
    position: absolute;
    right: 26px;
    top: 16px;
}
.media-frame .embed-loading .embed-url .spinner {
    display: block;
}
.embed-link-settings, .embed-image-settings {
    background: none repeat scroll 0 0 #F5F5F5;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 16px 16px 32px;
    position: absolute;
    right: 0;
    top: 57px;
}
.media-embed .thumbnail {
    float: left;
    max-height: 200px;
    max-width: 100%;
    position: relative;
}
.media-embed .thumbnail img {
    display: block;
    max-height: 200px;
}
.media-embed .thumbnail:after {
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    content: "";
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.media-embed .setting {
    clear: both;
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
}
.media-embed .setting span {
    color: #999999;
    display: block;
    font-size: 13px;
    line-height: 24px;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 200px;
}
.media-embed .setting .button-group {
    margin: 2px 0;
}
.media-embed .setting input, .media-embed .setting textarea {
    display: block;
    margin: 1px 0;
    max-width: 400px;
    width: 100%;
}
.ie7 .media-frame .attachments-browser {
    position: static;
}
.ie7 .media-frame .embed-url input {
    margin-top: 4px;
    width: 90%;
}
.ie7 .compat-item {
    width: 99%;
}
.ie7 .attachment-display-settings {
    width: auto;
}
.ie7 .attachment-preview, .ie7 .attachment-preview .thumbnail {
    height: 120px;
    width: 120px;
}
.ie7 .media-frame .attachment .describe {
    width: 102px;
}
.ie7 .media-sidebar .setting select {
    max-width: 55%;
}
.ie7 .media-sidebar .setting input, .ie7 .media-sidebar .setting textarea {
    width: 55%;
}
.ie7 .media-sidebar .setting .link-to-custom {
    float: left;
}
.media-frame-content .media-toolbar-primary .search, .media-frame-content .media-toolbar-secondary .attachment-filters {
    max-width: 120px;
}
.media-frame-menu {
    width: 139px;
}
.media-menu > a {
    padding: 4px 10px;
}
.media-frame-title, .media-frame-router, .media-frame-content, .media-frame-toolbar {
    left: 140px;
}
.media-sidebar {
    padding: 0 10px 24px;
    width: 159px;
}
.attachments-browser .attachments, .attachments-browser .uploader-inline, .attachments-browser .media-toolbar {
    right: 180px;
}
.media-sidebar .setting input, .media-sidebar .setting textarea, .media-sidebar .setting span, .compat-item label span {
    float: none;
}
.media-sidebar .setting span, .compat-item label span {
    display: block;
    margin: 0;
    min-height: 16px;
    padding: 8px 2px 0;
    text-align: inherit;
}
.media-sidebar .setting input, .media-sidebar .setting textarea, .media-sidebar .setting select {
    max-width: none;
    width: 98%;
}
.media-sidebar .setting select.columns {
    width: auto;
}
.media-frame input, .media-frame textarea, .media-frame .search {
    padding: 3px 6px;
}
.media-frame-content .attachment .icon {
    top: 40%;
}
.media-selection {
    min-width: 120px;
}
.media-selection:after {
    background: none repeat scroll 0 center transparent;
}
.media-selection .attachments {
    display: none;
}
.media-menu .separator {
    margin: 12px 10px;
}
.media-frame-content .media-toolbar .instructions {
    display: none;
}
.media-frame-content .media-toolbar .search, .media-frame-content .media-toolbar .attachment-filters {
    max-width: 85px;
}
.media-modal {
    position: absolute;
    width: 540px;
}
.media-modal-backdrop {
    position: absolute;
    width: 600px;
}
.media-modal-icon {
    background-image: url("../wp-includes/images/uploader-icons-2x.png");
    background-size: 134px 15px;
}
.media-frame .spinner {
    background-image: url("../wp-includes/images/wpspin-2x.gif");
}


























/* docs */


.method_block{color: #5E6A71;font-size: 1.2em;line-height: 1.5em; display:block;}

