html,body{height:auto;}
fieldset legend{
	color: #323232;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-top: -3px;
}
fieldset fieldset legend{
	color: #454545;
	font-size: 15px;
	margin-top: -3px;
}
.sudoHide{position:absolute;top:-999em;left:-9999em;}
.clear{clear:both;}



body {background:url(../images/general/bg.jpg) repeat-x #edefef;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,san-serif;margin:0px;padding:0px;text-align:left;background-color:#EEEFF1;color:#262a2d;}
#logo,#globalnav ul,#nav #featured,#toolbar p,form,#logo img {margin:0px;padding:0px;}
img {border:none;}
a {color:#003c69;text-decoration:underline;}
a:visited {color:#5e6a71;text-decoration:underline;}
a:hover {color:#981e32;text-decoration:none;}
#logo {float:left;height:105px;width:185px;background:url(../images/general/bg-logo2.jpg);display:inline;}
#wrapper {width:976px;position:relative;margin:0 auto;padding-left:10px;background:url(../images/general/bg-shadows.jpg) 0px 68px no-repeat;background-image:url(../images/general/bg-shadows2.jpg);background-position:970px 30px;}
#globalnav {font-size:x-small;font-weight:normal;width:960px;height:25px;line-height:2em;color:#fff;padding-top:5px;}
#globalnav ul {list-style-image:none;text-align:right;padding-right:18px; padding-left:0px;margin:0px;}
#globalnav li {display:inline;padding-left:20px;}
#globalnav a {text-decoration:none;color:#fff;}
#globalnav a:hover {color:#e7e9ea;}
#globalnavsearchform{display:inline;}
#globalnavsearchform input{width:125px;border:#5e6a71 1px solid;color:#5e6a71;font-size:9px;height:14px;padding-bottom:0px;text-align:center;}
#searchbuttonimg{padding-top:3px;padding-left:3px;}
#siteID {height:85px;float:left;width:775px;color:#fff;background:#981e32 url(../images/general/sid-zs.jpg) no-repeat;}
#siteID h2 {font-weight:normal;font-size:small;padding:21px 0px 0px 22px;margin:0px;width:580px;color:#fff;}
#siteID h1 {padding:0px 0px 0px 22px;font-size:1.65em;font-weight:bold;letter-spacing:-0.05em;width:580px;margin:0px;color:#fff;}
#wrapper #toolbar {height:20px;width:775px;float:left;background-color:#E7E9EA;line-height:20px;font-size:x-small;text-align:right;font-weight:normal;}
#toolbar ul {display:inline;list-style-image:none;padding-right:22px;}
#toolbar li {display:inline;padding:0px 0px 0px 15px;}
#toolbar a {color:#5e6a71;text-decoration:none;font-weight:normal;}
#toolbar a:hover {color:#981e32;}
#toolbar .toolbargreeting {float:left;}
#content {width:960px;vertical-align:top;padding:0px;}
#content p {margin:0px;padding-bottom:12px;line-height:1.6em;}
#content #main ul,#content #secondary ul,#content #additional ul,#content #main ol,#content #secondary ol,#content #additional ol {line-height:1.6em;margin-top:0px;padding-top:0px;padding-bottom:0px;margin-bottom:0px;}
#content #main li,#content #secondary li,#content #additional li {margin-top:5px;margin-left:0px;margin-bottom:5px;margin-right:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}
#content #main ul,#content #secondary ul,#content #additional ul {list-style-type:square;margin-left:15px;padding:0px 0px 0px 20px;}
#content ol h1,#content ol h2,#content ol h3,#content ol h4,#content ol h5,#content ol h6 {padding-bottom:0px;}
#content ul h1,#content ul h2,#content ul h3,#content ul h4,#content ul h5,#content ul h6 {padding-bottom:0px;}
/**/#wrapper #content {background:url(../images/general/bg-content.gif) repeat-y right top;}
#nav {width:151px;float:left;font-size:0.7em;line-height:1.2em;font-weight:normal;background-color:#fff;background:url(../images/general/bg-nav.jpg) no-repeat #edefef;padding:0 10px 100px 24px;}
#nav li {padding:3px 0;list-style:none;}
#nav ul {list-style-type:none;display:block;padding:0 0 15px;margin:13px 0 0;}
#nav ul ul,#nav ul ul ul {padding:3px 0 3px 15px;margin:0;}
#nav a {display:block;color:#5e6a71;text-decoration:none;}
#nav a:hover {color:#262a2d;}
#nav .navparentpath {}
#nav .navcurrentpage {color:#981e32;}
#nav a.navcurrentpage:hover {color:#262a2d;}
#nav .navdivider {border-top:1px #ebebed solid;padding:10px 0 0;margin:0;}
#nav #featured {font-size:1.1em;line-height:1.3em;padding:0;background-repeat:repeat-y;}
#nav #featured a {color:#981e32;}
#nav #featured a:hover {color:#5e6a71;}
#nav #featured ul {padding:0px;list-style-type:none;margin:0 0 2px;padding:5px 0px;border:1px solid #ebebed;border-right:none;border-left:none;}
#nav #featured li {padding:3px 0;}
#wrapper #content #nav #featured {background:url(../images/general/bg-featured.jpg) repeat-y;}/**/
#home {float:left;overflow:hidden;display:none;}
#home img {padding:0px;margin:0px;}
#content h6,#content h5,#content h4,#content h3,#content h2,#content h1 {margin:0px;padding:0px 0px 6px;letter-spacing:0em;font-weight:normal;}
#content h6,#content h5,#content h4 {padding:0px 0px 5px;}
#content h1 {font-size:2.2em;line-height:1.2em;}
#content h2 {font-size:1.8em;line-height:1.3em;}
#content h3 {font-size:1.5em;line-height:1.4em;}
#content h4 {font-weight:bold;font-size:1.2em;line-height:1.5em;}
#content h5 {font-weight:bold;font-size:1em;line-height:1.6em;}
#content h6 {font-weight:normal;font-size:.8em;line-height:1.7em;color:#262a2d;}
#content h2,#content h4,#content h5 {color:#5e6a71;}
#content h3,#content h1 {color:#981e32;}
#main {width:731px;float:left;padding-left:22px;background-color:#fff;padding-right:22px;}
#main,#secondary,#additional {padding-top:20px;float:left;font-size:0.75em;background-color:#fff;}
#wrapper #content #secondary {display:none;}
#additional {display:none;}
#wrapper #content #localfooter {clear:both;background-image:none;text-align:center;padding-top:65px;padding-left:195px;padding-right:10px;display:block;font-size:x-small;line-height:1.4em;}
#wsufooter {clear:both;width:960px;position:relative;text-align:center;height:50px;font-size:x-small;margin-left:auto;margin-right:auto;padding:15px 0px 0px 0px;}
#wsufooter {background:url(../images/general/bg-wsufooter2.png) no-repeat right top;padding-top:40px;padding-left:195px;padding-right:16px;width:775px;}/**/
#wsufooter a {color:#868f95;text-decoration:none;}
#wsufooter a:hover {color:#5e6a71;text-decoration:none;}
#content h5,#content h6 { font-family:"Lucida Grande","Lucida Sans Unicode",Arial,san-serif; }
 #content h1 { letter-spacing:-0.02em; }
.crimson{color:#981e32}
.bold1{color:#5e6a71}
.bold2{color:#452325}
.bold3{color:#003c69}
.bold4{color:#c60c30}
.muted1{color:#dbceac}
.muted2{color:#b6bf00}
.muted3{color:#ec7a08}
.muted4{color:#3cb6ce}
.gray5a{color:#262a2d}
.gray5b{color:#5e6a71}
.gray5c{color:#b6bcbf}
.gray5d{color:#e7e9ea}
.tint1a{color:#efe9da}
.tint1b{color:#faf8f3}
.tint2a{color:#dee28c}
.tint2b{color:#f4f5d9}
.tint3a{color:#f6c390}
.tint3b{color:#fcebda}
.tint4a{color:#a7dee9}
.tint4b{color:#e2f4f8}








