/* Daily Evergreen Online - Home */

html,body {font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;color:#262a2d;font-size:12px;line-height:19px;margin:0;padding:0;text-align:center;/*background:#b6bcbf url(../../images/template/bkgrd.jpg) repeat-x scroll 0 0;*/}
#left_col{background:#fff;margin:5px;}
body#home{/*background:#b6bcbf url(../../images/template/bkgrd.jpg) repeat-x scroll 0 0;*/}
.img-main{max-width :377px;max-height: 245px;border :0 ;}
a{color:#5e6a71;text-decoration:none;}
a:hover{color:#7f9d6a;text-decoration:underline;}
hr{color:#ffffff;background-color:#ffffff;border:1px dotted #526e3f;border-style:none none dotted;padding-top:3px;margin:20px 0 25px 0;}

/* Layout Helpers */
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
.w550{width:550px;}




/*tinyMCE expansions  */
.tinyImgHolder{border:5px #333 solid;color:#e2e2e2;display:block;background: url(/content/images/loading-icon.gif) no-repeat center center;}

.fLeft{float:left !important;margin-right:5px;}
.fRight{float:right  !important;margin-left:5px;}

#opbar{ background-color:#333333;}

/* typography */
.upper{text-transform: uppercase;}

#bodytext {min-height:300px;}




/*ads */
#leaderboard {padding-top:2px;height:90px;overflow:hidden;}
#ads_col {width:198px;text-align:center;padding:20px 0px;}
#ads_col img {display:inline-block;text-decoration:none;border:none;margin-top:8px;}


/* Scrolling News Ticker */
div.horizontal_scroller, div.vertical_scroller {background:none;margin:0 auto;position:relative;width:100%;display:block;overflow:hidden;height:20px;padding-top:5px;}
div.scrollingtext {position:absolute;white-space:nowrap;font-size:14px;line-height:19px;font-weight:normal;color:#ffffff;}
div.scrollingtext a {color:#ffffff;margin:0px 7px;text-decoration:none;}
/* End of Scrolling News Ticker */

/*header area */
a#logo{height:51px;width:690px;display:block; text-indent: -9999em;margin-top: 0;margin-left: 0;background: url(/images/template/masthead-sm.png) no-repeat left top;margin:25px 0 10px 46px;padding:0px;}
a.section{background-color: #7F9D6A;color: #FFFFFF;display: block;font-size: 20px;font-weight: normal;letter-spacing: 1px;line-height: 25px;margin-bottom: 15px;padding: 2px 5px 1px;text-decoration: none;text-transform: uppercase;width: 304px;}
a.section:hover{background-color:#526E3F;}   
#wrapper {background:none;margin:0 auto;position:relative;width:1020px;}
#home #wrapper{padding-top:12px;}
#social_media {width:26px;position:relative;float:left;top:105px;margin-left:13px;}
#social_media a {margin-bottom:8px;display:block;}
#masthead {text-align:center;width:690px;margin:25px 0 10px 46px;padding:0px;position:relative;height:51px;}


/* Custom Search Bar */
#adv_search {width:108px;position:absolute;top:12px;right:146px;/*right:108px;*/z-index:4;color:#262a2d;font-size:10px;line-height:14px;text-transform:uppercase;text-align:right;vertical-align:middle;}
#home #adv_search {top:50px}
#adv_search a {color:#262a2d;text-decoration:none;vertical-align:middle;}
#adv_search img {float:right;margin-top:2px;margin-left:4px;width:5px;height:10px;vertical-align:middle;}
#search {width:189px;position:absolute;top:20px;left:742px;z-index:1;overflow:hidden;text-transform:uppercase;}
#home #search {top:58px;}
#search_field {z-index:2;height:12px;padding-right:20px;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10px;line-height:15px;color:#262a2d;}
#search_button {z-index:3;position:absolute;left:200px;top:2px;}
/* End of Custom Search Bar */

#content {width:926px;background-color:#ffffff;vertical-align:top;text-align:center;border:solid 1px #262a2d;/* min-height:400px; */margin:0 auto;position:relative;}
#two_cols, #left_col, #middle_col, #ads_col{float:left;vertical-align:top;background-color:#ffffff;position: relative;z-index:1;}

#two_cols {width:728px;}
#home #two_cols  {padding-top:245px;}

.searchresults .byline { padding-top:0px; padding-bottom:10px; }
#content .searchresults h3 {padding-bottom:0px;}
/* Photo/Caption Slider */

#slider {width:728px;height:245px;float:left;overflow:hidden;position:absolute;top:/*3*/0px;left:0px;}
.slider_content {width:728px;height:245px;background:url("../../images/template/slider-bkgrd.jpg") no-repeat scroll 0 0 transparent;}
.slider_photo {margin:0;width:377px;height:245px;padding:0px;}
.slider_text {width:281px;height:190px;margin-bottom:40px;padding:30px 35px 0 35px;color:#262a2d;text-align:left;font-size:16px;}
#slider .headline, #slider .subhead, #slider .byline {width:281px;}
#slider div {top:0;left:0;float:left;}
.slider_nav {float:left;width:668px;margin:8px 30px 5px 30px;text-align:left;font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;color:#262a2d;font-size:12px;line-height:19px;}
/* Photo/Caption Slider */
#left_col {width:/*628px*/auto;text-align:left;padding:30px 10px 20px 30px;}
#left_col {/* this is for TINYMCE UI */
	border: 1px solid;
    margin:0px;
    padding: 30px 10px 20px 30px;
    text-align: left;
    /*width: 626px;*/
	
	
	
 border: 1px solid #8F9497;
    border-radius: 0 10px 10px 10px;
    clear: both;
    float: left;
    margin-bottom: 25px;
    padding: 1em;
}
#left_col .input {width:400px;}
#threecols #left_col {width:404px;}
#middle_col {display:none;}
#threecols #middle_col {width:204px;display:inline;}
#home #left_col,#home #middle_col {width:304px;text-align:left;padding:20px 30px;display:block;}
#threecols #left_col,#threecols #middle_col {text-align:left;padding:20px 30px;}
.section, .headline, .subhead, .byline, p {font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;}


.subhead, .byline {color:#262a2d;}

.section {font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;color:#ffffff;font-size:20px;line-height:25px;font-weight:normal;margin-bottom:15px;text-transform:uppercase;text-decoration:none;letter-spacing:1px;display:block;width:304px;background-color:#7f9d6a;padding:2px 5px 1px 5px;}
.section a {color:#ffffff;text-decoration:none;}
.section a:hover {color:#ffffff;text-decoration:none;}

.byline {padding-top:8px;color:#262a2d;font-size:14px;line-height:18px;}

.headline a {color:#526e3f;}
.headline a:hover {color:#7f9d6a;}
.headline {color:#526e3f;font-size:26px;line-height:31px;font-weight:bold;}
#home .headline {font-size:15px;line-height:18px;margin-bottom:3px;margin-left:5px;}
#home .byline {padding-top:8px;color:#262a2d;font-size:10px;line-height:14px;margin-left:5px;}

#slider .headline {color:#526e3f;font-size:16px;line-height:21px;font-weight:bold;margin-bottom:3px;margin-left:0px;}
#slider .subhead {padding-top:1px;color:#262a2d;font-size:13px;line-height:18px;font-weight:normal;margin-bottom:10px;margin-left:0px;}
#slider .byline {padding-top:8px;color:#262a2d;font-size:10px;line-height:14px;margin-left:0px;}

#left_col #slider p, #middle_col #slider p {font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;color:#262a2d;font-size:12px;line-height:19px;margin-bottom:10px;padding:0;text-align:left;}
#home #left_col #slider p, #home #middle_col #slider p {margin-left:0px;}
#home #left_col p, #home #middle_col p {font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;color:#262a2d;font-size:12px;line-height:19px;margin:4px 0 10px 0;padding:0;text-align:left;margin-left:5px;}

#home ul {margin:0;padding:10px 0 30px 22px;}
#home li {margin-bottom:5px;font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;color:#262a2d;font-size:12px;line-height:17px;}
#home li a {color:#5e6a71;text-decoration:none;}
#home li a:hover {color:#7f9d6a;text-decoration:underline;}

#content .subhead {margin-left:5px;}

#share{width:200px;clear:both;}



.clear_both {clear:both;}
#footer_area {clear:both;}
#home #footer_area {margin-top:8px;}
#footer_area img {display:inline-block;text-decoration:none;border:none;}

#local_footer {padding-top:10px;padding-bottom:0px;color:#262a2d;}
#local_footer a {color:#262a2d;text-decoration:none;}
#local_footer a:hover {color:#526e3f;text-decoration:none;}
#global_footer {padding-bottom:10px;color:#5e6a71;}

#global_footer a {color:#5e6a71;text-decoration:none;}
#global_footer a:hover {color:#526e3f;text-decoration:none;}
/* Type Styles */

.dk_green {color:#526e3f;}.lt_green {color:#7f9d6a;}
.lt_gray {color:#b6bcbf;}
.dk_gray {color:#262a2d;}/* Header Styles */

#content ol h1,#content ol h2,#content ol h3,#content ol h4,#content ol h5,#content ol h6 {padding-bottom:0px;}
#content ul h1,#content ul h2,#content ul h3,#content ul h4,#content ul h5,#content ul h6 {padding-bottom:0px;}
#content h6,#content h5,#content h4,#content h3,#content h2,#content h1 {margin:0px;padding:0px 0px 6px;letter-spacing:0em;font-weight:normal;}
#content h6,#content h5,#content h4 {padding:0px 0px 5px;}
#content h1 {font-size:2.2em;line-height:1.2em;}
#content h2 {font-size:1.8em;line-height:1.3em;}
#content h3 {font-size:1.5em;line-height:1.4em;}
#content h4 {font-weight:bold;font-size:1.2em;line-height:1.5em;}

#content h5 {font-weight:bold;font-size:1em;line-height:1.6em;}
#content h6 {font-weight:normal;font-size:.8em;line-height:1.7em;color:#b6bcbf; /* lt gray */}
#content h2,#content h4,#content h5 {color:#7f9d6a; /* lt green */}
#content h3,#content h1 {color:#526e3f; /* dk green */}




/* comments */
#comment_comments,#comment_comments_home{width:390px;height:200px;}
#comment_comments_wrap,#comment_comments_home_wrap{background: none repeat scroll 0 0 #7F9D6A !important;width:390px !important;height:200px !important;}
#comment_comments_html,#comment_comments_home_html{width:392px !important;height:200px !important;}

#asirra_ChallengeTableDiv{width: 392px !important;height:127px !important;}
#asirra_ChallengeTableDiv a{font-size:12px !important;}
.comment_comments_tb{}
#mainForm input[type=submit]{margin-top:2px;}

.userFlagged{border:none;background:transparent url(../images/flag.png) no-repeat scroll left top;width:24px;height:24px;cursor: pointer;opacity: .5;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);margin-top: -18px; font-size:0px; text-indent:-999px;line-height:0px;}
.userFlagged:hover{opacity: 1.0;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);}
.comment_closed{display:none;}
.comments.uFlaged h3{ cursor:pointer;}
.comments.uFlaged h3 span{float:right;}
.comments.uFlaged h3 span em{font-weight:bold;}

#asirra_InstructionsTextId{display: none;}

/* clssifieds  */
#classified_main{}
#classified_main #left, #classified_main #middle, #classified_main #right {
    border-right: 1px solid #999999;
    float: left;
    margin-right: 19px;
    padding-right: 18px;
    width: 204px;
}
#classified_main #right {    border: medium none;
    margin-right: 0;
    padding-right: 0;}
.class_closed{display:none;}
#classified_main h3{    background-color: #333333;
    border-top: 1px solid #999999;
    clear: left;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    padding: 2px 3px;}
#classified_main h3:hover{background-color:#526E3F;}
#classified_main h3 span{float:right;}
#classified_main h3 span em{font-weight:bold;}
#classified_main .inner{padding:2px 2px;}

#classified_main h3.main{background-color:transparent;font-size: 13px; font-weight:bold; border:none; border-bottom:2px solid #526E3F; display:block;color:#333333;margin-bottom:5px;}
#classified_main h3.main span.num{font-size:26px;float:none;}

/* calender  */
#calendar {padding-top:40px;}




/* tabs */


#sce_tabs .left { float:left; margin:15px 15px 15px 0px; }
#sce_tabs .right { float:right; margin:15px 0px 15px 15px; }
#sce_tabs .image { margin:15px 15px; }
#sce_tabs #caption { padding-top:5px; color:#526e3f; }


#sce_tabs div.content {
	border-radius:0 10px 10px 10px;
	border: #8f9497 solid 1px;
    float:left;
	clear: both;
    padding: 1em;
	width:626px;
	margin-bottom:25px;
}

#sce_tabs ol#toc {
    /* height: 2em; */
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
	width:100%;
	float:left;
	clear:both;
}

#sce_tabs ol#toc a {
    background: /* #bdf */ url(../images/templates/tabs.gif);
    color: #5e6a71;
    display: block;
    float: left;
    height: 2em;
    padding-left: 15px;
    text-decoration: none;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
}

#sce_tabs ol#toc a:hover {
    /* background-color: #3af; */
    background-position: 0 -120px;
}

#sce_tabs ol#toc a:hover span {
    background-position: 100% -120px;
}

#sce_tabs ol#toc li {
    float: left;
    margin: 0 2px 0 0;
}

#sce_tabs ol#toc li.current a {
    /* background-color: #48f; */
    background-position: 0 -60px;
    color: #fff;
    /* font-weight: bold; */
}

#sce_tabs ol#toc li.current span {
    background-position: 100% -60px;
}

#sce_tabs ol#toc span {
    background: url(../images/templates/tabs.gif) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 15px;
}




/*  share this  */

.list_bottom_share{color:#7f9d6a; display:inline-block; float:left; padding-right:10px; text-decoration:none; border:none;}







body *{font-size:12px; color:#262a2d;padding:5px;}
.header{font-size:14px; color:#981e32; font-weight:bold;}
.headImage{float:left; background: url("/Content/images/samples/in_info_image_bk.png") repeat-x scroll 50% 50% #FFFFFF; padding:10px;margin-right:3px;}	
