<div id="localfooter" style="padding:0px;">
    <div id="wsufooter">
        <a href="http://publishing.wsu.edu/copyright/WSU.html" hidefocus="true" style="outline: medium none;">&copy; 2012 &nbsp;</a> <a href="http://www.wsu.edu" hidefocus="true" style="outline: medium none;">Washington State University</a>
    </div>
</div>



#*<div id="localfooter">
<div id="wsufooter"><a href="http://publishing.wsu.edu/copyright/WSU.html" hidefocus="true" style="outline: medium none;">&copy; 2012</a> <a href="http://www.wsu.edu" hidefocus="true" style="outline: medium none;">Washington State University</a> | <a href="http://access.wsu.edu/" hidefocus="true" style="outline: medium none;">Accessibility</a> | <a href="http://policies.wsu.edu/" hidefocus="true" style="outline: medium none;">Policies</a> | <a href="http://publishing.wsu.edu/copyright/WSU.html" hidefocus="true" style="outline: medium none;">Copyright</a> | <a href="mailto:jeremy.bass@wsu.edu?subject=${campus}%20map%20has%20an%20error&body=">Report Errors</a> </div></div>
*#