
	#* *#
	#* NOTE: This is where you can change the dropdowns *#
	#* *#
	#set($type = "clinical")

	#set($not_props = $objectService.explode("name,alias,publish_time,post_type,outputError,editing,owner,baseid,published,checksum,filehash,static_file,url,position,sort,revision,version,deleted,is_active,is_default,is_visible,is_core,is_visible_to_others,is_frontend,is_admin,admin_url,is_link,is_editable,is_frontend_editable,is_Public,protect_post,is_deletable,is_cachable,is_trackable,loads_file,tmp,gets_media,gets_url,is_tabable_content,is_summarizable,is_taggable,gets_metadata,is_taxonomyable,is_categorized,is_templatable,parent,children,menuoptions,seen,options,theme,users,taxonomy_types,taxonomies,site,meta_data,meta_data_date,meta_data_geo,editable,root,logings,references,updated_date,creation_date,id,record_id,ln_clinical_t,content"))
	
	<article class="grid col-full">
	<form id="contact_form" class="contact_form" action="/center/saveclinical.castle" method="post" name="contact_form">
	  <input type="hidden" name="item.baseid" value="$!item.baseid" />
	  
		<article id="navtabs" class="grid col-full">
		  <article class="grid col-full">
			<h2 id="header_title">
			  #if(!$item.baseid || $item.tmp)New #end Clinical Trial/Study </h2>
			  <ul class="grid col-one-full mq2-col-full full-input">		  
					<li>
					#* name *#
						#set($daval = $!item.name)
						#feild_textinput("$type" "name" $daval "" "" "" "")
					</li>
					<li>
					#* title *#
						#set($daval = $!item.title)
						#feild_textinput("$type" "title" $daval "" "" "" "")
					</li>
				</ul>
		  </article>
		  <hr/>
		  <div class="">
			<div class="">
#* *#
#* tab7 ------------ *#
#* *#
			<article id="tab7" class="">
				<h3>Study</h3><hr/>
				#parse("center/types_tabs/clinical/tab7.vm")
				<div style="clear:both;"></div>
			</article>
						
#* *#
#* tab1 ------------ *#
#* *#
			<article id="tab1" class="">
				<h3>Drugs</h3><hr/>
				#parse("center/types_tabs/clinical/tab1.vm")
				<div style="clear:both;"></div>
			</article>

#* *#
#* tab2 ------------ *#
#* *#
			<article id="tab2" class="">
				<h3>Pharmacology</h3><hr/>
				#parse("center/types_tabs/clinical/tab2.vm")
				<div style="clear:both;"></div>
			</article>

#* *#
#* tab3 ------------ *#
#* *#
			<article id="tab3" class="">
				<h3>Efficacy</h3><hr/>
				#parse("center/types_tabs/clinical/tab3.vm")
				<div style="clear:both;"></div>
			</article>

#* *#
#* tab5 ------------ *#
#* *#
			<article id="tab5" class="">
				<h3>Adverse Events</h3><hr/>
				#parse("center/types_tabs/clinical/tab5.vm")
				<div style="clear:both;"></div>
			</article>
			
#* *#
#* tab6 ------------ *#
#* *#
			<article id="tab6" class="">
				<h3>Resistance</h3><hr/>
				#parse("center/types_tabs/clinical/tab6.vm")
				<div style="clear:both;"></div>
			</article>
#* *#
#* tab8 ------------ *#
#* *#
			<article id="tab8" class="">
				<h3>Discontinuation</h3><hr/>
				#parse("center/types_tabs/clinical/tab8.vm")
				<div style="clear:both;"></div>
			</article>
#* *#
#* tab4 ------------ *#
#* *#
			<article id="tab4" class="">
				<h3>Durability</h3><hr/>
				#parse("center/types_tabs/clinical/tab4.vm")
				<div style="clear:both;"></div>
			</article>

		</div>
	</article>
	  <article class="grid col-full">
		  <hr/>
		  <ul class="grid col-one-full mq2-col-full full-input">
			#parse("center/assests/save_bar.vm")
		  </ul>
	  </article>
	  
	  <article class="grid col-full">
	  		#if(!$skiplayout && !$item.baseid)
			<ul>
				<li><h2>Save to add ties to Drugs or Regimens</h2></li>
			</ul> #end
		#if(!$skiplayout && $item.baseid>0)
		  <hr/>
		  <ul class="grid col-one-full mq2-col-full full-input">
				<li>
					#* Treatmentdata *#
					#set($typed_list = $item.treatments)
					#parse("center/model_tie_tables/treatment.vm")
				</li>
		  </ul>
			#set($type="clinical")
			#parse("center/ref.vm")
		#end
		</article>
	</form>
	</article>
