<article class="grid col-full">
	
	<h2>Regimens #if(!$skiplayout)<a href="treatment.castle" class="button  xl right"><i class="icon-plus blue" title="Add"></i> New</a>#end</h2>
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="data" width="100%">
		<thead>
			<tr>
				<th width="15%">Record ID</th>
				<th>Acroynm</th>
				<th width="20%">action</th>
			</tr>
		</thead>
		<tbody>
		#foreach($item in $items)
			<tr class="#if($velocityCount%2<1)even #else odd #end rec_$item.record_id" data-baseid="$item.baseid">
				<td>$item.record_id</td>
				<td>$item.acroynm</td>
				<td>#if(!$skiplayout)<a href="treatment.castle?id=$item.baseid" class="button small">View</a></td>
			</tr>
		#end
		</tbody>
		<tfoot>
	</table>
</article>