<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <component id="RescueController.controller" type="stellar.Controllers.RescueController, stellar" />
    <!--<component id="cal_events.controller" type="stellar.Controllers.cal_eventsController, stellar" />-->
    <component id="admin.controller" type="stellar.Controllers.adminController, stellar" />
    <component id="public.controller" type="stellar.Controllers.publicController, stellar" />
    <component id="media.controller" type="stellar.Controllers.mediaController, stellar" />
    <component id="group.controller" type="stellar.Controllers.groupController, stellar" />
    <component id="users.controller" type="stellar.Controllers.usersController, stellar" />
    <component id="tags.controller" type="stellar.Controllers.tagsController, stellar" />
    <component id="post.controller" type="stellar.Controllers.postController, stellar" />
    <component id="fields.controller" type="stellar.Controllers.fieldsController, stellar" />
    <component id="file.controller" type="stellar.Controllers.fileController, stellar" />
    <component id="install.controller" type="stellar.Controllers.installController, stellar" />
    <component id="feed.controller" type="stellar.Controllers.feedController, stellar" />
    <component id="center.controller" type="stellar.Controllers.centerController, stellar" />
    <component id="visible_editor.controller" type="stellar.Controllers.visible_editorController, stellar" />
  </components>
</configuration>