<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <properties>
    <!--<connectionString name="main_connection">Server=ur-db1.it.wsu.edu;Initial Catalog=stellar;Persist Security Info=True;User ID=mcweb_usr;Password=G1raffe()</connectionString>-->
    <connectionString name="main_connection">Data Source=localhost\SqlExpress; Trusted_Connection=true; Initial Catalog=research_site; connection timeout=30</connectionString>
	</properties>
</configuration>