#if(!$viewonly && $signedin && !$skiplayout)
	<div class="pubstate menuaction" style="float:right; font-size:10px !important; display: inline-block; height: 28px; margin-right: 15px !important;">
		<input type="radio" id="pubstate2" name="pub" class="button" value="0"  #if($published==false && !$trashlist)checked="checked"#end/>
			<label for="pubstate2" style="display:inline-block;text-shadow:none;"> #if($published==false && !$trashlist)<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end &nbsp;&nbsp;Draft&nbsp;&nbsp;&nbsp;(&nbsp;$!draft_count&nbsp;)</label>
		<input type="radio" id="pubstate1" name="pub" class="button" value="1" #if($published!=false && !$trashlist)checked="checked"#end/>
			<label for="pubstate1" style="display:inline-block;text-shadow:none;"> #if($published!=false && !$trashlist)<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end &nbsp;&nbsp;Published&nbsp;&nbsp;&nbsp;(&nbsp;$!pub_count&nbsp;)</label>
			
		<input type="radio" id="pubstate3" name="trash" class="button" value="1" #if($trashlist)checked="checked"#end/>
			<label for="pubstate3" style="display:inline-block;text-shadow:none;"> #if($trashlist)<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end &nbsp;&nbsp;Trash&nbsp;&nbsp;&nbsp;(&nbsp;$!trash_count&nbsp;)</label>
			
	</div>
#end