#if(!$viewonly && $signedin && !$skiplayout)
	<div class="pubstate menuaction" style="font-size:0.25em; display: inline-block; height: 28px; margin-left: 15px ! important;">
		<input type="radio" id="pubstate2" name="pub" class="button" value="0"  #if($published==false)checked="checked"#end/>
			<label for="pubstate2" style="display:inline-block;text-shadow:none;"> #if($published==false)<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end Draft ($!draft_count)</label>
		<input type="radio" id="pubstate1" name="pub" class="button" value="1" #if($published!=false)checked="checked"#end/>
			<label for="pubstate1" style="display:inline-block;text-shadow:none;"> #if($published!=false)<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end Published ($!pub_count)</label>
	</div>
#end