#* drugdata *#
<label for="DDIdata">Trail Arm's Drug to Drug Interactions:</label>
<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="DDIdata" width="100%">
	<thead>
		<tr>
			<th width="15%" id="ddi_drug_product">Drug Product</th>
			<th width="15%">Trial Arm</th>
			<th width="15%">With these substances</th>
			<th width="10%">Interactions</th>
			<th width="5%">Amount</th>
			<th>Description</th>
			
		</tr>
	</thead>
	<tbody>
	#foreach($drug in $!item.drugs)
		#foreach($arm in $drug.clinicals)
			#foreach($ddi in $!arm.interactions)
				<tr class=""  data-baseid="$part.baseid">
					<td>
					
						#if($drug.baseid == $!ddi.drug)
						<a href="drug.castle?id=$drug.baseid" class="drug_inline_edit" data-type="drug" data-baseid="$drug.baseid">
							
							$drug.dose_form -- $!drug.name 
							#if($!part.manufacturer || $!drug.label_claim )
								( $!drug.manufacturer 
								#if($!part.manufacturer && $!drug.label_claim )|#end
								 $!drug.label_claim $!drug.dose_unit )
							#end <i>{id: $drug.baseid}</i><i class="icon-edit" title="Edit"></i>
						</a>
						#end
					</td>		
					<td>
						<a href="clinical.castle?id=$arm.baseid" class="trial_inline_edit" data-type="clinical" data-baseid="$arm.baseid">
							
							$arm.name <i>{id: $arm.baseid}</i> <i class="icon-edit" title="Edit"></i>
						</a>
					</td>
					<td>
						#foreach($part in $ddisubstances)
							#if($part.baseid == $!ddi.substance)
								$!postingService.get_taxonomy($part.generic_name).name #if($!part.abbreviated)( $!part.abbreviated )#end 
							#end
						#end
						#foreach($part in $ddi_only)
							#if($part.baseid == $!ddi.substance)
								$!postingService.get_taxonomy($part.generic_name).name #if($!part.abbreviated)( $!part.abbreviated )#end
							#end
						#end
					</td>
					<td>$!ddi.yes_no</td>
					<td>$!ddi.dose_amount</td>
					<td>$!ddi.descriptions</td>
				</tr>
			#end
		#end
	#end
	</tbody>
	<tfoot>
		<tr>
			<th width="15%"></th>
			<th width="15%"></th>
			<th width="15%"></th>
			<th width="10%"></th>
			<th width="5%"></th>
			<th></th>
		</tr>
	</tfoot>
</table>
<strong>Note:</strong> This is a read only list that is an accumulation of all DDIs for this drug under all of the trial arms.
<div style="clear: both;"></div>