#* drugdata *#
	<label for="Drugdata">Drug Products:</label>
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="Drugdata" width="100%">
		<thead>
			<tr>
				<th width="15%">Form</th>
				<th width="15%">Label claim</th>
				<th width="15%">Family</th>
				<th class="sorting_asc">Name (brand name)</th>
				<th width="15%">Manufacturer</th>
				<th width="20%">action</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th width="15%"></th>
				<th width="15%"></th>
				<th width="15%"></th>
				<th></th>
				<th width="15%"></th>
				<th width="20%"></th>
			</tr>
		</tfoot>
		<tbody>
		#if($!item.drugs.Count()>0)
		#foreach($drug in $item.drugs)
		#if($!drug.baseid>0)
			#set($name = false)
			#set($taxedname = false)
			#set($manufacturer = false)
			#set($fam_sub_code = "")
		
#capturefor(fam_sub_code)


#foreach($sub in  $drug.families.substances)
$sub.abbreviated
#between
<em>:</em>
#end

#end
			<tr class="#if($velocityCount%2<1)even #else odd #end " data-baseid="$drug.baseid">
			
				<td>
				<input type="hidden" name="drugs[$velocityCount].baseid" value="$drug.baseid" class="list_item drug_item"/>
				#if($!taxonomyService.get_taxonomy($!drug.dose_form).name!="") $!taxonomyService.get_taxonomy($!drug.dose_form).name #else - #end
				</td>
				
				<td>#if($!drug.label_claim!="") $!drug.label_claim #else - #end</td>
			
				<td>#if($!fam_sub_code.trim()!="") $!fam_sub_code #else <em><b>orphaned</b></em> #end</td>
				
				#set($name = $drug.get_named())
				#set($taxedname = $!postingService.get_taxonomy($name).name)
				<td>#if($taxedname)$taxedname#else #if($name!="")$name#else -- #end #end</td>
				
				#set($manufacturer = $!postingService.get_taxonomy($drug.manufacturer).name)
				<td>#if($manufacturer)$!manufacturer #else - #end</td>
				
				
				<td>
					<a href="drug.castle?id=$item.baseid" class="button small clinical_inline_edit">Edit</a>
					 | <a href="#" class="button xsmall crimson defocus removal">Remove</a>
				</td>
			</tr>
		#end
		#end
		#end	
			
		</tbody>
	</table>
	#if($viewonly) #else
	<a href="#"  class="button drug_pro_add_item" data-type="drug"><i class="icon-plus blue" title="Add"></i> Add Drug</a>
	#end
#*
#if(!$skiplayout)	
#else
	<h3>Items may only be added after the parent item is saved.</h3>
#end
*#