#set($MoA_DMPK = $postingService.get_taxonomies("MoA_DMPK"))
#capturefor(MoA_DMPKs)
#foreach($part in $MoA_DMPK)
$part.name => $part.alias
#between
,
#end
#end



<div class="">
	<div class="uitabs left ui-tabs ui-widget ui-widget-content ui-corner-all" >
		<ul class=" clearfix">
			<li><a href="#Adherance">Adherance</a></li>
			<li><a href="#Forgiveness">Forgiveness</a></li>
			<li><a href="#Toxicity">Toxicity</a></li>
			<li><a href="#discontinuation">Discontinuation</a></li>
			<li><a href="#ddi">DDI</a></li>
		</ul>
		
		<div id="Adherance">
			$Controller.notes("$type","durability_adherance","top")
			#parse("center/types_tabs/clinical/assests/Adherance_block.vm")
			$Controller.notes("$type","durability_adherance","bottom")
		</div>

		<div id="Forgiveness">
			$Controller.notes("$type","durability_forgiveness","top")
			#parse("center/types_tabs/clinical/assests/Forgiveness_block.vm")
			$Controller.notes("$type","durability_forgiveness","bottom")
		</div>
		<div id="Toxicity">
			$Controller.notes("$type","durability_toxicity","top")
			#parse("center/types_tabs/clinical/assests/Toxicity_block.vm")
			$Controller.notes("$type","durability_toxicity","bottom")
		</div>
		<div id="discontinuation">
			$Controller.notes("$type","durability_timetofailure","top")
			#parse("center/types_tabs/clinical/assests/discontinuation.vm")
			$Controller.notes("$type","durability_timetofailure","bottom")
		</div>
		<div id="ddi">
			$Controller.notes("$type","durability_timetofailure","top")
			#parse("center/types_tabs/clinical/assests/ddi.vm")
			$Controller.notes("$type","durability_timetofailure","bottom")
		</div>
	</div>
</div>
<div style="clear: both;"></div>