	<ul class="grid col-one-half mq2-col-full full-input">		
#* biological_half_life *#
		<li>
			$Controller.feilds("textinput","$type","biological_half_life", $!item.biological_half_life ,"","","","")
		</li>
	</ul>	
	<ul class="grid col-one-half mq2-col-full full-input">	
	
#* metabolites_of_parent *#
		<li>
			$Controller.feilds("textinput","$type","metabolites_of_parent", $!item.metabolites_of_parent ,"","","","")
		</li>
	</ul>	
	<hr/>
	
	<fieldset class="grid col-one-half mq2-col-full full-input" style="border:1px solid #ccc">
	<legend>Fasting:</legend>
	<ul>	

#* fasting_cmax *#
		<li>
			$Controller.feilds("textinput","$type","fasting_cmax", $!item.fasting_cmax ,"","(ng/ml)","","")
		</li>

#* fasting_tmax *#
		<li>
			$Controller.feilds("textinput","$type","fasting_cmax", $!item.fasting_tmax ,"","(hours)","","")
		</li>

#* fasting_auc *#
		<li>
			<div class="grid col-one-half">	
				$Controller.feilds("textinput","$type","fasting_auc", $!item.fasting_auc ,"","","","")
			</div>	
			<div class="grid col-one-half">	
				$Controller.feilds("select","$type","fasting_auc_unit", $!item.fasting_auc_unit ,"inf.,0-24,0-last","","","","")
			</div>	<div style="clear"></div>
		#* fasting_auc_last_value *#
			$Controller.feilds("textinput","$type","fasting_auc_last_value", $!item.fasting_auc_last_value ,"","","","")
		</li>


#* fasting_bioavailability *#
		<li>
			$Controller.feilds("textinput","$type","fasting_bioavailability", $!item.fasting_bioavailability ,"","(%)","","")
		</li>
		
	</ul>		  
	</fieldset>	 
	 
	<fieldset class="grid col-one-half mq2-col-full full-input" style="border:1px solid #ccc">
	<legend>Fed:</legend>
	<ul>	  


#* fed_cmax *#
		<li>
			$Controller.feilds("textinput","$type","fed_cmax", $!item.fed_cmax ,"","(ng/ml)","","")
		</li>

#* fed_tmax *#
		<li>
			$Controller.feilds("textinput","$type","fed_tmax", $!item.fed_tmax ,"","(hours)","","")
		</li>
		

#* fed_aucinf *#
		<li>
			<div class="grid col-one-half">	
				$Controller.feilds("textinput","$type","fed_auc", $!item.fed_auc ,"","","","")
			</div>	
			<div class="grid col-one-half">	
				$Controller.feilds("select","$type","fed_auc_unit", $!item.fed_auc_unit ,"inf.,0-24,0-last","","","","")
			</div>
			<div style="clear"></div>
		#* fed_auc_last_value *#
			$Controller.feilds("textinput","$type","fed_auc_last_value", $!item.fed_auc_last_value ,"","","","")
		</li>


#* fed_bioavailability *#
		<li>
			$Controller.feilds("textinput","$type","fed_bioavailability", $!item.fed_bioavailability ,"","(%)","","")
		</li>
		
	</ul>
	</fieldset>
	
	<fieldset class="grid col-one-full mq2-col-full full-input" style="border:1px solid #ccc">
	<legend>Steady State:</legend>
	<ul  class="grid col-one-half mq2-col-full full-input">
#* steady_state_cmax *#
		<li>
			$Controller.feilds("textinput","$type","steady_state_cmax", $!item.steady_state_cmax ,"","(ng/ml)","","")
		</li>
		
#* steady_state_cmin *#
		<li>
			$Controller.feilds("textinput","$type","steady_state_cmin", $!item.steady_state_cmin ,"","(ng/ml)","","")
		</li>
	</ul>
	<ul  class="grid col-one-half mq2-col-full full-input">	
#* steady_state_auc *#
		<li>
			<div class="grid col-one-half">	
				$Controller.feilds("textinput","$type","steady_state_auc", $!item.steady_state_auc ,"","(ng/ml)","","")
			</div>	
			<div class="grid col-one-half">	
				$Controller.feilds("select","$type","steady_state_auc_unit", $!item.steady_state_auc_unit ,"inf.,0-24,0-last","","","","")
			</div>
		</li>

#* steady_state_tmax *#
		<li>
			$Controller.feilds("textinput","$type","steady_state_tmax", $!item.steady_state_tmax ,"","(ng/ml)","","")
		</li>
	</ul>
	</fieldset>	
	
	<fieldset class="grid col-one-full mq2-col-full full-input" style="border:1px solid #ccc">
		<legend style="border-bottom:1px solid #494949">Pharmacology comments</legend>
#* pharmacology_comments *#
		$Controller.feilds("textarea","$type","pharmacology_comments", $!item.pharmacology_comments ,"","",""," rows='7'")		
	</fieldset>
				