	<ul class="grid col-one-half mq2-col-full full-input">		
#* biological_half_life *#
		<li>
			$Controller.feilds("textinput","$type","biological_half_life", $!item.biological_half_life ,"","","","")
		</li>
	</ul>	
	<ul class="grid col-one-half mq2-col-full full-input">	
	
#* metabolites_of_parent *#
		<li>
			$Controller.feilds("textinput","$type","metabolites_of_parent", $!item.metabolites_of_parent ,"","","","")
		</li>
	</ul>	
	<hr/>
	
	
	

		 #parse("center/types_tabs/clinical/assests/states.vm")
		 <br/><br/>
	<!-- 
		 <hr/>
	
	
	
	<fieldset class="grid col-one-half mq2-col-full full-input optional_fieldset" id="fasting_block" style="border:1px solid #ccc">
	<legend>

		<div id="is_fasting" class="showFeildset ui-buttonset" style="float: right;padding-top:15px;">Fasting:
			<input type="radio" name="item.is_fasting" id="is_fasting1" class="button" value="no" #if( $!item.is_fasting!="yes" ) checked #end/>
			<label for="is_fasting1" style="display: inline-block;font-size: 0.8em;" >#if( $!item.is_fasting!="yes" )<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end No</label>
			
			<input type="radio" name="item.is_fasting" id="is_fasting2" class="button" value="yes" #if($!item.is_fasting=="yes") checked #end />
			<label for="is_fasting2" style="display: inline-block;font-size: 0.8em;" >#if($!item.is_fasting=="yes")<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end Yes</label>
		</div>
		 </legend>
		 

	<ul class="#if($item.is_fasting=="yes") open #end ">	

#* fasting_cmax *#
		<li>
			$Controller.feilds("textinput","$type","fasting_cmax", $!item.fasting_cmax ,"","(ng/ml)","","")
		</li>

#* fasting_tmax *#
		<li>
			$Controller.feilds("textinput","$type","fasting_tmax", $!item.fasting_tmax ,"","(hours)","","")
		</li>

#* fasting_auc *#
		<li>
			<div class="grid col-one-half">	
				$Controller.feilds("textinput","$type","fasting_auc", $!item.fasting_auc ,"","","","")
			</div>	
			<div class="grid col-one-half">	
				$Controller.feilds("select","$type","fasting_auc_unit", $!item.fasting_auc_unit ,"inf.,0-24,0-last","","","","")
			</div>	<div style="clear"></div>
		#* fasting_auc_last_value *#
			$Controller.feilds("textinput","$type","fasting_auc_last_value", $!item.fasting_auc_last_value ,"","","","")
		</li>


#* fasting_bioavailability *#
		<li>
			$Controller.feilds("textinput","$type","fasting_bioavailability", $!item.fasting_bioavailability ,"","(%)","","")
		</li>
		
	</ul>		  
	</fieldset>	 
	 
	<fieldset class="grid col-one-half mq2-col-full full-input optional_fieldset" id="fed_block" style="border:1px solid #ccc">
	<legend>

		<div id="is_fed" class="showFeildset ui-buttonset" style="float: right;padding-top:15px;">Fed:
			<input type="radio" name="item.is_fed" id="is_fed1" class="button" value="no" #if( $!item.is_fed!="yes" ) checked #end/>
			<label for="is_fed1"  style="display: inline-block;font-size: 0.8em;" >#if( $!item.is_fed!="yes" )<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end No</label>
			
			<input type="radio" name="item.is_fed" id="is_fed2" class="button" value="yes" #if($!item.is_fed=="yes") checked #end />
			<label for="is_fed2" style="display: inline-block;font-size: 0.8em;" >#if($!item.is_fed=="yes")<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end Yes</label>
		</div>
		 </legend>
	<ul class="#if($item.is_fed=="yes") open #end ">		  


#* fed_cmax *#
		<li>
			$Controller.feilds("textinput","$type","fed_cmax", $!item.fed_cmax ,"","(ng/ml)","","")
		</li>

#* fed_tmax *#
		<li>
			$Controller.feilds("textinput","$type","fed_tmax", $!item.fed_tmax ,"","(hours)","","")
		</li>
		

#* fed_aucinf *#
		<li>
			<div class="grid col-one-half">	
				$Controller.feilds("textinput","$type","fed_auc", $!item.fed_auc ,"","","","")
			</div>	
			<div class="grid col-one-half">	
				$Controller.feilds("select","$type","fed_auc_unit", $!item.fed_auc_unit ,"inf.,0-24,0-last","","","","")
			</div>
			<div style="clear"></div>
		#* fed_auc_last_value *#
			$Controller.feilds("textinput","$type","fed_auc_last_value", $!item.fed_auc_last_value ,"","","","")
		</li>


#* fed_bioavailability *#
		<li>
			$Controller.feilds("textinput","$type","fed_bioavailability", $!item.fed_bioavailability ,"","(%)","","")
		</li>
		
	</ul>
	</fieldset>
	
	<fieldset class="grid col-one-full mq2-col-full full-input optional_fieldset" style="border:1px solid #ccc">
	<legend>

		
		
		<div id="is_steady" class="showFeildset ui-buttonset" style="float: right;padding-top:15px;">Steady State:
			<input type="radio" name="item.is_steady" id="is_steady1" class="button" value="no" #if( $!item.is_steady!="yes" ) checked #end/>
			<label for="is_steady1" style="display: inline-block;font-size: 0.8em;" >#if( $!item.is_steady!="yes" )<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end No</label>
			
			<input type="radio" name="item.is_steady" id="is_steady2" class="button" value="yes" #if($!item.is_steady=="yes") checked #end />
			<label for="is_steady2" style="display: inline-block;font-size: 0.8em;" >#if($!item.is_steady=="yes")<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end Yes</label>
		</div>
		
		
		 </legend>
	<ul  class="grid col-one-half mq2-col-full full-input #if($item.is_steady=="yes") open #end ">	
#* steady_state_cmax *#
		<li>
			$Controller.feilds("textinput","$type","steady_state_cmax", $!item.steady_state_cmax ,"","(ng/ml)","","")
		</li>
		
#* steady_state_cmin *#
		<li>
			$Controller.feilds("textinput","$type","steady_state_cmin", $!item.steady_state_cmin ,"","(ng/ml)","","")
		</li>
	</ul>
	<ul  class="grid col-one-half mq2-col-full full-input #if($item.is_steady=="yes") open #end">	
#* steady_state_auc *#
		<li>
			<div class="grid col-one-half">	
				$Controller.feilds("textinput","$type","steady_state_auc", $!item.steady_state_auc ,"","(ng/ml)","","")
			</div>	
			<div class="grid col-one-half">	
				$Controller.feilds("select","$type","steady_state_auc_unit", $!item.steady_state_auc_unit ,"inf.,0-24,0-last","Unit","","","")
			</div>
		</li>

#* steady_state_tmax *#
		<li>
		<br style="clear:left">
			$Controller.feilds("textinput","$type","steady_state_tmax", $!item.steady_state_tmax ,"","(ng/ml)","","")
		</li>
	</ul>
	</fieldset>	-->
	
	<fieldset class="grid col-one-full mq2-col-full full-input" style="border:1px solid #ccc">
		<legend style="border-bottom:1px solid #494949">Pharmacology comments</legend>
#* pharmacology_comments *#
		$Controller.feilds("textarea","$type","pharmacology_comments", $!item.pharmacology_comments ,"","",""," rows='7'")		
	</fieldset>
<div style="clear: both;"></div>