
    #set($baseClass="parent")
    #set($subULClass="")
    #set($subNarrowClass="subNarrow")
    #set($subClass="")
    #set($baseurl="${baseurl}/posting.castle")
    #set($menuItems = $item.menuoptions)
    #set($lastLevel = 0 )
    #set($c=0)
    <ul id='mob' >
        <li id="mob_li">
            <a id='mob_link'>Nav</a>
            <em></em>
            <ul id='main_nav'>
                #foreach($item in $menuItems)
                    #* $velocityCount  *#
                
                    #set($Lev=${item.position})
                    #if($Lev > $lastLevel)
                        #set($val=${Lev}-${lastLevel})
                        $htmlService.repeatStr("<div class='parentarea'><ul>",$val)
                    #elseif( $Lev < $lastLevel )
                        #set($val=${lastLevel}-${Lev})
                        $htmlService.repeatStr("</li></ul></div>",$val)
                        </li>
                    #elseif( $Lev > 1 )
                        </li>
                    #end
            		#* this must be replace with the url as well logic here is bad for just a url !!! *#
                    <li class='#if($item.is_link && $item.url)altAction#end depth_${item.position} #if($item.position==1)$baseClass#elseif($item.position>1)$subClass#end #if($selectedCats.Contains(${item.alias}))active#end' >
                        <a  hidefocus="true" href='#if($item.is_link && $item.url)${item.url}#else/$baseurl?iid=$!{item.baseid}#end#if($dev)&dev=1#end' #if($item.position==1) class='parentalLink' #end  #if($item.is_link && $item.url) target='_blank' #end><em>$!item.post.name.Replace("&","&amp;")</em></a>
					#set($lastLevel=${item.position})
                #end
                #set($end = 1 )
                    #set($val=${lastLevel}-${end})
                    $htmlService.repeatStr("</li></ul></div>",$val)
                </li>
            </ul>
        </li>
    </ul>
#if($menuItems) <hr/> #end
<form action="#" id="getDirections">
	<ul id="dir">
		<li id="directionsFrom"><input type="text" value="Directions from..." placeholder="Directions from..." class="not" /></li>
		<li id="directionsTo"><span style="color: #5E6A71;">To<br/></span><input type="text" value="WSU $!campus.name" placeholder="WSU $!campus.name" /></li>
	</ul>
</form>
#{contentblock alias="imageBlock"}



