#macro(showexception $exc)
	$exc.GetType().Name

	Message:
	$exc.Message

	#if($exc.StackTrace)
	StackTrace:
	$exc.StackTrace
	#end

	#if($exc.InnerException)
	<b>Inner exception:</b>
	#set($inner = $exc.InnerException)
	#showexception($inner)
	#end
#end
<div id="container" class="fluid">
  <h1>Sorry! That Page Doesn't Seem To Exist.</h1>
  <p>The page you requested does not exist on this server. It might have been removed, had its name changed, or is temporarily unavailable.</p> 
  <h2>Here are a few links that may help:</h2>
  <ol>
    <li>
      <a href="/">Go &raquo; Back</a>
    </li>
    <!--<li>
      <a href="#" class="errorReporting">Contact suport</a>
    </li>-->
  </ol>
  <img src="/content/img/CHAI_logo.jpg" alt="clinton health access initiative" style="width:220px;" />
</div>
