<div class="tabs ${controller.getView()}list ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top"><a href="#Models">Models</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#System">System</a></li>
	</ul>

	<div id="Models" style="display:none;">
		<div class="tabs left ${controller.getView()}list ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
				#foreach($type in $taxonomy_types)
					#if($type.is_visible && !$type.alias.Contains("SYSTEM__"))
						<li class="ui-state-default ui-corner-top">
							<a href="#$type.alias">$type.name</a>
						</li>
					#end
				#end
			</ul>
			#foreach($type in $taxonomy_types)
				#if($type.is_visible && !$type.alias.Contains("SYSTEM__"))
					<div id="$type.alias" style="display:none;">
						#set($action=$type.alias)
						#set($items=$postingService.get_taxonomies($action)) #* $type.taxonomies *#
						#set($itemname=$type.name)
						#parse("admin/taxonomy/genral_listings.vm")
						<div class="clear"></div>
					</div>
				#end
			#end
		</div>
		<div class="clear"></div>
	</div>

	<div id="System" style="display:none;">
		<div class="tabs left ${controller.getView()}list ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
				#foreach($type in $taxonomy_types)
					#if($type.is_visible && $type.alias.Contains("SYSTEM__"))
						<li class="ui-state-default ui-corner-top">
							<a href="#$type.alias">$type.name</a>
						</li>
					#end
				#end
			</ul>
			#foreach($type in $taxonomy_types)
				#if($type.is_visible && $type.alias.Contains("SYSTEM__"))
					<div id="$type.alias" style="display:none;">
						<div class="tabs min ${controller.getView()}list ui-tabs ui-widget ui-widget-content ui-corner-all">
							#set($model_types = $objectService.explode("substance,clinical,drug,treatment"))
							<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
								#foreach($model_type in $model_types)	
									#if($items)
										#set ($j=0)
										#foreach($item in $items)
											#set ($j=$j+1)
										#end
									#end
									#if($j>0)
										<li class="ui-state-default ui-corner-top">
											<a href="#$model_type">$model_type</a>
										</li>
									#end
								#end
							</ul>			
							#foreach($model_type in $model_types)	
								<div id="$model_type" style="display:none;">
									#set($action=$type.alias)
									#set($items=$postingService.get_taxonomies($action)) #* $type.taxonomies *#
									#set($itemname=$type.name)
									<div style=" height: 37px; margin-top: 9px; position: relative; width: auto; z-index: 1;top:0px;">
										<a href="$siteroot/admin/edit_taxonomy.castle?type=${action}" class="button" ><i class="icon-plus"></i> Create ${itemname} </a>&nbsp;
									</div>
									<form action="merge_taxonomy.castle" method="post">
										<table  width="100%" class="ui-widget ui-widget-content">
										  <thead>
											<tr class="ui-widget-header ">
											<th align="center" width="35"><input type="checkbox" onClick="$(this).closest('table').find('.checkable').attr('checked', $(this).attr('checked')?true:false )" /></th>
											<th>Name</th>
											<th style="width:85px;">&nbsp;</th>
											</tr>
										  </thead>
										  <tbody>
											#if($items)
												#set ($c=0)
												#foreach($item in $items)
													#if($item.alias.Contains("${model_type}__"))
														<tr class="#if($c%2>0) even #else odd #end">
														<td align="center"><input name="ids[]" type="checkbox" class="checkable" value="$item.baseid"/></td>
														  <td><a href="$siteroot/admin/edit_taxonomy.castle?id=$!{item.baseid}" class="name">
																$item.name
															  </a></td>
														  <td>
															<span style='font-size:0.7em;'>
																<a href="$siteroot/admin/edit_taxonomy.castle?id=$!{item.baseid}" title="Edit" class="button med pull-left">
																	<span class="icon-edit"></span>
																</a>
																<a href="$siteroot/admin/delete_taxonomy.castle?id=$!{item.baseid}" title="Delete" class="button med crimson pull-right">
																	<span class="icon-trash"></span>
																</a>
															</span>
															
														  </td>
														</tr>
														#set ($c=$c+1)
													#end
												#end
											#else
												<h1>There are currently no name items</h1>
											#end
										  </tbody>
										</table>
										<label>New Tag name:<input type="text" name="newname" value="" /></label>
										<input type="submit" name="mergeTags" value="Merge Tags" />
										<input type="submit" name="deleteTags" value="Delete Tags" />
									</form>
									<div class="clear"></div>
								</div>
							#end
						</div>
					</div>
				#end
			#end
		</div>
		<div class="clear"></div>
	</div>
	
</div>