#if($Controller.canEdit($item,$user.id) || $item.editing == $user || $item.isCheckedOutNull())
	<li>
	<a href="#if($item.editing=="" || $item.editing == $user)$siteroot/${controller.getView()}/_edit.castle?id=$!{item.id} #else # #end" title="#if($item.CheckedOutBy)Is being edited by $item.CheckedOutBy.name #else Edit #end" class=" editIt button small">
	  <span class="ui-button-icon-primary ui-icon ui-icon-pencil"> </span>
	  <span class="actionText">HOOOOO</span>
	  <span class="actionpropt">&#187;</span>
	</a>
	</li>
#end