<label for="Clinicaldata">Associated Clinical Trials Arms:</label>
<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="Clinicaldata" width="100%">
	<thead>
		<tr>
			<th width="10%">ID</th>
			<th width="30%">Name</th>
			<th>Drug</th>
			<th style="width:75px" class="no-sort"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th width="10%"></th>
			<th width="30%"></th>
			<th></th>
			<th style="width:75px" class="no-sort"></th>
		</tr>
	</tfoot>
	<tbody>
	
	#foreach($part in  $typed_list)
		<tr class="#if($velocityCount%2<1)even #else odd #end rec_$!part.ln_clinical_t" data-baseid="$!part.baseid">
			<td>
				<input type="hidden" name="trial_arms[$velocityCount].baseid" value="$part.baseid" class="list_item drug_item"/>
				$!part.baseid
			</td>
			<td>$!part.name</td>
			<td>

				#if($!part.drugs.Count>0)$!taxonomyService.get_taxonomy($!part.drugs.get_item(0).brand_name).name#else Not set#end
				
				
			</td>
			<td >
				#if($viewonly) #else
					<span class="editing_action_block">
					<a class="button curate" title="Get a list to curate the data"  href="/center/curate.castle?id=${part.baseid}&type=clinical" target="_blank" ><i class="icon-refresh"></i></a>
					<a href="clinical.castle?id=$part.baseid" class="button small edit_item trial_inline_edit" data-type="clinical"><i class="icon-pencil" title="Edit"></i></a><a href="#" class="button xsmall crimson defocus deletion removal"><i class="icon-remove" title="Remove"></i></a>
					</span>
				#end
			</td>
		</tr>
	#end
	</tbody>
	
</table>
#if($viewonly) #else
	<a href="#" class="button trial_arm_form" data-type="clinical"><i class="icon-plus blue" title="Add"></i> Add Trial Arm</a>
#end