#if(!$skiplayout)
	<label for="DDIdata">DDI:</label>
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="DDIdata" width="100%">
		<thead>
			<tr>
				<th>New Drug Code</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			#foreach($item in $typed_list)
				<tr class="#if($velocityCount%2<1)even #else odd #end rec_$item.new_drug_code"  data-baseid="$item.baseid">
					<td>#if($item.new_drug_code)$!item.new_drug_code #else -- #end<input type="hidden" name="item.drugs[$velocityCount].baseid" value="$item.baseid" class="list_item drug_item"/></td>
					<td>#if($!postingService.get_taxonomy($item.brand_name).name)$!postingService.get_taxonomy($item.name).name #else --#end</td>
					<td>
					#if($viewonly) #else
					<a href="ddi.castle?id=$item.baseid&skiplayout=1" class="button small inline_edit"  data-type="drug"><i class="icon-edit" title="Edit"></i></a> | 
					<a href="#" class="button xsmall crimson defocus deletion removal"><i class="icon-remove" title="Remove"></i></a>
					#end
					</td>
				</tr>
			#end
		</tbody>
		<tfoot></tfoot>
	</table>
	#if($viewonly) #else
	<a href="#"  class="button add_to_list" data-type="drug_interaction"><i class="icon-plus blue" title="Add"></i> Add DDI</a>
	#end
	
#else
	<h3>Items may only be added after the parent item is saved.</h3>
#end