<label for="Treatmentdata">Clinical Trials:</label>
<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="Treatmentdata" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>Acroynm</th>
			<th width="20%"></th>
		</tr>
	</thead>
	<tbody>
	#foreach($part in  $typed_list)
		<tr class="#if($velocityCount%2<1)even #else odd #end rec_$!part.ln_clinical_t" data-baseid="$part.baseid">
			<td>$!part.baseid
			<input type="hidden" name="item.treatments[$velocityCount].baseid" value="$part.baseid" class="drug_item"/>
			</td>
			<td>$!part.acroynm</td>
			<td>
			#if($viewonly) #else
			<a href="treatment.castle?id=$part.baseid" class="button small inline_edit" data-type="clinical"><i class="icon-edit" title="Edit"></i></a> | 
			<a href="#" class="button xsmall crimson defocus deletion removal"><i class="icon-remove" title="Remove"></i></a>
			#end
			</td>
		</tr>
	#end
	</tbody>
	<tfoot></tfoot>
</table>
#if($viewonly) #else
<a href="#"  class="button add_to_list" data-type="treatment">Add Regimen</a>
#end