<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		#parse("layouts/default_assets/global_header_html.vm")
		#parse("layouts/default_assets/global_footer_JS.vm")
	</head>
    <body class="#if($embeded)embeded #end central_layout ${controller.getView()} ${controller.getAction()}">
		<div class="container">
			#parse("layouts/default_assets/header_html.vm")
			<hr>
			<div class="services-page main grid-wrap">
				<!--<header class="grid col-full">
					
					<p class="fleft">Services</p>
				</header>-->
				#parse("layouts/default_assets/sidebar.vm")
				<section class="grid col-three-quarters mq2-col-full">
					<div class="grid-wrap smallgut">
                        #if($Flash.message)
                            <div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
                              <p style="line-height: 15px;padding-bottom: 0;">
                                <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Note:</strong>$Flash.message
                              </p>
                            </div>
                        #end
                        #if($Flash.error)
                            <div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-error ui-corner-all">
                              <p style="line-height: 15px;padding-bottom: 0;">
                                <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>Alert:</strong>$Flash.error
                              </p>
                            </div>
                        #end
						$childContent
					</div>
				</section>	
			</div> <!--main-->
			#parse("layouts/default_assets/footer.vm")
		</div>
		
		<div id="staging"></div>
	</body>
</html>
