#* drugdata *#
<label for="DDIdata">Drug to Drug Interactions:<i title="Click for help with this block" data-block="ddi_block" class="icon-question-sign blue help_block"></i></label>
<div style="position:relative;">
	<div class="block_helper" id="ddi_block" style="display:none;">
		#set($props = $objectService.explode("ddi_substance,ddi_yes_no,ddi_dose_amount,ddi_descriptions"))
		<ul>
		#foreach($prop in $!props)
			#set($feildObj = $postingService.get_taxonomy('clinical', $prop, "SYSTEM__feild_helpers"))
			#if($feildObj.content)
				<li><b>$feildObj.name:</b> $feildObj.content</li>
			#end
		#end
		</ul>
	</div>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="DDIdata" width="100%">
	<thead>
		<tr>
			<th width="15%" id="">Drug family</th>
			<th width="15%" id="ddi_drug_product">Drug Product</th>
			<th width="15%">With these substances</th>
			<th width="10%">Interactions</th>
			<th width="10%">Amount</th>
			<th>Description</th>
			<th width="25px" class="no-sort"></th>
		</tr>
	</thead>
	<tbody>




#set($drugs_list = "")
#capturefor(drugs_list)
#foreach($drug in $!item.drugs)
$!drug.dose_form -- $!drug.name #if($!part.manufacturer || $!drug.label_claim )( $!drug.manufacturer #if($!part.manufacturer && $!drug.label_claim )|#end $!drug.label_claim )#end => $drug.baseid
#between
,
#end
#end



#capturefor(substances_list)
optgroup_start => Drug Substances ,
#foreach($part in $ddisubstances)
$!postingService.get_taxonomy($part.generic_name).name #if($!part.abbreviated)( $!part.abbreviated )#end => $part.baseid
#between
,
#end
, optgroup_end => Drug Substances ,
optgroup_start => DDI ONLY Substances ,
#foreach($part in $ddi_only)
$!postingService.get_taxonomy($part.generic_name).name #if($!part.abbreviated)( $!part.abbreviated )#end => $part.baseid
#between
,
#end
, optgroup_end => Drug Substances
#end	
	#set($i = 0)
	#foreach($ddi in $!item.interactions)
		<tr class=""  data-baseid="$part.baseid">
			<td>

#capturefor(fam_sub_code)


#foreach($sub in  $!ddi.drug.families.substances)
$sub.abbreviated
#between
<em>:</em>
#end

#end	
$!fam_sub_code			
			</td>
			<td>
			$Controller.feilds("hidden","{'objectName':'interactions[$i]', 'model_prop':'arm.baseid', 'value':'$!item.baseid' }")
			$Controller.feilds("select","{'objectName':'interactions[$i]', 'model_prop':'drug', 'value':'$!ddi.drug', 'select_options':'$drugs_list'}")
			
			</td>

			<td>
				$Controller.feilds("hidden","{'objectName':'interactions[$i]', 'model_prop':'id', 'value':'$!ddi.id' }")
				$Controller.feilds("select","{'objectName':'interactions[$i]', 'model_prop':'substance', 'value':'$!ddi.substance', 'select_options':'$substances_list'}")
<!--					<select name="interactions[$i].substance"  id="ddi_only_$i"><option value="">Select</option></select>-->
			</td>
			<td>
			$Controller.feilds("select","{'objectName':'interactions[$i]', 'model_prop':'yes_no', 'value':'$!ddi.yes_no', 'select_options':'Yes=>yes,No=>no'}")
			</td>
			<td>$Controller.feilds("text","{'objectName':'interactions[$i]', 'model_prop':'dose_amount', 'value':'$!ddi.dose_amount', 'html_attr':' style=\"width:100%\" ', 'placeholder':'dose of interacting drug'}")</td>
			#set($descriptions = $!ddi.descriptions.Replace("'","\'"))
			<td>$Controller.feilds("textarea","{'objectName':'interactions[$i]', 'model_prop':'descriptions', 'value':'$!descriptions', 'html_attr':' rows=\"1\" ', 'placeholder':'Describe the interaction between the two drugs'}")</td>
			<td> #if($viewonly) #else <a href="#" class="button xsmall crimson defocus removal"><i class="icon-remove" title="Remove"></i></a> #end	</td>
		</tr>
			
		#set($i = $i+1)
	#end
	</tbody>
	<tfoot>
		<tr>
			<th width="15%"></th>
			<th width="15%"></th>
			<th width="15%"></th>
			<th width="15%"></th>
			<th width="15%"></th>
			<th></th>
			<th width="5%"></th>
		</tr>
	</tfoot>
</table>
<a href="#" id="drug_interaction" class="button" data-type="drug_interaction">Add Drug Interaction</a>
<div style="clear: both;"></div>

<!--
<script>#set($i = 0)
var data_table_clinical_ddi=[
	"$Controller.feilds("hidden","{'objectName':'arm_states[$i]', 'model_prop':'arm.baseid', 'value':'' }") $Controller.feilds("select","{'objectName':'arm_states[$i]', 'datatype':'clinical', 'model_prop':'state_type', 'value':'', 'select_options':'Fasting,Fed,Steady', 'skip_help':'true'}")",
	"$Controller.feilds("hidden","{'objectName':'interactions[$i]', 'model_prop':'id', 'value':'$!ddi.id' }") $Controller.feilds("select","{'objectName':'interactions[$i]', 'model_prop':'substance', 'value':'$!ddi.substance', 'select_options':'$substances_list'}")",
	"$Controller.feilds("select","{'objectName':'interactions[$i]', 'model_prop':'yes_no', 'value':'$!ddi.yes_no', 'select_options':'Yes=>yes,No=>no'}")",
	"$Controller.feilds("text","{'objectName':'interactions[$i]', 'model_prop':'dose_amount', 'value':'$!ddi.dose_amount', 'html_attr':' style=\"width:100%\" '}")",
	"$Controller.feilds("textarea","{'objectName':'interactions[$i]', 'model_prop':'descriptions', 'value':'$dis', 'html_attr':' rows=\"1\" ', 'placeholder':'Describe the interaction between the two drugs'}")",
	"#if($viewonly) #else <a href="#" class="button xsmall crimson defocus removal"><i class="icon-remove" title="Remove"></i></a> #end	"
];
</script>
-->


