#* drugdata *#
<label for="DDIdata">States:<i title="Click for help with this block" data-block="states_block" class="icon-question-sign blue help_block"></i></label>
<div style="position:relative;">
	<div class="block_helper" id="states_block" style="display:none;">
		#set($props = $objectService.explode("state_type,time_point,time_point_unit,auc,auc_unit,auc_last_value,bioavailability,cmax,cmin,tmax"))
		<ul>
		#foreach($prop in $!props)
			#set($feildObj = $postingService.get_taxonomy('clinical', $prop, "SYSTEM__feild_helpers"))
			#if($feildObj.content)
				<li><b>$feildObj.name:</b> $feildObj.content</li>
			#end
		#end
		</ul>
	</div>
</div>


<table class="display datagrid with_action" id="clinical_states" width="100%">
	<thead>
		<tr>
			<th width="145px" >Type</th>
			<th >State Details</th>
			<th width="20px" class="no-sort"></th>
		</tr>
	</thead>
	<tbody>
		#set($i = 0)
		#foreach($state in $!item.arm_states)
		#set($i = $i+1)
		<tr class=""  data-baseid="$part.baseid" data-order="$!state.time_point $!state.time_point_unit">
			<td >
			<div class="grid mq2-col-full full-input">
				$Controller.feilds("hidden","{'objectName':'arm_states[$i]', 'model_prop':'arm.baseid', 'value':'$!item.baseid' }")
				$Controller.feilds("select","{'objectName':'arm_states[$i]', 'datatype':'clinical', 'model_prop':'state_type', 'value':'$!state.state_type', 'select_options':'Unspecified,Fasting,Fed,Steady', 'skip_help':'true'}")<br/>
						
				#* Days *#
				$Controller.feilds("text","{'objectName':'arm_states[$i]', 'datatype':'clinical','model_prop':'time_point', 'value':'$!state.time_point', 'placeholder':'# of days or weeks', 'skip_help':'true'}")<br/>
							
				$Controller.feilds("select","{'objectName':'arm_states[$i]', 'datatype':'clinical', 'model_prop':'time_point_unit', 'value':'$!state.time_point_unit', 'select_options':'days,weeks', 'skip_help':'true'}")
					</div>		
			</td>
			<td>
				<div class="grid col-one-half  full-input">
					#* cmax *#
					$Controller.feilds("text","{'objectName':'arm_states[$i]', 'datatype':'clinical', 'model_prop':'cmax', 'value':'$!state.cmax',  'placeholder':'(ng/ml)', 'skip_help':'true'}")<br/>
					#* cmin *#
					$Controller.feilds("text","{'objectName':'arm_states[$i]', 'datatype':'clinical', 'model_prop':'cmin', 'value':'$!state.cmin',  'placeholder':'(ng/ml)', 'skip_help':'true'}")<br/>
							
					#* tmax *#
					$Controller.feilds("text","{'objectName':'arm_states[$i]', 'datatype':'clinical','model_prop':'tmax', 'value':'$!state.tmax', 'placeholder':'(hours)', 'skip_help':'true'}")
				</div>
			
				<div class="grid col-one-half  full-input">
					#* bioavailability *#
					$Controller.feilds("text","{'objectName':'arm_states[$i]', 'datatype':'clinical','model_prop':'bioavailability', 'value':'$!state.bioavailability', 'placeholder':'(%)', 'skip_help':'true'}")
							
					#* auc *#
					$Controller.feilds("text","{'objectName':'arm_states[$i]', 'datatype':'clinical','model_prop':'auc', 'value':'$!state.auc', 'custom_lable':'AUC', 'placeholder':'(ng*hr/ml)', 'skip_help':'true'}") 
				
					#* auc_unit *#
					$Controller.feilds("select","{'objectName':'arm_states[$i]', 'datatype':'clinical','model_prop':'auc_unit', 'value':'$!state.auc_unit','custom_lable':'AUC Time Interval','select_options':'inf.,0-8,0-12,0-24,0-48,0-72,0-last', 'skip_help':'true'}")<br/>
				
					#* auc_last_value *#
					$Controller.feilds("text","{'objectName':'arm_states[$i]', 'datatype':'clinical','model_prop':'auc_last_value', 'value':'$!state.auc_last_value', 'placeholder':'(ng*hr/ml)', 'skip_help':'true'}")
				</div>
			</td>
			<td > #if($viewonly) #else <span class="editing_action_block"><a href="#" class="button xsmall crimson defocus removal"><i class="icon-remove" title="Remove"></i></a></span> #end	</td>
		</tr>
		#end
	</tbody>
</table>
<a href="#" id="add_clinical_state" class="button" data-type="clinical_state">Add New Time Point</a>
<div style="clear: both;"></div>

#set($i = 0)
<div id="local_state_stage" style="display:none;">
	<ul>
		<li>
			<div class="grid mq2-col-full full-input">
			$Controller.feilds("hidden","{'objectName':'___arm_states[$i]', 'model_prop':'arm.baseid', 'value':'' }")
			$Controller.feilds("select","{'objectName':'___arm_states[$i]', 'datatype':'clinical', 'model_prop':'state_type', 'value':'', 'select_options':'Unspecified,Fasting,Fed,Steady', 'skip_help':'true'}")<br/>
			$Controller.feilds("text","{'objectName':'___arm_states[$i]', 'datatype':'clinical','model_prop':'time_point', 'value':'', 'placeholder':'# of days or weeks', 'skip_help':'true'}")<br/>
			$Controller.feilds("select","{'objectName':'___arm_states[$i]', 'datatype':'clinical', 'model_prop':'time_point_unit', 'value':'', 'select_options':'days,weeks', 'skip_help':'true'}")
			</div>
		</li>
		
		<li>
			<div class="grid col-one-half  full-input">
				$Controller.feilds("text","{'objectName':'___arm_states[$i]', 'datatype':'clinical', 'model_prop':'cmax', 'value':'',  'placeholder':'(ng/ml)', 'skip_help':'true'}")<br/>
				$Controller.feilds("text","{'objectName':'___arm_states[$i]', 'datatype':'clinical', 'model_prop':'cmin', 'value':'',  'placeholder':'(ng/ml)', 'skip_help':'true'}")<br/>
				$Controller.feilds("text","{'objectName':'___arm_states[$i]', 'datatype':'clinical','model_prop':'tmax', 'value':'', 'placeholder':'(hours)', 'skip_help':'true'}")
			</div>
			
			<div class="grid col-one-half  full-input">
				$Controller.feilds("text","{'objectName':'___arm_states[$i]', 'datatype':'clinical','model_prop':'bioavailability', 'value':'', 'placeholder':'(%)', 'skip_help':'true'}")
				$Controller.feilds("text","{'objectName':'___arm_states[$i]', 'datatype':'clinical','model_prop':'auc', 'value':'', 'custom_lable':'AUC', 'placeholder':'(ng*hr/ml)', 'skip_help':'true'}")
				$Controller.feilds("select","{'objectName':'___arm_states[$i]', 'datatype':'clinical','model_prop':'auc_unit', 'value':'','custom_lable':'AUC Time Interval','select_options':'inf.,0-8,0-12,0-24,0-48,0-72,0-last', 'skip_help':'true'}")<br/>
				$Controller.feilds("text","{'objectName':'___arm_states[$i]', 'datatype':'clinical','model_prop':'auc_last_value', 'value':'', 'placeholder':'(ng*hr/ml)', 'skip_help':'true'}")
			</div>
		</li>
		<li>#if($viewonly) #else <span class="editing_action_block"><a href='#' class='button xsmall crimson defocus removal'><i class='icon-remove' title='Remove'></i></a></span> #end</li>
	</ul>
</div>