<article class="${controller.getView()}list ui-tabs ui-widget ui-widget-content ui-corner-all">
	<div style="clear:both;">
		#tab_notes("$type" "durability_toxicity" "top")
	</div>
	<div id="durability_forgiveness" style="">
		<ul class="grid col-full mq2-col-full full-input">
#* toxicity_sae *#
			<li class="moa_dmpk_block">
				<ul class="grid col-one-half mq2-col-full full-input">
					<li>
						$Controller.feilds("textinput","$type","toxicity_sae", $!item.toxicity_sae ,"","","","")
					</li>
				</ul>
				<div style="clear:both;"></div>
			</li>
			<li class="moa_dmpk_block">			
				#set($taxorder = 0)
				#set($adverse_events_severe = $postingService.get_taxonomies("adverse_events"))
				<ul class="grid col-one-half mq2-col-full full-input">
#* max_dose *#
					<li style="padding: 15px 10px;">
						<label for="max_dose">Adverse Events, Objective: #*<i class="icon-question-sign blue" title=""></i>*#</label>
						<select name="" id="adverse_events_severe" class="adverse_events taxed" >
							<option value="">Add an event</option> 
							#foreach($part in $adverse_events_severe)
							
								<option #if($item.taxonomies.Contains($part))disabled #end value="$part.baseid" data-content="$!part.content" data-baseid="$!part.baseid" data-alias="$!part.alias">$part.name</option>
							#end
						</select>
					</li>
					#set($tax_type = $taxonomyService.get_taxonomy_type("adverse_events"))
					#foreach($part in $item.taxonomies)
						#if($part.taxonomy_type == $tax_type)
							<li data-taxorder="$taxorder">
								 <i class="icon-remove-circle red right remove"></i>
								 <label>$part.name #if($!part.content)<i class="icon-question-sign blue" title="$!part.content"></i>#end
								 </label>
								 <input type="text" name="value[$taxorder]" id="" required  value="$!item.get_meta(${part.baseid.ToString()})"/>
								 <input type="hidden" name="option_key[$taxorder]" value="$part.baseid" />
							 </li>
							 #set($taxorder = $taxorder+1)
						#end
					#end
				  </ul>
				<div style="clear:both;"></div>
			</li>	

#* toxicity_other *#
			<li class="moa_dmpk_block">
				<ul class="grid col-one-half mq2-col-full full-input">
					<li>
						$Controller.feilds("textinput","$type","toxicity_other", $!item.toxicity_other ,"","","","")
					</li>
				</ul>
				<div style="clear:both;"></div>
			</li>

#* toxicity_drug_to_drug_interactions 
			<li class="moa_dmpk_block">
				<ul class="grid col-one-half mq2-col-full full-input">
					<li>
						$Controller.feilds("textinput","$type","toxicity_drug_to_drug_interactions", $!item.toxicity_drug_to_drug_interactions ,"","","","")
					</li>
				</ul>
				<div style="clear:both;"></div>
			</li>	
			*#
		</ul>
	</div>
	<div style="clear:both;">
		#tab_notes("$type" "durability_toxicity" "bottom")
	</div>								
</article>
