
<div id="infotabs" class="min ui-tabs ui-widget ui-widget-content ui-corner-all">

    
    #if($item.loads_file)
    	<div id="" class="tabs min ui-tabs ui-widget ui-widget-content ui-corner-all">
        <h3>Loads from File: <a href="#" id="change_file" class="button">Change</a> | <input id="change_content_source" type="checkbox" name="item.loads_file" value="true" #if($item.loads_file) checked="checked" #end/>use file</h3>
        <h5>$item.static_file</h5>
        <input type="hidden" name="item.static_file" value="$!item.static_file" />
        <ul class="short ui-tabs-nav ui-widget-header ui-corner-all">
        <li><a href="#vis">Visible</a></li>
        <li><a href="#html">Html</a></li>
        </ul>
        <div id="vis">
        	<iframe frameborder="0" src="#" width="100%" height="500">$!item.load_rendered_content()</iframe>
        </div>
        
        <div id="html">
       		<textarea id="code" data-editable="false" rel="$settings.get_option("code_theme")">$!item.load_content()</textarea>
        </div>
        </div>
        
    #else
    
    
        #if($item.post_type.is_tabable_content)
            <button id="add_tab" style="float: right; margin:5px; position:relative; z-index:1;">Add Tab</button>
            <ul class="ui-tabs-nav ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top nonsort"><a href="#tab_overview">Overview</a></li>
                #set($T = 0)
                #foreach($tab in $tabs)
                    #if($tab.title=="Views" && $tab.load_content()=="")
                        #if($item.images.count>0)
                            <li class="ui-state-default ui-corner-top">
                                <a href="#dyno_tabs_$T" hideFocus='true'>$tab.title</a>
                                <input type="hidden" name="tabs[$T].baseid" value="$!tab.baseid" id='tab_id_${T}'/>
                                <input type="hidden" name="tabs[$T].title" value="$!tab.title" id='tab_title_${T}'/> 
                                <input type='hidden' name='tabs[$T].template.baseid' value='$!tab.template.baseid'  class='sort' id='tab_template_id_${T}'/>
                                <input type='hidden' name='tabs[$T].sort' value='$!tab.sort'  class='sort' id='tab_counter${T}'/>
                            </li>
                        #end
                    #else
                        #if($tab.title=="Views")
                            #if($item.images.count>0)
                                <li class="ui-state-default ui-corner-top">
                                    <a href="#dyno_tabs_$T" hideFocus='true'>$tab.title</a>
                                    <input type="hidden" name="tabs[$T].baseid" value="$!tab.baseid" id='tab_id_${T}'/>
                                    <input type="hidden" name="tabs[$T].title" value="$!tab.title" id='tab_title_${T}'/> 
                                    <input type='hidden' name='tabs[$T].template.baseid' value='$!tab.template.baseid'  class='sort' id='tab_template_id_${T}'/>
                                    <input type='hidden' name='tabs[$T].sort' value='$!tab.sort'  class='sort' id='tab_counter${T}'/>
                                </li>
                            #end
                        #else
                            <li class="ui-state-default ui-corner-top">
                                <a href="#dyno_tabs_$T" hideFocus='true'>$tab.title</a>
                                <input type="hidden" name="tabs[$T].baseid" value="$!tab.baseid" id='tab_id_${T}'/>
                                <input type="hidden" name="tabs[$T].title" value="$!tab.title" id='tab_title_${T}'/> 
                                <input type='hidden' name='tabs[$T].template.baseid' value='$!tab.template.baseid'  class='sort' id='tab_template_id_${T}'/>
                                <input type='hidden' name='tabs[$T].sort' value='$!tab.sort'  class='sort' id='tab_counter${T}'/>
                                #if($tab.title!="Views")
                                    <span class='ui-icon ui-icon-close'>Remove Tab</span>
                                    <span class="edit ui-icon ui-icon-pencil"></span>
                                #end
                            </li>
                        #end
                    #end
                    #set($T = $T+1)
                #end
            </ul>
        #end
        <div id="tab_overview">
            <h3 id="main_content_title">#if($item.post_type.is_Code)	Code block: #else Main description: #end</h3>
            <textarea #if($item.post_type.is_Code)  id="code" rel="$settings.get_option("code_theme")" data-editable="true" #else id="_details" #end name="item.content"  class=" #if($item.post_type.useTiny)tinyEditor full#end">$!item.load_content()</textarea>
            #if($item.post_type.useTiny)<input type="checkbox" #if($item.useTiny)checked="checked"#end value="true" />Use TinyMCE wysiwyg editor#end
        </div>
        #if($item.post_type.is_tabable_content)
            #set($T = 0)
            #foreach($tab in $tabs) 
                <div id="dyno_tabs_$T">
                    #if($tab.title=="Views" && $tab.content=="")
                        #if($item.images.count>0)
                            <img class="infotabTemplate" src="../Content/images/gallery_cal_eventholder.png"  id='viewTab' width="297" height="201" />
                            <input type="hidden" id='tab_$T' name="tabs[$T].content" value="<img class='infotabTemplate' src='../Content/images/gallery_cal_eventholder.png'  id='viewTab' width='297' height='201' />" />
                        #end
                    #else
                        #if($tab.title=="Views")
                            #if($item.images.count>0)
                                <img class="infotabTemplate" src="../Content/images/gallery_cal_eventholder.png"  id='viewTab' width="297" height="201" />
                            <input type="hidden" id='tab_$T' name="tabs[$T].content" value="<img class='infotabTemplate' src='../Content/images/gallery_cal_eventholder.png'  id='viewTab' width='297' height='201' />" />
                            #end
                        #else
                            <textarea id='tab_$T' class='tinyEditor full dyno_tabs'  name="tabs[$T].content">$!tab.content</textarea>
                        #end
                    #end
                </div>
                #set($T = $T+1)
            #end
        #end
    
        #if($item.post_type.is_tabable_content)
            <div style="position:absolute;top:-9999em;left:-9999em; z-index: 1;">
                <div id="page_dialog">
                    <fieldset class="ui-helper-reset">
                        <label for="tab_title">Title</label>
                        <input type="text" name="tab_title" id="tab_title" value="" class="ui-widget-content ui-corner-all" />
                        <label for="tab_content">Content</label>
                        <textarea name="tab_content" id="tab_content" class="ui-widget-content ui-corner-all"></textarea>
                    </fieldset>
                </div>
            </div>
         #end
	#end
 
 
</div>



#if($item.loads_file)
	<h4>Note: <em>This is not editable here.  It's only a preview.  To change that go to the site settings and turn on file editing.</em></h4>
#else
    <hr/>
    <br/> 
    <h3>Short codes <a href="#" title="show" id="shortcode">+</a></h3>
    <div id="shortcodes" >
        #foreach($short_code in $short_codes)
            $short_code<br/>
        #end
    </div>
    <h6><em>When using the short codes, adding the ! mark between the $ and { ( ie: &#36;!{notes_comments} ) will let the code retrun nothing if there is a value is unset.</em></h6>
    <br/>
#end
