<ul class="grid col-one-half mq2-col-full full-input">
	#* clin_phase_1 *#
	<li>
		<script>//move on clean up
		//todo
			$(function() {
				$("select[name^='item.clin_phase_']").on("change",function () {
					var val=$(this).val();
					if(val=="Failed")$(this).closest("li").nextAll().hide();
					if(val!="Failed")$(this).closest("li").nextAll().show();
					if(val=="Succeeded" || val=="Failed"){
						$(this).next(".clin_date").show();
					}else{
						$(this).next(".clin_date").hide();
						$(this).next(".clin_date").find("input").val("");
					}
				});
			});
		</script>
		<div class="clin_date">

			$Controller.feilds("select","$type","clin_phase_1", $!item.clin_phase_1 , "TBD,Failed,Succeeded,On going","","","","")
		
		
		 <div class="clin_date" #if($!item.clin_phase_1!="Succeeded" && $!item.clin_phase_1!="Failed")style="display:none;"#end >

			$Controller.feilds("textinput","$type","clin_phase_1_date", $!item.clin_phase_1_date ,"Date","MM/DD/YYYY",""," rel='date' ")
			
		 </div>
		 </div>
	</li>				  
	#* clin_phase_2 *#
	<li>
		
		$Controller.feilds("select","$type","clin_phase_2", $!item.clin_phase_2 , "TBD,Failed,Succeeded,On going","","","","")
		
		 <div class="clin_date" #if($!item.clin_phase_2!="Succeeded" && $!item.clin_phase_2!="Failed")style="display:none;"#end >
			 
			 $Controller.feilds("textinput","$type","clin_phase_2_date", $!item.clin_phase_2_date ,"Date","MM/DD/YYYY",""," rel='date' ")
			 
		 </div>
	</li>				  
	#* clin_phase_3 *#
	<li>

		$Controller.feilds("select","$type","clin_phase_3", $!item.clin_phase_3 , "TBD,Failed,Succeeded,On going","","","","")
		
		
		 <div class="clin_date" #if($!item.clin_phase_3!="Succeeded" && $!item.clin_phase_3!="Failed")style="display:none;"#end >

			  $Controller.feilds("textinput","$type","clin_phase_3_date", $!item.clin_phase_3_date ,"Date","MM/DD/YYYY",""," rel='date' ")
			 
			 
		 </div>
	</li>				  
</ul>
<div style="clear: both;"></div>