

<fieldset class="grid col-one-full mq2-col-full full-input" style="border:1px solid #ccc"><legend style="border-bottom:1px solid #494949">Make up</legend>
<ul class="grid col-one-half mq2-col-full full-input">
#* dose_form *#
	<li>
		$Controller.feilds("select","$type","dose_form", $!item.dose_form , $dose_forms,"","","taxed","")
	</li>
#* inactive_ingredients *#
	<li>
		
		#set($daval ="")

		#set($daval = $!item.inactive_ingredients)
		#feild_multipleselectinput($type "inactive_ingredients" $daval $!inactive_ingredientss  "" "" "" "tt")
		<input name="item.inactive_ingredients" type="hidden" value="$!item.inactive_ingredients" />
		<a href="#" class="tax_add button xsmall blue" data-select="#inactive_ingredients" data-type="inactive_ingredients" >Add New</a>
		<i><b>Note:</b> Use Ctrl+ click or Shift + click to select more then one item</i>
	</li>
</ul>
<ul class="grid col-one-half mq2-col-full full-input">

	#if($item.label_claim)
		#set($label_claims = $objectService.explode($!item.label_claim,":"))
		#set($i = 0)
		#foreach($sub in  $item.families.substances)
			#set($label_claim = "")
			#if($i<$!label_claims.Count)
				#* label_claim *#
					<li data-sub_id="$sub.baseid" data-sub_sort="$sub.basid">
						#set($label_claim = ${label_claims.get_Item($i)})
						$Controller.feilds("textinput","$type","label_claim", $label_claim ,"[ ${sub.abbreviated} ] Label Claim", "","claim_item","")
					</li>
			#end
			#set($i = $i+1)
		#end
	#else
		#foreach($sub in  $item.families.substances)
			#* label_claim *#
			<li data-sub_id="$sub.baseid" data-sub_sort="$sub.basid">
			$Controller.feilds("textinput","$type","label_claim", $!item.label_claim ,"[ ${sub.abbreviated} ] Label Claim", "","","")
			</li>
		#end
	#end
	
	
	$Controller.feilds("select","$type","dose_unit", $!item.dose_unit , "mg,mg/ml","Dose unit","","taxed","")
	
	
</ul>
<input type="hidden" name="label_claim" value="$!item.label_claim" id="item_label_claim"/>
</fieldset>


<ul class="grid col-one-half mq2-col-full full-input">
#* dosing *#
	<li>
		$Controller.feilds("select","$type","dosing", $!item.dosing , $dosings,"","","taxed","")
	</li>	
#* route_of_administration *#
	<li>
		$Controller.feilds("textinput","$type","route_of_administration", $!item.route_of_administration ,"","","","")
	</li>
#* frequency *#
	<li>
		$Controller.feilds("select","$type","frequency", $!item.frequency , $frequencys,"","","taxed","")
	</li>
#* pill_burden *#
	<li>
		$Controller.feilds("textinput","$type","pill_burden", $!item.pill_burden ,"","","","")
	</li>
</ul>

<ul class="grid col-one-half mq2-col-full full-input"> 
				  
#* alternative_indications *#
	<li>
		$Controller.feilds("textinput","$type","alternative_indications", $!item.alternative_indications ,"","(Hep B, etc.)","","")
	</li>				  
#* special_considerations *#
	<li>
		$Controller.feilds("textinput","$type","special_considerations", $!item.special_considerations ,"","(w/food, dietary restrictions, etc.)","","")
	</li>				  
#* special_populations *#
	<li>
		$Controller.feilds("textinput","$type","special_populations", $!item.special_populations ,"","(TB patients, pregnant women, etc.)","","")
	</li>				  
#* storage_condition *#
	<li>
		$Controller.feilds("textinput","$type","storage_condition", $!item.storage_condition ,"","storage conditions as listed on label or literature","","")
	</li>
</ul>
<div style="clear: both;"></div>