#* drugdata *#
	#*#set($typed_list = $item.interactions)
	#parse("center/model_tie_tables/interactions.vm")
	*#
	
	<label for="LMICdata">LMIC:</label>
	<div id="LMICdata">
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" width="100%">
		<thead>
			<tr>
				<th>Form</th>
				<th>AMT</th>
				<th width="5%">L1</th>
				<th width="5%">L2</th>
				<th width="5%">L3</th>
				<th width="5%"></th>
			</tr>
		</thead>
		<div id="dirty_options" style="display:none;">
		$Controller.feilds("select","$type","", "", $dose_forms, "","","","")
		
		</div>
		<tbody>
			#foreach($part in $item.lmics)

				<tr class="#if($velocityCount%2<1)even #else odd #end "  data-baseid="$part.id">
					<td>
					<input type="hidden" name="lmics[${velocityCount}].id" value="$!part.id"/>
					$Controller.feilds("select","$type","lmics[${velocityCount}].form", $!part.form, $dose_forms, "","","","")</td>
					<td>$Controller.feilds("textinput","$type","lmics[${velocityCount}].amount", $!part.amount ,"","label claim amount","","")</td>
					<td data-order="0"><input type="checkbox" name="lmics[${velocityCount}].lmic_1l" value="yes" #if($!part.amount=="yes") checked #end/></td>
					<td data-order="1"><input type="checkbox" name="lmics[${velocityCount}].lmic_2l" value="yes" #if($!part.amount=="yes") checked #end/></td>
					<td data-order="0"><input type="checkbox" name="lmics[${velocityCount}].lmic_3l" value="yes" #if($!part.amount=="yes") checked #end/></td>
					<td>
					#if($viewonly) #else
					<a href="#" class="button xsmall crimson defocus deletion removal"><i class="icon-remove" title="Remove"></i></a>
					#end
					</td>
				</tr>
			#end
		</tbody>
		<tfoot>			<tr>
				<th width="15%"></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th width="5%"></th>
			</tr></tfoot>
	</table>
	<a href="#" id="add_lmic" class="button add_lmic" data-type="drug_lmic">Add LMIC</a>
</div>


<!--<ul class="grid col-one-half mq2-col-full full-input">
	#* lmic_1l *#
		<li>
			#set($daval ="")
				#set($daval = $!item.lmic_1l)
			#feild_selectinput($type "lmic_1l" $daval "Yes,No" "1L in LMIC?" "" "")
		</li>
	#* lmic_2l *#
		<li>
			#set($daval ="")
				#set($daval = $!item.lmic_2l)
			#feild_selectinput($type "lmic_2l" $daval "Yes,No" "2L in LMIC?" "" "")
		</li>
	#* lmic_3l *#
		<li>
			#set($daval ="")
				#set($daval = $!item.lmic_3l)
			#feild_selectinput($type "lmic_3l" $daval "Yes,No" "3L in LMIC?" "" "")
		</li>
</ul>-->