#* drugdata *#
	#*#set($typed_list = $item.interactions)
	#parse("center/model_tie_tables/interactions.vm")
	*#
	
	<label for="LMICdata">LMIC:</label>
	<div id="LMICdata">
		<div id="dirty_options" style="display:none;">
			$Controller.feilds("select","$type","", "", $dose_forms, "","","","")
		</div>
		<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" width="100%">
			<thead>
				<tr>
					<!--<th>Form</th>-->
					<th width="25%">AMT</th>
					<th>L1</th>
					<th>L2</th>
					<th>L3</th>
					<th>TBD</th>
					<th width="5%"></th>
				</tr>
			</thead>
	
			<tbody>
				#foreach($part in $item.lmics)
					<tr class="#if($velocityCount%2<1)even #else odd #end "  data-baseid="$part.id">
						<td>
							$Controller.feilds("hidden","{'objectName':'lmics[${velocityCount}]', 'model_prop':'id', 'value':'$!part.id' }")
							$Controller.feilds("text","{'objectName':'lmics[$velocityCount]', 'model_prop':'amount', 'value':'$!part.amount', 'placeholder':'Enter the label claim amount for this LMIC'}")
						</td>
						<td class="table_radios" >
							<label for="radio${velocityCount}-1">Yes</label><input id="radio${velocityCount}-1" type="radio" name="lmics[${velocityCount}].lmic_1l" value="yes" #if($!part.lmic_1l=="yes") checked #end/>
							<label for="radio${velocityCount}-2">No</label><input id="radio${velocityCount}-2" type="radio" name="lmics[${velocityCount}].lmic_1l" value="no" #if($!part.lmic_1l!="yes") checked #end/>
						</td>
						<td class="table_radios" >
							<label for="radio${velocityCount}-3">Yes</label><input id="radio${velocityCount}-3" type="radio" name="lmics[${velocityCount}].lmic_2l" value="yes" #if($!part.lmic_2l=="yes") checked #end/>
							<label for="radio${velocityCount}-4">No</label><input id="radio${velocityCount}-4" type="radio" name="lmics[${velocityCount}].lmic_2l" value="no" #if($!part.lmic_2l!="yes") checked #end/>
						</td>
						<td class="table_radios" >
							<label for="radio${velocityCount}-5">Yes</label><input id="radio${velocityCount}-5" type="radio" name="lmics[${velocityCount}].lmic_3l" value="yes" #if($!part.lmic_3l=="yes") checked #end/>
							<label for="radio${velocityCount}-6">No</label><input id="radio${velocityCount}-6" type="radio" name="lmics[${velocityCount}].lmic_3l" value="no" #if($!part.lmic_3l!="yes") checked #end/>
						</td>
						<td class="table_radios" >
							<label for="radio${velocityCount}-7">Yes</label><input id="radio${velocityCount}-7" type="radio" name="lmics[${velocityCount}].tbd" value="yes" #if($!part.tbd=="yes") checked #end/>
							<label for="radio${velocityCount}-8">No</label><input id="radio${velocityCount}-8" type="radio" name="lmics[${velocityCount}].tbd" value="no" #if($!part.tbd!="yes") checked #end/>
						</td>
						<td>
							#if($viewonly) #else
							<a href="#" class="button xsmall crimson defocus deletion removal"><i class="icon-remove" title="Remove"></i></a>
							#end
						</td>
					</tr>
				#end
			</tbody>
			<tfoot>
				<tr>
					<th width="25%"></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th width="5%"></th>
				</tr>
			</tfoot>
		</table>
		<a href="#" id="add_lmic" class="button add_lmic" data-type="drug_lmic">Add LMIC</a>
	</div>


<!--<ul class="grid col-one-half mq2-col-full full-input">
	#* lmic_1l *#
		<li>
			#set($daval ="")
				#set($daval = $!item.lmic_1l)
			#feild_selectinput($type "lmic_1l" $daval "Yes,No" "1L in LMIC?" "" "")
		</li>
	#* lmic_2l *#
		<li>
			#set($daval ="")
				#set($daval = $!item.lmic_2l)
			#feild_selectinput($type "lmic_2l" $daval "Yes,No" "2L in LMIC?" "" "")
		</li>
	#* lmic_3l *#
		<li>
			#set($daval ="")
				#set($daval = $!item.lmic_3l)
			#feild_selectinput($type "lmic_3l" $daval "Yes,No" "3L in LMIC?" "" "")
		</li>
</ul>-->
<div style="clear: both;"></div>