<div class="">
	<a href="#" id="newyear">Add Year</a>

	<div id="tabed" >
		<ul class=" clearfix">
			#if($item.markets)
				#foreach($market in $!item.markets)
					#set($i=$velocityCount)
					<li><a href="#year${i}">$!market.year</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>
				#end
			#end
		</ul>
		#if($item.markets)
			#foreach($market in $!item.markets)
				#set($i=$velocityCount)
				#parse("center/assests/market_block.vm")
			#end
		#end
	</div>
	<div id="querybed">

		  <article >
			<ul class="grid col-one-half mq2-col-full full-input">
			<input type="hidden" name="{{__}}markets_counts[]" class="list_item drug_item" value="{{COUNT}}" />
			<input type="hidden" name="{{__}}markets[{{COUNT}}].baseid" class="list_item drug_item" value="" />
			<input type="hidden" name="{{__}}markets[{{COUNT}}].year" value="{{YEAR}}" />
			
		#* chai_ceiling_price *#
			<li>
				<label for="chai_ceiling_price_{{YEAR}}">CHAI ceiling price: <i class="icon-question-sign blue" title="Price per patient per year (pppy)"></i></label>
				$ <input type="text" name="{{__}}markets[{{COUNT}}].chai_ceiling_price" id="chai_ceiling_price_{{YEAR}}" placeholder="00.00" class="" value="">
			</li>				  			  
		#* patients_on_therapy *#
			<li>
				<label for="patients_on_therapy_{{YEAR}}">Number of patients on therapy in LMIC:</label>
				<input type="text" name="{{__}}markets[{{COUNT}}].patients_on_therapy" id="patients_on_therapy_{{YEAR}}" placeholder="" class="" value="">
			</li>				  
			<li><hr/></li>
		#* source_one *#
			<li>
				<label for="source_one_{{YEAR}}">Source One:</label>
				<select name="{{__}}markets[{{COUNT}}].source_one" id="source_one_{{YEAR}}" >
				  <option value="">Select</option>
				  #set($val=$!market.source_one)
				  <option #if($val=="PEPFAR")selected #end >PEPFAR</option>
				  <option #if($val=="Purchased LMIC")selected #end >Purchased LMIC</option>
				  <option #if($val=="Purchased Low income ")selected #end >Purchased Low income </option>
				  <option #if($val=="Other")selected #end >Other</option>
				</select>
			</li>
		#* source_one *#
			<li>
				<label for="source_one_price_{{YEAR}}">Source One price: <i class="icon-question-sign blue" title="Price per patient per year (pppy)"></i></label>
				$ <input type="text" name="{{__}}markets[{{COUNT}}].source_one_price" id="source_one_price_{{YEAR}}" placeholder="00.00" class="" value="">
			</li>  
		
			<li><hr/></li>
		#* source_two *#
			<li>
				<label for="source_two_{{YEAR}}">Source Two:</label>
				<select name="{{__}}markets[{{COUNT}}].source_two" id="source_two_{{YEAR}}" >
				  <option value="">Select</option>
				  #set($val=$!market.source_two)
				  <option #if($val=="PEPFAR")selected #end >PEPFAR</option>
				  <option #if($val=="Purchased LMIC")selected #end >Purchased LMIC</option>
				  <option #if($val=="Purchased Low income ")selected #end >Purchased Low income </option>
				  <option #if($val=="Other")selected #end >Other</option>
				</select>
			</li>
		#* source_two *#
			<li>
				<label for="source_two_price_{{YEAR}}">Source Two price: <i class="icon-question-sign blue" title="Price per patient per year (pppy)"></i></label>
				$ <input type="text" name="{{__}}markets[{{COUNT}}].source_two_price" id="source_two_price_{{YEAR}}" placeholder="00.00" class="" value="">
			</li>  
			</ul>
		  </article>

	</div>
</div>