<ul class="grid col-one-half mq2-col-full full-input">
	<li>
		<ul>
		#* lab_code
			<li>
				#capturefor(value)
#foreach($part in $item.substances)
$!part.lab_code
#between
,
#end
#end
#if($value.Trim()!="")
	#set($labcode=$value.Trim())
#else
	#set($PH="No Substance codes provided yet")
#end
				#feild_textinput("$type" "lab_code" $!labcode "" $!PH "" "disabled")
				<input type="hidden" name="item.lab_code" value="$!labcode" />
			</li> *#
		
		#* common_name_or_abbreviation *#
			<li>
				$Controller.feilds("textinput","$type","common_name_or_abbreviation", $!item.common_name_or_abbreviation ,"","Colloquial name / abbreviation","","")
			</li>
		
		#* brand_name *#
			<li>
				$Controller.feilds("select","$type","brand_name", $!item.brand_name , $brand_names,"","","taxed","")
			</li>				  
		#* new_drug_code *#
			<li>
				$Controller.feilds("textinput","$type","new_drug_code", $!item.new_drug_code ,"","","","")
			</li>				  
		</ul>
		<ul>			  
		#* approved_for *#
			<li>
				$Controller.feilds("select","$type","approved_for", $!item.approved_for , $approved_fors,"","","taxed","")
			</li>
		</ul>
  </li>
</ul>
<ul class="grid col-one-half mq2-col-full full-input">
	<li>
		<fieldset class="grid col-one-full mq2-col-full full-input" style="border:1px solid #ccc"><legend style="border-bottom:1px solid #494949">Companies</legend>
			<ul>
		#* manufacturer *#
			<li data-type_id="$manufacturer_type_id">
				$Controller.feilds("select","$type","manufacturer", $!item.manufacturer , $manufacturers,"Manufacturer","","taxed"," rel='commercial' ")
			</li>
		  </ul>
		</fieldset>
	</li>


#* investigational *#
	<li>
		$Controller.feilds("select","$type","investigational", $!item.investigational , "Yes,No,TBD","","","taxed","")
	</li>
</ul>
<div style="clear: both;"></div>