<div id="centralCalendar_wrap">
    <div id='selectedPlaceList' class='cAssest ini'>
        <a href="#" id='selectedPlaceList_btn' style="display:none;">Info</a> 
        <div id='selectedPlaceList_area' class='cAssest'></div>
    </div>
    <div id='calendar'></div>
    $!{post}
</div>

