<article class="grid col-full">
	<h2 id="header_title">
	#if($published==false && !$trashlist)Draft 
	#elseif(!$trashlist)Published 
	#else
	<span style="color: rgb(118, 10, 11); ">Trashed </span>
	#end
	
	
		Clinical Trials Arms 
		#parse("center/assests/display_pub.vm") 
		#*
		#if(!$skiplayout && !$viewonly)<a href="clinical.castle" class="button  xl right"><i class="icon-plus blue" title="Add"></i> New</a>#end
		*#
	</h2>
#*	 *# #if(!$skiplayout && !$viewonly)
	<p><b>NOTE:</b> You Create Arms from trials.</p>
	#end
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="data" width="100%">
		<thead>
			<tr>
				<th width="15%">ID</th>
				<th>Trail Number</th>
				<th>Name</th>
				<th>Drug</th>
				<th width="20%">Actions</th>
			</tr>
		</thead>
		<tbody>
			#foreach($item in $items)
				<tr class="#if($velocityCount%2<1)even #else odd #end rec_$item.ln_clinical_t" data-baseid="$item.baseid">
					<td>$!item.baseid</td>
					<td>#if($!item.trials.number)$!item.trials.number#else <em><b>orphaned</b></em> #end</td>
					<td>$!item.name</td>
					<td>#if($!item.drugs.Count>0)$!taxonomyService.get_taxonomy($!item.drugs.get_item(0).brand_name).name#else Not set#end</td>
					<td>
					#if($viewonly)
						<a href="clinical.castle?id=$item.baseid" class="button small">View</a>
					#else
						#if(!$skiplayout)
							<a href="clinical.castle?id=$item.baseid" class="button small">Edit</a> 
							#if(!$trashlist) | <a href="remove_clinical.castle?id=$item.baseid" class="button xsmall crimson defocus deletion">Remove</a> #end 
							#* |<a href="copyclinical.castle?id=$item.baseid&name=#if($!item.name)$!item.name#else$name#end" class="button xsmall">Copy</a> *#
						#else
							<a href="#ADD" class="additem button med">Add</a>
						#end
					#end
					</td>
				</tr>
			#end
		</tbody>
		<tfoot>
	</table>
</article>