#set($type = "clinical")

#if($viewonly)
	#parse("center/viewonly/clinical.vm")
#else

	#* *#
	#* NOTE: This is where you can change the dropdowns *#
	#* *#
	

	#set($not_props = $objectService.explode("name,alias,publish_time,post_type,outputError,editing,owner,baseid,published,checksum,filehash,static_file,url,position,sort,revision,version,deleted,is_active,is_default,is_visible,is_core,is_visible_to_others,is_frontend,is_admin,admin_url,is_link,is_editable,is_frontend_editable,is_Public,protect_post,is_deletable,is_cachable,is_trackable,loads_file,tmp,gets_media,gets_url,is_tabable_content,is_summarizable,is_taggable,gets_metadata,is_taxonomyable,is_categorized,is_templatable,parent,children,menuoptions,seen,options,theme,users,taxonomy_types,taxonomies,site,meta_data,meta_data_date,meta_data_geo,editable,root,logings,references,updated_date,creation_date,id,record_id,ln_clinical_t,content"))
	
	<article class="grid col-full">
	<form id="contact_form" class="contact_form autosave" action="/center/saveclinical.castle" method="post" name="contact_form">
	  <input type="hidden" name="item.baseid" value="$!item.baseid" />
	  
	  
		<article id="navtabs" class="grid col-full">
			<article class="grid col-full">
				<h2 id="header_title">
				  #if(!$item.baseid || $item.tmp)New #end Clinical Trial Arms 
				  #if($item.trials.number)
					<span style="font-size:16px"> <i>( trial #$!item.trials.number )</i> </span> 
					<input type="hidden" name="item.trials.baseid" value="$!item.trials.baseid" />
				  #end
				  #if(!$item.trials)
				  

#capturefor(trial_items)
#foreach($trial in $trials)
$!trial.title ($!trial.number) => $trial.baseid
#between
,
#end
#end
				  
				  
				 	<span style="font-size:16px; font-weight:bold; color:#760A0B;"><i>( this trial arm orphaned, choose its trial ) 
				 $Controller.feilds("select","trial","trials.baseid", "", $trial_items,"","","","") 
				  </i></span>
				  
		  
				  
				  
				  
				  
				  
				  #end
				</h2>
				<ul class="grid col-one-full mq2-col-full full-input">		  
					<li>
					#* name *#
						$Controller.feilds("textarea","$type","name", $!item.name ,"","",""," style='height:63px; min-height: auto;' ")
					</li>
					<li>
					#* title *#
						$Controller.feilds("textarea","$type","title", $!item.title ,"","","","")
					</li>
				</ul>
		  </article>
		  <hr/>
		  <div class="">
			<ul class="tabs clearfix">
				
				<li><a href="#drug_products">Drug Products</a></li>
				<li><a href="#pharmacology">Pharmacology</a></li>
				<li><a href="#efficacy">Efficacy</a></li>
				<li><a href="#durability">Durability</a></li>
			</ul>
			<div class="tab_container">
						
#* *#
#* drug_products ------------ *#
#* *#
			<article id="drug_products" class="tab_content">
				$Controller.notes("$type","drug_products","top")
				
				#parse("center/types_tabs/clinical/drug_products.vm")
				
				$Controller.notes("$type","drug_products","bottom")
			</article>

#* *#
#* pharmacology ------------ *#
#* *#
			<article id="pharmacology" class="tab_content">
				$Controller.notes("$type","pharmacology","top")
				
				#parse("center/types_tabs/clinical/pharmacology.vm")
				
				$Controller.notes("$type","pharmacology","bottom")
			</article>

#* *#
#* efficacy ------------ *#
#* *#
			<article id="efficacy" class="tab_content">
				$Controller.notes("$type","efficacy","top")
				#parse("center/types_tabs/clinical/efficacy.vm")
				$Controller.notes("$type","efficacy","bottom")
			</article>
			
#* *#
#* durability ------------ *#
#* *#
			<article id="durability" class="tab_content">
				$Controller.notes("$type","durability","top")
				#parse("center/types_tabs/clinical/durability.vm")
				$Controller.notes("$type","durability","bottom")
			</article>

		</div>
	</article>
	  <article class="grid col-full">
		  <hr/>
		  <ul class="grid col-one-full mq2-col-full full-input">
			#parse("center/assests/save_bar.vm")
		  </ul>
	  </article>
	  
	  <article class="grid col-full">
	  		#if(!$skiplayout && !$item.baseid)
			<ul>
				<li><h2>Save to add ties to Drugs or Regimens</h2></li>
			</ul> #end
		#if(!$skiplayout && $item.baseid>0)
		  #*<hr/>
		  <ul class="grid col-one-full mq2-col-full full-input">
				<li>
					#set($typed_list = $item.trials)
					#parse("center/model_tie_tables/trial.vm")
				</li>
		  </ul>
			#set($type="clinical")
			#parse("center/ref.vm")*#
		#end
		</article>
	</form>
	</article>
#end