<article class="grid col-full">
	
	<h2 id="header_title">Drug Products #parse("center/assests/display_pub.vm") #if(!$skiplayout && !$viewonly)<a href="drug.castle" class="button xl right"><i class="icon-plus blue" title="Add"></i> New</a>#end</h2>
		
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="data" width="100%">
		<thead>
			<tr>
				<th width="15%">Form</th>
				<th width="15%">Label claim</th>
				<th width="15%">Drug code</th>
				<th class="sorting_asc">Name/Code</th>
				<th width="15%">manufacturer</th>
				<th width="20%"></th>
			</tr>
		</thead>
		<tbody>
		#foreach($item in $items)
			#set($name = false)
			#set($taxedname = false)
			#set($manufacturer = false)
		
			<tr class="#if($velocityCount%2<1)even #else odd #end rec_$item.record_id" data-baseid="$item.baseid">
				<td>$!taxonomyService.get_taxonomy($!item.dose_form).name</td>
				
				<td>$!item.label_claim</td>
			
				<td>#if($item.new_drug_code)$!item.new_drug_code#else -- #end</td>
				#set($name = $item.get_named())
				#set($taxedname = $!postingService.get_taxonomy($name).name)


				<td>#if($taxedname)$taxedname#else$name#end</td>
				
				#set($manufacturer = $!postingService.get_taxonomy($item.manufacturer).name)
				<td>#if($manufacturer)$!manufacturer #else - #end</td>
				
				
				<td>
					#if($viewonly)
						<a href="drug.castle?id=$item.baseid" class="button small">View</a>
					#else
						#if(!$skiplayout)<a href="drug.castle?id=$item.baseid" class="button small">Edit</a> | <a href="remove_drug.castle?id=$item.baseid" class="button xsmall crimson defocus deletion">Remove</a> | <a href="copydrug.castle?id=$item.baseid&name=#if($taxedname)$taxedname#else$name#end" class="button xsmall">Copy</a>#else<a href="#ADD" class="additem button med">Add</a>#end
					#end
				</td>
			</tr>
		#end
		</tbody>
		<tfoot>
	</table>
</article>