#if($viewonly)
	#parse("center/viewonly/drug.vm")
#else
	#* *#
	#* NOTE: This is where you can change the dropdowns *#
	#* *#
	#set($type = "drug")
	
	
	#set($brand_name = $postingService.get_taxonomies("brand_name"))
#capturefor(brand_names)
#foreach($part in $brand_name)
$part.name => $part.alias
#between
,
#end
#end


	#set($frequency = $postingService.get_taxonomies("frequency"))
#capturefor(frequencys)
#foreach($part in $frequency)
$part.name => $part.alias
#between
,
#end
#end	
	
	
	#set($approved_for = $postingService.get_taxonomies("adult"))
#capturefor(approved_fors)
#foreach($part in $approved_for)
$part.name => $part.alias
#between
,
#end
#end

	
	#set($dose_form = $postingService.get_taxonomies("dose_type"))
#capturefor(dose_forms)
#foreach($part in $dose_form)
$part.name => $part.alias
#between
,
#end
#end

	
	#set($dosing = $postingService.get_taxonomies("dosing"))
#capturefor(dosings)
#foreach($part in $dosing)
$part.name => $part.alias
#between
,
#end
#end
	
	
	
	#set($inactive_ingredients = $postingService.get_taxonomies("inactive_ingredients"))
#capturefor(inactive_ingredientss)
#foreach($part in $inactive_ingredients)
$part.name => $part.alias
#between
,
#end
#end
	
	
	
	
	#set($manufacturer_type_id = 0)		
	#set($manufacturer = $postingService.get_taxonomies("commercial"))	
#capturefor(manufacturers)
#foreach($part in $manufacturer)
$part.name => $part.alias
#set($manufacturer_type_id = $part.taxonomy_type.id)
#between
,
#end
#end	

	#set($sra = $postingService.get_taxonomies("sra"))	
#capturefor(sras)
#foreach($part in $sra)
$part.name => $part.alias
#between
,
#end
#end	

	#set($sra_approval_status = $postingService.get_taxonomies("sra_approval_status"))	
#capturefor(sra_approval_statuss)
#foreach($part in $sra_approval_status)
$part.name => $part.alias
#between
,
#end
#end	


	#* *#
	#* END *#
	#* *#
		
		
<article class="grid col-full">
	<form id="entry_form" class="entry_form" action="/center/savedrug.castle" method="post" name="entry_form">
		<input type="hidden" name="item.baseid" value="$!item.baseid" />
		<input type="hidden" name="empty" value="#if(!$item.baseid)true#end" />
		<article id="navtabs" class="grid col-full">
			<div class="">
				<ul class="grid col-one-half mq2-col-full full-input">
					<li><h2 id="header_title">#if(!$item.baseid || $item.tmp)New #end Drug Product Data #if($item.new_drug_code)( $!item.new_drug_code )#end </h2><li>
					<li><h3>Attached to Drug Family,  $!item.families.getItem(0).name</h3></li>
				</ul>
				<ul class="grid col-one-half mq2-col-full full-input" style=" text-align:right;">
					<li><h4 style="margin-bottom:5px; bottom-border:1px solid #e2e2e2;">General Definition</h4><li>
					<li><b id="dose_form_info">Dose form:</b> $!taxonomyService.get_taxonomy($!item.dose_form).name</li>
					<li><b id="label_claim_info">Label claim:</b> $!item.label_claim</li>
					<li><b id="manufacturer_info">Manufacturer:</b> $!postingService.get_taxonomy($!item.manufacturer).name</li>
				</ul>			
				
				<br style="clear:both;"/>
				<hr/>
			</div>
			<div class="">
				<ul class="tabs clearfix">
					<li><a href="#regulatory_info">Regulatory Information</a></li>
					<li><a href="#dosing_admin">Dosing & Administration</a></li>
					<li><a href="#tab3">LMIC Regimen Use</a></li>
					<li><a href="#tab4">Clinical Study</a></li>
					<li><a href="#tab5">Market</a></li>
					<li><a href="#tab6">SRA</a></li>
				</ul>
				<div class="tab_container">
			
#* *#
#* regulatory_info ------------ *#
#* *#
					<article id="regulatory_info" class="tab_content">
						<div style="clear:both;">
							#tab_notes("$type" "regulatory_information" "top")
						</div>
						#parse("center/types_tabs/drug/regulatory_info.vm")
						<div style="clear:both;">
							#tab_notes("$type" "regulatory_information" "bottom")
						</div>
					</article>
#* *#
#* dosing_admin ------------ *#
#* *#
					<article id="dosing_admin" class="tab_content">
						<div style="clear:both;">
							#tab_notes("$type" "dosing_administration" "top")
						</div>
						#parse("center/types_tabs/drug/dosing_admin.vm")
						<div style="clear:both;">
							#tab_notes("$type" "dosing_administration" "bottom")
						</div>
					</article>
#* *#
#* tab3 ------------ *#
#* *#
					  <article id="tab3" class="tab_content">
						<div style="clear:both;">
							#tab_notes("$type" "lmic_regimen_use" "top")
						</div>
						#parse("center/types_tabs/drug/tab3.vm")
						<div style="clear:both;">
							#tab_notes("$type" "lmic_regimen_use" "bottom")
						</div>
					  </article>
#* *#
#* tab4 ------------ *#
#* *#
					  <article id="tab4" class="tab_content">
						<div style="clear:both;">
							#tab_notes("$type" "clinical_study" "top")
						</div>
						#parse("center/types_tabs/drug/tab4.vm")
						<div style="clear:both;">
							#tab_notes("$type" "clinical_study" "bottom")
						</div>
					  </article>
			  
#* *#
#* tab5 ------------ *#
#* *#
					  <article id="tab5" class="tab_content">
						<div style="clear:both;">
						#tab_notes("$type" "market" "top")
						</div>
						#parse("center/types_tabs/drug/tab5.vm")
						<div style="clear:both;">
						#tab_notes("$type" "market" "bottom")
						</div>				
					  </article>
#* *#
#* tab6 ------------ *#
#* *#
						<article id="tab6" class="tab_content">
							<div style="clear:both;">
								#tab_notes("$type" "sra" "top")
							</div>
								#parse("center/types_tabs/drug/tab6.vm")
							<div style="clear:both;">
								#tab_notes("$type" "sra" "bottom")
							</div>
						</article>
					</div>
				</div>
			</article>
			<article class="grid col-full">
			  <hr/>
			  <ul class="grid col-one-full mq2-col-full full-input">
					#parse("center/assests/save_bar.vm")
			  </ul>
			  <br/>
			  <br/>
			  <hr/>
			</article>
		#if(!$skiplayout && !$item.baseid)
			<h2>Save to add Substances or to Clinicals</h2>
		#end
		
		#if(!$skiplayout && $item.baseid>0)
		<article class="grid col-full datagrid_area">
		  <hr/>
		  <ul class="grid col-one-half mq2-col-full">
			<li>
				#* substancedata 
				#set($typed_list = $item.substances)
				#parse("center/model_tie_tables/substance.vm")*#
				
				
				
				
				
				
				
			</li>	
		  </ul>
		  <ul class="grid col-one-half mq2-col-full">
			<li>
				#* Clinicaldata *#
				#set($typed_list = $item.clinicals)
				#parse("center/model_tie_tables/clinical.vm")
			</li>
		  </ul>
		</article>
		#end
		
		#if(!$skiplayout && $item.baseid>0)
			#set($type="drug")
			#parse("center/ref.vm")
		#end
	  </form>
	</article>
#end