<article class="grid col-full">
	
	<h2 id="header_title">Drug Families #parse("center/assests/display_pub.vm") #if(!$skiplayout && !$viewonly)<a href="family.castle" class="button xl right" #if($substance_count<=0) id="substances_disabled" title="You must adds substances first" #end><i class="icon-plus blue" title="Add"></i> New</a>#end</h2>
		
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="data" width="100%">
		<thead>
			<tr>
				<th width="15%">Drug code</th>
				<th class="sorting_asc">Name/Code</th>
				<th width="20%"></th>
			</tr>
		</thead>
		<tbody>
		#foreach($item in $items)
			#set($name = false)
			#set($taxedname = false)
			#set($manufacturer = false)
		
			<tr class="#if($velocityCount%2<1)even #else odd #end rec_$item.record_id" data-baseid="$item.baseid">
				<td>#if($item.new_drug_code)$!item.new_drug_code#else -- #end</td>
				#set($name = $item.get_named())
				#set($taxedname = $!postingService.get_taxonomy($name).name)
				#set($manufacturer = $!postingService.get_taxonomy($item.manufacturer).name)

				<td>#if($taxedname)$taxedname#else$name#end #if($item.label_claim)- $!item.label_claim#end #if($manufacturer)- $!manufacturer #end</td>
				<td>
					#if($viewonly)
						<a href="drug.castle?id=$item.baseid" class="button small">View</a>
					#else
						#if(!$skiplayout)<a href="family.castle?id=$item.baseid" class="button small">Edit</a> | <a href="remove_family.castle?id=$item.baseid" class="button xsmall crimson defocus deletion">Remove</a> | <a href="copyfamily.castle?id=$item.baseid&name=#if($taxedname)$taxedname#else$name#end" class="button xsmall">Copy</a>#else<a href="#ADD" class="additem button med">Add</a>#end
					#end
				</td>
			</tr>
		#end
		</tbody>
		<tfoot>
	</table>
</article>