#if($viewonly)
	#parse("center/viewonly/family.vm")
#else
	#* *#
	#* NOTE: This is where you can change the dropdowns *#
	#* *#
	#set($type = "drug_family")
	
	
	#set($brand_name = $postingService.get_taxonomies("brand_name"))
#capturefor(brand_names)
#foreach($part in $brand_name)
$part.name => $part.alias
#between
,
#end
#end


	#set($frequency = $postingService.get_taxonomies("frequency"))
#capturefor(frequencys)
#foreach($part in $frequency)
$part.name => $part.alias
#between
,
#end
#end	
	
	
	#set($approved_for = $postingService.get_taxonomies("adult"))
#capturefor(approved_fors)
#foreach($part in $approved_for)
$part.name => $part.alias
#between
,
#end
#end

	
	#set($dose_form = $postingService.get_taxonomies("dose_type"))
#capturefor(dose_forms)
#foreach($part in $dose_form)
$part.name => $part.alias
#between
,
#end
#end

	
	#set($dosing = $postingService.get_taxonomies("dosing"))
#capturefor(dosings)
#foreach($part in $dosing)
$part.name => $part.alias
#between
,
#end
#end
	
	
	
	#set($inactive_ingredients = $postingService.get_taxonomies("inactive_ingredients"))
#capturefor(inactive_ingredientss)
#foreach($part in $inactive_ingredients)
$part.name => $part.alias
#between
,
#end
#end
	
	
	
	
	#set($manufacturer_type_id = 0)		
	#set($manufacturer = $postingService.get_taxonomies("commercial"))	
#capturefor(manufacturers)
#foreach($part in $manufacturer)
$part.name => $part.alias
#set($manufacturer_type_id = $part.taxonomy_type.id)
#between
,
#end
#end	

	#set($sra = $postingService.get_taxonomies("sra"))	
#capturefor(sras)
#foreach($part in $sra)
$part.name => $part.alias
#between
,
#end
#end	

	#set($sra_approval_status = $postingService.get_taxonomies("sra_approval_status"))	
#capturefor(sra_approval_statuss)
#foreach($part in $sra_approval_status)
$part.name => $part.alias
#between
,
#end
#end	


	#* *#
	#* END *#
	#* *#
#capturefor(fam_sub_code)
#foreach($part in  $item.substances)
$part.abbreviated
#between
<em>:</em>
#end
#end	

		
		
	<article class="grid col-full">
	  <form id="entry_form" class="entry_form autosave" action="/center/savefamily.castle" method="post" name="entry_form">
		<input type="hidden" name="item.baseid" value="$!item.baseid" />
		<input type="hidden" name="empty" value="#if(!$item.baseid)true#end" />
		<article id="navtabs" class="grid col-full">
		  <h2 id="header_title">#if(!$item.baseid || $item.tmp)New #end Drug Family  (<span id="famSubCode"><i id="sub_code">$!fam_sub_code</i> <i title="edit" class="icon-edit"></i></span>) </h2>
		  <hr/>
		  <div id="subCodeEdit" class=" #if(!$item.baseid || $item.tmp) open #else closed #end ">
			<ul id="sortable">
                #foreach($substance in $item.substances)
                    #if($substance.baseid!=0)
						<li class='substance_item'>
							<i title="edit" class="icon-trash"></i>
							<span class='sortable_handle'>handle</span>
							$!postingService.get_taxonomy($substance.generic_name).name (<span class='sub_code'> $substance.abbreviated </span>)

							<input type="hidden" name="substances[$!{substance.baseid}].baseid" value="$!{substance.baseid}" class="substance"/>	
							<input type="hidden" name="family_substance[$!{substance.baseid}].baseid" value="$!{substance.family_substance.get_Item(0).id}" class="substance"/>	
							<input type="hidden" name="family_substance[$!{substance.baseid}].family.baseid" value="$!{item.baseid}" class=""/>
							<input type="hidden" name="family_substance[$!{substance.baseid}].substance_order" value="$!{substance.family_substance.get_Item(0).substance_order}" class="substanceOrder"/>
							<input type="hidden" name="family_substance[$!{substance.baseid}].substance.baseid" value="$!{substance.baseid}" class=""/>
      					 </li>
                    #end
                #end
			</ul>
		  	<a href="#" id="famSubAdd" class="button">Add new substance</a> <i title="close" class="icon-power-off"></i>
			<br/><br/>
		  </div>
		  
		  
		  <div class="">
			<ul class="tabs clearfix">
				<li><a href="#drug_products">Drugs</a></li>			  
			</ul>
			<div class="tab_container">

#* *#
#* drug_products ------------ *#
#* *#
				<article id="drug_products" class="tab_content">
					$Controller.notes("$type","drug_products","top")
			  		#parse("center/types_tabs/drug/drug_products.vm")
					$Controller.notes("$type","drug_products","bottom")
				</article>			  


			</div>
		  </div>
		</article>
		<article class="grid col-full">
		  <hr/>
		  <ul class="grid col-one-full mq2-col-full full-input">
				#parse("center/assests/save_bar.vm")
		  </ul>
		  <br/>
		  <br/>
		  <hr/>
		</article>
		#if(!$skiplayout && !$item.baseid)
			<h2>Save to add Substances or to Clinicals</h2>
		#end
		
		#if(!$skiplayout && $item.baseid>0)
		 #* <article class="grid col-full datagrid_area">
		  <hr/>
		  <ul class="grid col-one-half mq2-col-full">
			<li>
				 substancedata
				#set($typed_list = $item.substances)
				#parse("center/model_tie_tables/substance.vm")
			</li>	
		  </ul>
		 <ul class="grid col-full mq2-col-full">
			<li>
				Clinicaldata
				#set($typed_list = $item.clinicals)
				#parse("center/model_tie_tables/clinical.vm")
			</li>
		  </ul>
		</article> *#
		#end
		
		#if(!$skiplayout && $item.baseid>0)
			#set($type="drug")
			#parse("center/ref.vm")
		#end
		
		
		
			<div style="clear:both;">
				<div class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-top">
					#set($Pagination_location='top')
					#set($target = $status.title)
					#parse("admin/listings/areas/pagination.vm")
				</div>
				
				<table cellpadding="0" cellspacing="0" border="0" class="display ui-widget ui-helper-reset ui-widget-content" id="example" width="100%">
					<thead class="">
						<tr>
							<th class="ui-state-default" rowspan="1" colspan="1" style="width:15%;">User</th>
							<th class="ui-state-default" rowspan="1" colspan="1">Entry</th>
							<th class="ui-state-default" rowspan="1" colspan="1" style="width:15%;">Date</th>
							<th class="ui-state-default" rowspan="1" colspan="1" style="width:1%;"></th>
						</tr>
					</thead>
					<tbody>
						#set($c=0)
						#foreach($item in $logs)#set($c=$c+1)#end
						#if($logs && $c>0)
							#set($iCount=0)
							#foreach($item in $logs)
								#if($iCount%2==0) #set($polarity="even") #else #set($polarity="odd") #end
								<tr class="item item_aTar item_$!item.baseid $polarity" rel="$!item.baseid">
									<td><strong>$!item.nid</strong></td>
									<td align="center">$item.entry</td>
									<td align="center">$item.date</td>
									<td  align="center"></td>
								</tr>
								<tr class="item-child  $polarity closed">
									<td colspan="5">#if($!item.outputError)<b title="There seems to be an error on this item and it will not show." class="itemError">!</b>#end</td>
								</tr>
								#set($iCount=$iCount+1)
							#end
						#end   
					</tbody>
					<tfoot>
						<tr>
							<th class="ui-state-default" rowspan="1" colspan="1">Name</th>
							<th class="ui-state-default" rowspan="1" colspan="1">Onwer</th>
							<th class="ui-state-default" rowspan="1" colspan="1">Date</th>
							<th class="ui-state-default" rowspan="1" colspan="1"></th>
						</tr>
					</tfoot>
				</table>
				
				
				<div class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-bottom">
					#set($Pagination_location='bottom')
					#parse("listing_parts/areas/pagination.vm")    
				</div>
			</div>
		
	  </form>
	</article>
#end