#set($_props = $objectService.get_type_properties($type))


<div id="ref_chooser"  style="position:absolute;left:-999em;top:-999em;">
	<select class="prop_selector">
		#foreach($part in $_props)
			#if(!$not_props.Contains($part))
				<option class="drug">$part</option>
			#end
		#end
	</select>

</div>
<article class="grid col-full datagrid_area">
	<input type="hidden" name="typed_ref" value="$type"/>
  <hr/>
  <ul class="grid col-one-full mq2-col-full">
	<li>
	  <label for="Referencedata">Reference:</label>
	  <table cellpadding="0" cellspacing="0" border="0" class="display datagrid ref" id="Referencedata" width="100%">
		<thead>
		  <tr>
		  		<th width="15%">Ref ID</th>
				<th width="15%">Type</th>
				<th width="25%">Name</th>
				<th>location</th>
				#if(!$viewonly)<th width="20%"></th>#end
		  </tr>
		</thead>
		<tbody>
			#foreach($part in $item.references)
			#set($idx = ${velocityCount} - 1)
			<tr class="#if($velocityCount%2<1)even #else odd #end rec_$item.new_drug_code" data-baseid="$part.baseid">
				<td><input type="hidden" name="references[${idx}].baseid" value="$!part.baseid" class="drug_item"/>$!part.baseid</td>
				<td>$!part.get_meta("ref_type")</td>
				<td class="no_overflow"><span title="$!part.name">$!part.name</span></td>
				<td class="no_overflow"><a href="#if($!part.url)$!part.url#else $!part.static_file #end" target="_blank" title="#if($!part.url)$!part.url#else $!part.static_file #end">#if($item.static_file)<i class="icon-download-alt"></i>#else<i class="icon-external-link-sign"></i>#end #if($!part.url)$!part.url#else $!part.static_file #end</a></td>
			  #if(!$viewonly)<td>
			  
				<span class="editing_action_block">
					<span class="copy_block">
						<a href="#" class="button xsmall ref_text" title=""><i class="icon-copy" title="Click to copy reference code"></i></a>
						<span class="copy_area"><span class="copy_text">#{{REF $!part.baseid}}</span><i class="icon-copy" title="Click to close."></i></span>
					</span>
					<a href="reference.castle?id=$part.baseid" class="button small edit_item ref_inline_edit" data-type="$type"><i class="icon-pencil" title="Edit"></i></a>
					<a href="#" class="button xsmall crimson defocus removal"><i class="icon-remove" title="Remove"></i></a>
				</span>
			  </td>#end
			</tr>
			#end
		</tbody>
		<tfoot>
		</tfoot>
	  </table>
	  #if(!$viewonly)
	  <a href="#" class="button ref_form" data-type="reference"><i class="icon-plus blue" title="Add"></i> Add a $type reference</a>
	  #end
	   </li>
  </ul>
</article>