#if($viewonly)
	#parse("center/viewonly/reference.vm")
#else
	#set($not_props = $objectService.explode("name,alias,publish_time,post_type,outputError,editing,owner,baseid,published,checksum,filehash,static_file,url,position,sort,revision,version,deleted,is_active,is_default,is_visible,is_core,is_visible_to_others,is_frontend,is_admin,admin_url,is_link,is_editable,is_frontend_editable,is_Public,protect_post,is_deletable,is_cachable,is_trackable,loads_file,tmp,gets_media,gets_url,is_tabable_content,is_summarizable,is_taggable,gets_metadata,is_taxonomyable,is_categorized,is_templatable,parent,children,menuoptions,seen,options,theme,users,taxonomy_types,taxonomies,site,meta_data,meta_data_date,meta_data_geo,editable,root,logings,references,updated_date,creation_date,id,record_id,ln_clinical_t,content"))
	
	<article class="grid col-full">
		<form id="contact_form" class="contact_form" action="/center/savereference.castle" method="post" name="contact_form" enctype="multipart/form-data">
			<input type="hidden" name="item.baseid" value="$!item.baseid" />
			<article class="grid col-full">
				  <h2 id="header_title">#if(!$item.baseid || $item.tmp)New #end Reference</h2>
				  <hr/>
			</article>
			<article class="grid col-full">
				<ul class="grid col-one-full mq2-col-full full-input">       
					<li>
						<label for="name">Model Property: <i  class="icon-question-sign blue" title="This is the scoop in which this reference is tied to.  IE: If 'Global', then it's for the whole entry, but if 'Name' then it would be in reference to the 'Name' feild."></i></label>
						#set($_props = $objectService.get_type_properties($type))
						#if($_props.Count>0)
						
							<input type="hidden" name="meta_key[0]" value="ref_type" />
							<input type="hidden" name="post[0]" value="$item.baseid" />
							<select name="value[0]" >
								<option class="$type" value="global">Global</option>
								
								#if($type=="clinical")
									<option class="$type" value="Adverse event">Adverse event</option>
									<option class="$type" value="Serious Adverse event">Serious Adverse event</option>
								#end
								
								#foreach($part in $_props)
									#if(!$not_props.Contains($part))
										<option class="drug" value="$part">$htmlService.capitalize_all($part.Replace("_"," "))</option>
									#end
								#end
							</select>
							#foreach($part in $item.meta_data)
								#if(!$_props.Contains($part.value))
									<!-- $!part.meta_key -->
									<input type="hidden" name="value[$velocityCount]" value="$!part.value" />
									<input type="hidden" name="meta_key[$velocityCount]" value="$!part.meta_key" />
									<input type="hidden" name="post[$velocityCount]" value="$item.baseid" />
								#end
							#end
						#else
						<h3>Global</h3>
						<em><strong>Note:</strong> This is set as a global reference to which you may then, after saving, add it to a data model in the tables below.</em>
						<hr/>
							#set($types = $objectService.explode("drug,clinical,substance,treatment"))
							
							#set($drug_props = $objectService.get_type_properties("drug"))
							#set($clinical_props = $objectService.get_type_properties("clinical"))
							#set($substance_props = $objectService.get_type_properties("substance"))
							#set($treatment_props = $objectService.get_type_properties("treatment"))
						
							#set($not_props = $objectService.explode("name,alias,publish_time,post_type,outputError,editing,owner,baseid,published,checksum,filehash,static_file,url,position,sort,revision,version,deleted,is_active,is_default,is_visible,is_core,is_visible_to_others,is_frontend,is_admin,admin_url,is_link,is_editable,is_frontend_editable,is_Public,protect_post,is_deletable,is_cachable,is_trackable,loads_file,tmp,gets_media,gets_url,is_tabable_content,is_summarizable,is_taggable,gets_metadata,is_taxonomyable,is_categorized,is_templatable,parent,children,menuoptions,seen,options,theme,users,taxonomy_types,taxonomies,site,meta_data,meta_data_date,meta_data_geo,editable,root,logings,references,updated_date,creation_date,id,record_id,ln_clinical_t,content"))
						
<!--
							<select name="value[0]">
								<option value="global">Global</option>
								<optgroup label="Drug Products">
								#foreach($part in $drug_props)
									#if(!$not_props.Contains($part))
										<option class="drug" value="$part">$htmlService.capitalize_all($part.Replace("_"," "))</option>
									#end
								#end
								</optgroup>
   								<optgroup label="Clinical Trials">
								#foreach($part in $clinical_props)
									#if(!$not_props.Contains($part))
										<option class="clinical" value="$part">$htmlService.capitalize_all($part.Replace("_"," "))</option>
									#end
								#end
								</optgroup>
   								<optgroup label="Drug Substances">
								#foreach($part in $substance_props)
									#if(!$not_props.Contains($part))
										<option class="substance" value="$part">$htmlService.capitalize_all($part.Replace("_"," "))</option>
									#end
								#end
								</optgroup>
   								<optgroup label="Regimens">
								#foreach($part in $treatment_props)
									#if(!$not_props.Contains($part))
										<option class="treatment" value="$part">$htmlService.capitalize_all($part.Replace("_"," "))</option>
									#end
								#end
								</optgroup>
							</select>
						-->
						
							<input type="hidden" name="value[0]" value="global" />
							<input type="hidden" name="meta_key[0]" value="ref_type" />
							<input type="hidden" name="post[0]" value="$!item.baseid" />	
						#end
					</li>
				</ul>
				
				<ul class="grid col-one-half mq2-col-full full-input">   
					<li>
#* name *#
					<label for="name">Name:</label>
						<input type="text" name="item.name" id="name" placeholder=""  value="$!item.name" />
					</li>	
				</ul>
				<ul class="grid col-one-half mq2-col-full full-input">
					<li>
#* load_file *#
					<label for="load_file"><span id="will_load">Load_file:</span> <input type="checkbox" name="item.load_file" id="load_file" value="$!item.load_file" #if($item.static_file)checked="checked"#end/></label>
						
						<div class="load_file #if(!$item.static_file)active#end">
#* url *#
					<label for="url"><i class="icon-external-link-sign"></i> URL:</label>
						<em><strong>Note:</strong>This is the url in which the items can be fould out.</em>
						<input type="text" name="item.url" id="url" placeholder="http://domain.tld/example.pdf" #if(!$item.static_file)required#end value="$!item.url" /></div>
						
						<div class="load_file #if($item.static_file)active#end">
						#if($item.static_file)
							Current file : $item.static_file <i class="icon-download-alt"></i><!--<i class="icon-remove red"></i>-->
						#end
#* static_file *#
					<label for="static_file"><i class="icon-file"></i> File: #if($item.static_file)<i class="icon-question-sign blue" title="By choosing a new file you will delete the current and replace with the new file."></i>#end</label>
						<em><strong>Note:</strong>This is a file that has been uploaded to the system.</em>
						<input type="file" name="newfile" id="static_file" /></div>
						
					</li> 
					<!--<li class="content">
#* content *#
					<label for="content"><i class="icon-file-alt"></i> Content:</label>
						<input type="text" name="item.content" id="content" placeholder="" value="$!item.content" />
					</li>-->
				</ul>
				<ul class="grid col-one-full mq2-col-full full-input">
					<li>
#* notes *#
					<label for="notes">notes:</label>
						<textarea name="item.notes">$!item.notes</textarea>
					</li>
				</ul>
			</article>
			<ul class="grid col-one-full mq2-col-full full-input">
				<li>
				<button type="submit" id="submit" name="submit" class="button fright" title="Save it and go to the list">Save & Exit</button> &nbsp; &nbsp;
				#if(!$skiplayout)
					<button type="submit" id="submit" name="apply" class="button fright" value="applied"  title="Save and comeback to edit more">
						Save & Return
					</button> &nbsp; &nbsp;
					<button type="submit" id="submit" name="cancel" class="button fright" value="cancled"  title="Exit to the list with out saving" formnovalidate>Exit</button>
				#end
				</li>	
			</ul>
			
			
		#if(!$skiplayout && !$item.baseid)
		<h2>Save to add Substances or to Clinicals</h2>
		#end
		
		#if(!$skiplayout && $item.baseid>0)
		<article class="grid col-full datagrid_area">
		  <hr/>
	
		  <ul class="grid col-one-half mq2-col-full">
			<li>
				#* Clinicaldata *#
				#set($typed_list = $item.clinicals)
				#parse("center/model_tie_tables/clinical.vm")
			</li>
			<li>
				#* Treatmentdata *#
				#set($typed_list = $item.trials)
				#parse("center/model_tie_tables/trial.vm")
			</li>
		  </ul>
		  <ul class="grid col-one-half mq2-col-full">
			<li>
				#* Drugdata *#
				#set($typed_list = $item.drugs)
				#parse("center/model_tie_tables/drug.vm")
			</li>
			<li>
				#* Substancedata *#
				#set($typed_list = $item.substances)
				#parse("center/model_tie_tables/substance.vm")
			</li>
		  </ul>
		</article>
		#end
			
			
			
				
		</form>
	</article>
#end