<article class="grid col-full">
	
	<h2 id="header_title">	#if($trashlist)
	<span style="color: rgb(118, 10, 11); ">Trashed </span>
	#end
	References #if(!$skiplayout && !$viewonly)<a href="reference.castle" class="button  xl right"><i class="icon-plus blue" title="Add"></i> New</a>#end</h2>
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid ref" id="data" width="100%">
		<thead>
			<tr>
		  		<th width="15%">Ref ID</th>
				<th width="15%">Type</th>
				<th width="25%">Name</th>
				<th>location</th>
				<th width="10%"></th>
			</tr>
		</thead>
		<tbody>
		#foreach($item in $items)
			<tr class="#if($velocityCount%2<1)even #else odd #end rec_$item.ln_clinical_t" data-baseid="$item.baseid">
				<td>$!item.baseid</td>
				<td>$!item.get_meta("ref_type")</td>
				<td class="no_overflow"><span title="$!item.name">$!item.name</span></td>
				<td class="no_overflow"><a href="#if($!item.url)$!item.url#else $!item.static_file #end" target="_blank"  title="#if($!item.url)$!item.url#else $!item.static_file #end">#if($item.static_file)<i class="icon-download-alt"></i>#else<i class="icon-external-link-sign"></i>#end #if($!item.url)$!item.url#else $!item.static_file #end</a></td>
				<td>
					#set($TYPE = "reference")
					#parse("center/assests/list_actions.vm")
				</td>
			</tr>
		#end
		</tbody>
		<tfoot>
	</table>
</article>