#if($viewonly)
	#parse("center/viewonly/substance.vm")
#else

	#* *#
	#* NOTE: This is where you can change the dropdowns *#
	#* *#
	#set($type = "substance")
	
	#set($generic_name = $postingService.get_taxonomies("generic_name"))
#capturefor(generic_names)
#foreach($part in $generic_name)
$part.name => $part.alias
#between
,
#end
#end

	#* NOTE: This is where you can change the dropdowns
	#set($mechanism_of_action = $objectService.explode("INI"))
	#set($generic_name = $postingService.get_taxonomies("generic_name"))
	#set($chemical_name = $postingService.get_taxonomies("chemical_name"))
	 *#
<form id="contact_form" class="contact_form autosave" action="/center/savesubstance.castle" method="post" name="contact_form" enctype="multipart/form-data">
	<input type="hidden" name="item.baseid" value="$!item.baseid" />
	<input type="hidden" name="empty" value="#if(!$item.baseid)true#end" />

	<article class="grid col-full">
		<div id="ddiradio" class="pubstate ui-buttonset" style="float: right;padding-top:15px;">Used for DDI Only
			<input type="radio" name="item.for_ddi" id="ddiradio1" class="button" value="no" #if( $!item.for_ddi=="no" ) checked #end/>
			<label for="ddiradio1" style="display: inline-block;font-size: 0.8em;" >#if( $!item.for_ddi=="no" )<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end No</label>
			
			<input type="radio" name="item.for_ddi" id="ddiradio2" class="button" value="yes" #if( $!ddi_only || $!item.for_ddi=="yes") checked #end />
			<label for="ddiradio2" style="display: inline-block;font-size: 0.8em;" >#if($!ddi_only || $!item.for_ddi=="yes")<i class="icon-check"></i>#else<i class="icon-check-empty"></i>#end Yes</label>
		</div>

		<h2 id="header_title">
		#parse("center/assests/trash_choice.vm") 

		#if(!$item.baseid || $item.tmp)New #end Drug Substance
		</h2>
		<ul class="grid col-full full-input">

#* generic_name *#
			<li>
				#set($daval ="")
				#set($daval = $!item.generic_name)
				#feild_selectinput($type "generic_name" $daval $generic_names "" "taxed" "")
			</li>
			
#* abbreviated *#
			<li>
				<label>Abbreviation</label>
				$Controller.feilds("textinput","$type","abbreviated", $!item.abbreviated ,"","","","")
			</li>
			
#* lab_code *#
			<li>
				#set($daval ="")
				#set($daval = $!item.lab_code)
				#feild_textinput("$type" "lab_code" $daval "" "" "" "")
			</li>
			
#* chemical_name *#
			<li>
				#set($daval ="")
				#set($daval = $!item.chemical_name)
				#feild_textinput("$type" "chemical_name" $daval "" "" "" "")
			</li>
#* molecular_formula *#
			<li>
				#set($daval ="")
				#set($daval = $!item.molecular_formula)
				#feild_textinput("$type" "molecular_formula" $daval "" "" "" "")
			</li>

#* mechanism_of_action *#
			<li>
				#set($daval ="")
				#set($daval = $!item.mechanism_of_action)
				#feild_textinput("$type" "mechanism_of_action" $daval "" "" "" "")
			</li>

#* pro_drug *#
#*			<li>
				<script>
				$(function() {
					$("#pro_drug").on("change",function(){
						var val=$("#pro_drug :selected").val();
						if(val=="Yes"){
							$("#active_moiety_area").show();
						}else{
							$("#active_moiety_area input").val("");
							$("#active_moiety_area").hide();
						}
					});
				});
				</script>
				#set($daval ="")
				#set($daval = $!item.pro_drug)
				#feild_selectinput($type "pro_drug" $daval "Yes,No" "" "" "")
				<div id="active_moiety_area" #if($!item.pro_drug!="Yes")style="display:none;"#end>
					#set($daval = $!item.active_moiety)
					#feild_textinput("$type" "active_moiety" $daval "" "" "" "")
				</div>
			</li>
*#




<li>
<label for="Prodrugdata">Prodrugs:</label>
<table cellpadding="0" cellspacing="0" border="0" class="prodrug_table display datagrid" id="Prodrugdata" width="100%">
<thead><tr><!--<th>pro_drug</th>--><th>Active Moiety</th><th>Active Metabolites</th><th>Actions</th></tr></tr></thead>
<tfoot><tr><!--<th></th>--><th></th><th></th><th></th></tr></tfoot>
<tbody>

#foreach($part in  $item.prodrugs)
<tr>
	#*<td>
		<input type="hidden" name="prodrugs[[${velocityCount}].id" value="$!part.id"/>
		$Controller.feilds("select","$type","prodrugs[${velocityCount}].pro_drug", $!part.pro_drug, "Yes,No", "","","","")
	</td>*#
	<td>
		$Controller.feilds("textinput","$type","prodrugs[${velocityCount}].active_moiety", $!part.active_moiety ,"","","","")
	</td>
	<td>
		$Controller.feilds("textinput","$type","prodrugs[${velocityCount}].active_metabolites", $!part.active_metabolites ,"","","","")
	</td>
	<td>
		<a href="#" class="button xsmall crimson defocus removal"><i class="icon-remove" title="Remove"></i></a>
	</td>
</tr>
#end
</tbody>
</table>
<a href="#" id="add_substance_prodrug" class="button " data-type="substance_prodrug"><i class="icon-plus blue" title="Add"></i> Add Prodrug</a>
			</li>






			<li>
<label for="Saltdata">Salts:</label>
<table cellpadding="0" cellspacing="0" border="0" class="salt_table display datagrid" id="Saltdata" width="100%">
<thead><tr><!--<th>Is Salt</th>--><th>Form</th><th>Actions</th></thead>
<tfoot><tr><!--<th></th>--><th></th><th></th></tr></tfoot>
<tbody>
#foreach($part in  $item.salts)
<tr>
	#*<td>
		<input type="hidden" name="salts[[${velocityCount}].id" value="$!part.id"/>
		$Controller.feilds("select","$type","salts[${velocityCount}].is_salt", $!part.is_salt, "Yes,No", "","","","")
	</td>*#
	<td>
		$Controller.feilds("textinput","$type","salts[${velocityCount}].form", $!part.form ,"","","","")
	</td>
	<td>
		<a href="#" class="button xsmall crimson defocus removal"><i class="icon-remove" title="Remove"></i></a>
	</td>
</tr>
#end
</tbody>
</table>
<a href="#" id="add_substance_salt" class="button " data-type="substance_salt"><i class="icon-plus blue" title="Add"></i> Add Salt</a>			
			</li>









#* metabolites *#
			<li>
				#set($daval ="")
				#set($daval = $!item.major_metabolites)
				#feild_textinput("$type" "major_metabolites" $daval "" "molecule drug broken down to, %" "" "")
			</li>
#* active_agent_structure *#
			<li>
				#set($daval ="")
				#set($daval = $!item.active_agent_structure)
				#feild_textinput("$type" "active_agent_structure" $daval "" "" "" "")
				<label>Optional structure file:
				#if($!item.static_file)<br/>
					<input type="hidden" name="item.static_file" value="$item.static_file" />
					<a href="$!item.static_file" target="_blank">$!item.static_file</a> (remove:<input type="checkbox" name="remove_file" value="1" />)<br/>
				#end
				<input type="file" name="newfile" />
				</label>
			</li>

#* cas_reg_number *#
			<li>
				#set($daval ="")
				#set($daval = $!item.cas_reg_number)
				#feild_textinput("$type" "cas_reg_number" $daval "" "0000000000000" "" "")
			</li>

#* japanese_accepted_name *#
			<li>
				#set($daval ="")
				#set($daval = $!item.japanese_accepted_name)
				#feild_textinput("$type" "japanese_accepted_name" $daval "" "" "" "")
			</li>

#* british_accepted_name *#
			<li>
				#set($daval ="")
				#set($daval = $!item.british_accepted_name)
				#feild_textinput("$type" "british_accepted_name" $daval "" "" "" "")
			</li>

			#parse("center/assests/save_bar.vm")
		
		</ul>
	</article>
	<article class="grid col-full">
		#if(!$skiplayout && !$item.baseid)
		<ul>
			<li><h2>Save to add ties to Drugs</h2></li>
		</ul> #end
		#if(!$skiplayout && $item.baseid>0)
			<ul class="grid col-one-full mq2-col-full full-input">
				<li>
					#* drugdata *#
					#set($typed_list = $item.drugs)
					#parse("center/model_tie_tables/drug.vm")
				</li>
			</ul>
			#set($type="substance")
			#parse("center/ref.vm")
		#end
	</article>

</form>
#end