<article class="grid col-full">
	<h2 id="header_title">	#if($published==false && !$trashlist)Draft 
	#elseif(!$trashlist)Published 
	#else
	<span style="color: rgb(118, 10, 11); ">Trashed </span>
	#end
	
    Clinical Trials #if(!$skiplayout && !$viewonly)<a href="trial.castle" class="button  xl right"><i class="icon-plus blue" title="Add"></i> New</a>#end  #parse("center/assests/display_pub.vm")</h2>
		
	<table cellpadding="0" cellspacing="0" border="0" class="display datagrid" id="data" width="100%">
		<thead>
			<tr>
				<th width="15%">Record ID</th>
				<th>Number</th>
				<th>Title</th>
				<th width="10%" class="no-sort"></th>
			</tr>
		</thead>
		<tbody>
		#foreach($item in $items)
			<tr class="#if($velocityCount%2<1)even #else odd #end rec_$item.baseid" data-baseid="$item.baseid">
				<td>#if($item.baseid)$!item.baseid#else UNSPECIFIED #end</td>
				<td>#if($item.number)$!item.number#else UNSPECIFIED #end</td>
				<td>#if($item.title)$!item.title#else UNSPECIFIED #end</td>
				<td>
					#set($TYPE = "trial")
					#parse("center/assests/list_actions.vm")
				</td>
			</tr>
		#end
		</tbody>
		<tfoot>
	</table>
</article>