#set($type = "trial")
#if($viewonly)
	#parse("center/viewonly/trial.vm")
#else
	<article class="grid col-full">
		<h2 id="header_title">#if(!$item.baseid || $item.tmp)New #end Clinical trial #if($item.number)( $item.number ) #end</h2>
		<form id="contact_form" class="contact_form" action="/center/savetrial.castle" method="post" name="contact_form">
		<input type="hidden" name="item.baseid" value="$!item.baseid" />
		

		
			
			<ul class="grid col-one-full mq2-col-full full-input">
				<li>
#* number *#
					$Controller.feilds("textinput","$type","number", $!item.number ,"Trial Number","","required","")
				</li>	

				<li>
#* title *#
					$Controller.feilds("textinput","$type","title", $!item.title ,"Trial Title","","required","")
				</li>	

			</ul>
			<article id="navtabs" class="grid col-full">
				<div class="">
					<ul class="tabs clearfix">
						<li><a href="#study">Study</a></li>
						<li><a href="#trial_arms">Trial Arms</a></li>
						<li><a href="#results">Results</a></li>
					</ul>
					<div class="tab_container">
#* *#
#* study ------------ *#
#* *#
					<article id="study" class="tab_content">
						$Controller.notes("$type","study","top")
						
						#parse("center/types_tabs/trial/study.vm")
						
						$Controller.notes("$type","study","bottom")
					</article>

#* *#
#* trial_arms ------------ *#
#* *#
					<article id="trial_arms" class="tab_content">
						$Controller.notes("$type","trial_arms","top")
						
						#* drugdata *#
						#set($typed_list = $item.clinicals)
						#parse("center/model_tie_tables/clinical.vm")
						
						$Controller.notes("$type","trial_arms","bottom")
					</article>					
					
#* *#
#* results ------------ *#
#* *#
						<article id="results" class="tab_content">
							$Controller.notes("$type","regulatory_information","top")

							#* Results *#
							$Controller.feilds("textarea","$type","discription", $!item.discription , "Results","Enter trial discription and details","required"," cols='100' rows='6' ")
							
							$Controller.notes("$type","regulatory_information","bottom")
						</article>
					</div>
				</div>
			</article>
			#if(!$skiplayout && !$item.baseid)
				<ul>
					<li><h2>Save to add Drugs or Clinicals</h2></li>
				</ul>
				<ul>
					<li>
#* drugdata *#
						#set($typed_list = $item.drugs)
						#parse("center/model_tie_tables/drug.vm")
					</li>
					
					<li>
#* Clinicaldata *#
						#set($typed_list = $item.clinicals)
						#parse("center/model_tie_tables/clinical.vm")
					</li>
					
				</ul>		
			#end
			<ul>
				#parse("center/assests/save_bar.vm")	
			</ul>	
			#if(!$skiplayout && $item.baseid>0)
				#set($type="regimen")
				#parse("center/ref.vm")
			#end			
		</form>
	</article>
#end