<h3>Core Functions</h3>
<p>When your writing a post or a template file, your able to call apon the app for function to easy your content editing.  You may do this thru any one of the public services.  Here is a list of those services.</p>

