#set($service = "http")

<h2>$service Services</h2>
<p>You may call any one of these methods list below in your template.  To do this you simple call it via the $httpSerivce.  For example:</p>
<code>&#36;${service}Service.method_name()</code>
<br/>

#foreach($item in $objectService.get_service_methods("${service}Service"))
	<div>
	
		#foreach($meth in $item.Keys)
			#set($method = ${meth})
			#set($arg_count = ${item.get_item("$meth")})
		#end
		#set($sum = $objectService.get_method_summary("${service}Service",$method,$arg_count))
		<h3>$method</h3>
		<div style="margin-left:10px;">
			#set($parameters= $objectService.get_method_parameters("${service}Service",$method,$arg_count))
			
			<span class="method_block"><em><strong>&#36;${service}Service.$method(</strong> #if($parameters.count>0) #foreach($param in $parameters.Keys)
				$parameters.get_item($param).get_item(1) <strong>$parameters.get_item($param).get_item(0)</strong> 
				#between
				,
				#end
			#end<strong>)</strong> </em></span><br/>
			#if($sum!="")
				<h5>summary:</h5> <p style="margin-left:10px;">$sum</p>
				#if($parameters.count>0)
				<h5>parameters :</h5>
					<p style="margin-left:10px;">
					#foreach($param in $parameters.Keys)
						 <em>($parameters.get_item($param).get_item(1))</em> <strong>$parameters.get_item($param).get_item(0)</strong> = $parameters.get_item($param).get_item(2) <br/>
					#end
					</p>
				#end
				#set($return = $objectService.get_method_return("${service}Service",$method,$arg_count))
				#if($return!="")
					<h5>returns:</h5> <p style="margin-left:10px;">$return</p>
				#end
			#end 
		</div><br/> <br/>
	</div>
#end