<h2>Feeds</h2>
<p>Feeds are a way to gain access to the data of the site.  These feeds will let you pull in the most common fomats and let you controll what and how the feed comes out both from a URL queries or in your code.</p>

<h3>Sample Feeds</h3>
<ul>
	<li>/feed/calendar.html</li>
	<li>/feed/calendar.html?format=xml</li>
	<li>/feed/?format=xml</li>
	<li>/feed/?model=post_list&type=media&format=xml</li>
</ul>
<h3>Queries (GET/POST/COOKIE)</h3>
<h4>Choices in posts - ( &amp;iid="" )</h4>
<ul>
	<li>322 (a post id)</li>
	<li>322,323 (a csv of post ids)</li>
</ul>


<h4>Choices in formats - ( &amp;format="" )</h4>
<ul>
	<li>xml</li>
	<li>json <em>(default)</em></li>
</ul>
<h5>XML format content types - ( &amp;ContentType="" )</h5>
<ul>
	<li>xml <em>(default)</em> [ outputs - text/xml ]</li>
	<li>rss [ outputs - application/rss+xml ]</li>
	<li>rdf [ outputs - application/rdf+xml ]</li>
	<li>atom [ outputs - application/atom+xml ]</li>
</ul>
<p><strong>NOTE:</strong> The json format has only one content type of application/json.</p>


<h4>Choices in data - ( &amp;type="" )</h4>
<ul>
	<li>page <em>(default)</em></li>
	<li>media</li>
	<li>contentblock</li>
	<li>any post type you add</li>
</ul>
<p><strong>NOTE:</strong> Any post type that you add may be used, just call by the alias.</p>


<h4>Choices in model - ( &amp;model="" )</h4>
<ul>
	<li>posting <em>(default)</em> -- A single posting</li>
	<li>post_list -- A list of postings</li>
	<li>site_options -- A list of site options and configuration</li>
</ul>
<p><strong>NOTE:</strong> If no type is used, the default (page) is used.</p>













