/* Form Elements */
input,select,textarea,button { font:12px/15px 'SourceSansProRegular',Arial, Helvetica, sans-serif; vertical-align:middle; color:#2f2f2f; }
input.input-text,select,textarea { background:#fff; border:1px solid #b6b6b6; }
input.input-text,textarea { padding:2px; }
select { padding:1px; }
select option { padding-right:10px; }
select.multiselect option { border-bottom:1px solid #b6b6b6; padding:1px 5px; }
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { margin-right:3px; }
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }


button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
.button,button.button {
	-moz-box-shadow:inset 0px 0px 6px -1px #030000;
	-webkit-box-shadow:inset 0px 0px 6px -1px #030000;
	box-shadow:inset 0px 0px 6px -1px #030000;
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#850f0a', endColorstr='#420905');*/
	background-color:#850f0a;
	background:-webkit-linear-gradient( top, #850f0a 5%, #420905 100% );
	background:-moz-linear-gradient( top, #850f0a 5%, #420905 100% );
	background:-ms-linear-gradient( top, #850f0a 5%, #420905 100% );
	background:-o-linear-gradient( top, #850f0a 5%, #420905 100% );
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #290503;
	display:inline-block;
	color:#ede6ed !important;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:1px 2px 3px #330906;
	opacity:0.8;
}.button:hover,button.button:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#420905', endColorstr='#850f0a');
	background-color:#420905;
	background:-webkit-linear-gradient( top, #420905 5%, #850f0a 100% );
	background:-moz-linear-gradient( top, #420905 5%, #850f0a 100% );
	background:-ms-linear-gradient( top, #420905 5%, #850f0a 100% );
	background:-o-linear-gradient( top, #420905 5%, #850f0a 100% );
}.button:active,button.button:active {
	position:relative;
	top:1px;
}
.button.small,button.button.small {font-size:12px;padding:4px 8px;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.button.med,button.button.med {font-size:15px;padding:6px 12px;-moz-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;}
.button.xl,button.button.xl {font-size:20px;padding:10px 18px;-moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px;}

.button.green,button.button.green {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#46850a', endColorstr='#0a4005');
	background-color:#46850a;
	background:-webkit-linear-gradient( top, #46850a 5%, #0a4005 100% );
	background:-moz-linear-gradient( top, #46850a 5%, #0a4005 100% );
	background:-ms-linear-gradient( top, #46850a 5%, #0a4005 100% );
	background:-o-linear-gradient( top, #46850a 5%, #0a4005 100% );
}.button.green:hover,button.button.green:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a4005', endColorstr='#46850a');
	background-color:#0a4005;
	background:-webkit-linear-gradient( top, #0a4005 5%, #46850a 100% );
	background:-moz-linear-gradient( top, #0a4005 5%, #46850a 100% );
	background:-ms-linear-gradient( top, #0a4005 5%, #46850a 100% );
	background:-o-linear-gradient( top, #0a4005 5%, #46850a 100% );

}

.button.orange,button.button.orange {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e68200', endColorstr='#8f410d');
	background-color:#e68200;
	background:-webkit-linear-gradient( top, #e68200 5%, #8f410d 100% );
	background:-moz-linear-gradient( top, #e68200 5%, #8f410d 100% );
	background:-ms-linear-gradient( top, #e68200 5%, #8f410d 100% );
	background:-o-linear-gradient( top, #e68200 5%, #8f410d 100% );

}.button.orange:hover,button.button.orange:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f410d', endColorstr='#e68200');
	background-color:#8f410d;
	background:-webkit-linear-gradient( top, #8f410d 5%, #e68200 100% );
	background:-moz-linear-gradient( top, #8f410d 5%, #e68200 100% );
	background:-ms-linear-gradient( top, #8f410d 5%, #e68200 100% );
	background:-o-linear-gradient( top, #8f410d 5%, #e68200 100% );

}

.button.blue,button.button.blue {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e8bbd', endColorstr='#0a3c57');
	background-color:#1e8bbd;
	background:-webkit-linear-gradient( top, #1e8bbd 5%, #0a3c57 100% );
	background:-moz-linear-gradient( top, #1e8bbd 5%, #0a3c57 100% );
	background:-ms-linear-gradient( top, #1e8bbd 5%, #0a3c57 100% );
	background:-o-linear-gradient( top, #1e8bbd 5%, #0a3c57 100% );

}.button.blue:hover,button.button.blue:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a3c57', endColorstr='#1e8bbd');
	background-color:#0a3c57;
	background:-webkit-linear-gradient( top, #0a3c57 5%, #1e8bbd 100% );
	background:-moz-linear-gradient( top, #0a3c57 5%, #1e8bbd 100% );
	background:-ms-linear-gradient( top, #0a3c57 5%, #1e8bbd 100% );
	background:-o-linear-gradient( top, #0a3c57 5%, #1e8bbd 100% );

}

