/* note this is in major need of clean up.. */


#coords1 {
	padding: 5px;
	font-weight: bold;
}
#polygonstuff {
	position: absolute;
	top: 400px;
	left: 5px;
	width: 70px;
	height: 60px;
	background-color: #ff0000;
	color: #ffffff;
	visibility: hidden;
}

.choice {
	background-color: transparent;
	width: 100px;
	float: left;
}

.topbutton {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
}
#googlead {
	margin: 0 auto;
	width: 800px;
	padding-top: 5px;
}
.clear {
	clear:both;
}

#polylineoptions {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 210px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#polygonoptions {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 255px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#rectang {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 260px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#circleoptions {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 260px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#markeroptions {
	width: 950px;
	height: 310px;
	background-color: #ffffff;
	margin: 2px 2px 2px 2px;
	padding: 8px;
	border: 1px solid #aaa;
	position: absolute;
	top: 45px;
	left: 10px;
	z-index:99999;
	visibility:hidden;
}
#directionstyles {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 210px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#iconimages {
	width: 430px;
	height: 300px;
	background-color: #ffffff;
	margin: 2px 2px 2px 2px;
	padding: 8px;
	float: left;
}
#stylestext {
	width: 485px;
	height: 280px;
	background-color: #ffffff;
	margin: 0px 0px 2px 2px;
	padding: 5px;
	float: left;
}
#toppers {
	width: 405px;
	height: 300px;
	background-color: #ffffff;
	margin: 2px 2px 2px 2px;
	padding: 8px;
	position: absolute;
	top: 165px;
	left: 90px;
	z-index:99999;
	visibility:hidden;
}
.styletitle {
	margin-left:5px;
	padding:0 3px 0 5px;
	font-weight:bold;
	background-color: #CCCCFF;
}
.closebutton {
	border:1px solid #000000;
	padding:1px 4px 1px 4px;
	margin:1px 3px 1px 0px;
	color:#ffffff;
	background-color: #337EB7;
}
.label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 80px;
	padding-top: 5px;
}
.input {
	float: left;
	padding-left: 3px;
	width: 55px;
	margin: 3px 0px 0px 3px;
	border: 2px solid #ccc;
}
.inputlong {
	float: left;
	padding-left: 3px;
	width: 75px;
	margin: 3px 0px 0px 3px;
	border: 2px solid #ccc;
}
.oklink {
	margin-left: 25px;
	padding:0px 3px 0px 3px;
	background-color: #CCFF66;
	text-decoration: none;
}
#morelinks td {
	padding-right: 10px;
}













/* PULL THIS OUT DON"T BELONG HERE */
#nav #main_nav{padding: 0;}
#nav #main_nav li{}
#nav #main_nav ul{margin-left:14px;}
#nav #main_nav li.active a {color:#981e32; }


#nav #main_nav li.active ul{display:block;}
#nav #main_nav ul li{padding-bottom: 2px;}

#nav #main_nav li.active li{
	
	
	}
#nav #main_nav li.active a.parentalLink.childSelected{ color:#5E6A71;}
#nav #main_nav li.active li a{padding-left:13px;color:#5E6A71;background: url("../../Content/images/assests_central/unchecked_menu.png") no-repeat scroll left center transparent;}
#nav #main_nav li.active li.checked {
	
	}
#nav #main_nav li.active li.checked a{color:#981e32;background: url("../../Content/images/assests_central/checked_menu.png") no-repeat scroll left center transparent;}
#nav #main_nav ul li.subNarrow{font-style:italic;background: none repeat scroll 0 0 transparent;}




#toolbar ul {float:right; padding:0px; margin:-1px 15px 0 0;height:20px;}
#toolbar ul li{ display: block;float: left;line-height: 15px;padding: 0px 0px 0px 21px;}

#toolbar a {color: #cfd4d7;font-size:11px;text-decoration: none;line-height:20px;}
/*#toolbar a:hover {color: #5e6a71 !important;}*/
#placeSearch{height:23px; position:relative;width:147px;background: url("../../Content/images/assests_central/placeSerachBar.png") no-repeat scroll left top transparent;}
#placeSearch:focus{ background-position:left bottom;}
#placeSearch input[type=text]{    background: url("../../Content/images/assests_central/placeSerachBar_magGlass.png") no-repeat scroll 95% center transparent;
    border: medium none;
    color: #1F4799;
    font-size: 12px;
    height: 23px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 116px;}

#placeSearch input[type=text]{left:0px;padding-left: 5px;padding-right: 25px;}
.ie #placeSearch input[type=text]{left:0px;padding-top:3px;}
#placeSearch input:focus{/*background-position:left bottom;*/}
#placeSearch .submit{display:none;}
/*#placeSearch .submit:focus,#placeSearch .submit:hover{background-position:right bottom;}*/

#campusmap .ui-autocomplete.ui-menu {max-height:285px;overflow-y: auto;overflow-x: hidden;padding-left:5px;padding-right: 20px;width:120px;border:1px solid #b6bcbf;	-webkit-box-shadow:  0px 5px 10px -5px rgba(0, 0, 0, 0.55);
    box-shadow:  0px 5px 10px -5px rgba(0, 0, 0, 0.55);}

#campusmap .ui-autocomplete-loading { background: url("../../Content/images/ui-anim_basic_16x16.gif") no-repeat scroll right center transparent !important; }
* html .ui-autocomplete {height: 285px;}
#campusmap .ui-autocomplete.ui-menu .ui-menu-item{}
#campusmap .ui-autocomplete.ui-menu .ui-menu-item a{font-size:10.5px;color:#5e6a71;margin:3px 0 2px; display:block;border:1px transparent solid;}
#campusmap .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-hover{font-size:10.5px;color:#981e32;margin:3px 0 2px; display:block;border:1px #ccc solid;}
#campusmap .ui-autocomplete.ui-menu em{border-bottom: 1px solid #CCCCCC;
    color: #666666;
    display: block;
    font-size: 10.5px;
    font-weight: bold;
    margin-top: 5px;}




#getDirections{margin-top:5px;}
#directionsTo{margin-top: 5px;}
#directionsFrom input{color:#5e6a71;background: url("../../Content/images/assests_central/directions_input.png") no-repeat scroll left 1px transparent; height:22px;border: medium none;
    /*margin-top: 5px;*/
    padding: 0 15px 0 5px;
    width: 127px;
}
.ie #directionsFrom input{left:0px;padding-top:3px;}
#directionsTo input{color:#5e6a71;background: url("../../Content/images/assests_central/directions_input.png") no-repeat scroll left 1px transparent; height:22px;border: medium none;
    margin-top: 5px;
    padding: 0 15px 0 5px;
    width: 127px;
}
.ie #directionsTo input{left:0px;padding-top:3px;}
#getDirections input::-webkit-input-placeholder { 
    color:    #5e6a71 !important; 
} 
#getDirections input:-moz-placeholder { 
    color:    #5e6a71 !important; 
} 

#placeSearch input::-webkit-input-placeholder { 
    color:    #1f4799 !important; 
} 
#placeSearch input:-moz-placeholder { 
    color:    #1f4799 !important; 
} 


#printPdfs{}
#printPdfs h2{ text-align:center;margin: 0 0 15px;}
#printPdfs div{float:left;text-align:center;padding-right: 20px;}
#printPdfs div.last{padding:0px;}
#printPdfs h3{text-align:center;}
#printPdfs h3 a{color:#981e32;font-size:18px; text-decoration:none;}
#printPdfs h3 a:hover{color:#b6bf00;}
#printPdfs h3 a span{width:170px;height:125px;display: block;}
#printPdfs h3 a:hover span{background-position:left bottom;}
 


/* menu */
.contextmenu{
    visibility:hidden;
    background:#ffffff;
    border:1px solid #8888FF;
    z-index: 10;  
	font-size:12px;
    position: relative;
    width: 150px;
}
.contextmenu div{
    padding-left: 5px
    }
.contextmenu #to{}
.contextmenu #from{}
.contextmenu a{display:block; cursor:pointer; color:#5e6a71;border:1px solid #ccc;}
.contextmenu a:hover{color:#1f4799;border:1px solid #5e6a71;}
.contextmenu a.active{display:none;}




/* info boxes */
.infoBox{}
.hoverbox{}
.hoverbox .infoClose{display:none;}
#campusmap .tabedBox.infoClose{     right: 4px;
    top: 4px;
    z-index: 1;
}
#campusmap .tabedBox.infoClose{background: url("../../Content/images/close_n_hover.png") no-repeat scroll center top transparent;     cursor: pointer;
    display: block;
    height: 13px;
    position: absolute;
    width: 14px;}
#campusmap .tabedBox.infoClose:hover{ background-position:center bottom;}
#campusmap .ui-tabs {
	padding: 0;

	border: medium none;
	width:100%;
	-webkit-box-shadow:  0 5px 14px 5px rgba(0, 0, 0, 0.4);
	box-shadow:  0 5px 14px 5px rgba(0, 0, 0, 0.4);
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#campusmap .ui-widget-header{height:17px;}

#campusmap .ui-tabs .ui-tabs-nav{padding: 0.2em 0 0;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
-khtml-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
-khtml-border-bottom-right-radius: 0px;
border-bottom-right-radius: 0px;
}
#campusmap .ui-tabs .ui-tabs-nav li{ background: none repeat scroll 0 0 transparent;border: medium none;top: -7px;font-size: 13px;}
#campusmap .ui-tabs .ui-tabs-nav li.ui-state-active{border: medium none;background: none repeat scroll 0 0 #FFFFFF;}

#campusmap .ui-tabs .ui-tabs-nav li {}
#campusmap .ui-tabs .ui-tabs-nav li.first {margin-left: -1px;}
#campusmap .ui-tabs .ui-tabs-nav li a {font-size:12px;font-weight:normal;line-height:19px;padding:4px 1.5em 0.15em;color:#cfd4d7;}
#campusmap .ui-tabs .ui-tabs-nav li a:hover {color:#b6bf00;}
#campusmap .ui-tabs .ui-tabs-nav li.ui-tabs-selected{ padding-bottom: 1px;}
#campusmap .ui-tabs .ui-tabs-nav li.ui-tabs-selected a{color:#262a2d;}
#campusmap .ui-tabs .ui-tabs-panel-cap{background-color: #262A2D;bottom: -7px;height: 7px;left: 0;position: absolute;width: 100%;z-index: 9;}
#campusmap .ui-tabs .ui-tabs-panel-cap .arrow{background: url("../../Content/images/iw_arrow.png") no-repeat scroll center center transparent;bottom:-78px;display: block; height:17.2px;left:162.5px; position: absolute;width:74px;} 	
#campusmap .ui-tabs .ui-tabs-panel-cap .arrow.L5{background-position: left 0;bottom: -9px;left: 162.5px;width: 74px;} 
#campusmap .ui-tabs .ui-tabs-panel-cap .arrow.L4{background-position: -8px -17.2px;bottom: -25.4px;left: 170.5px;width: 59px;} 
#campusmap .ui-tabs .ui-tabs-panel-cap .arrow.L3{background-position: -13px -35px;bottom: -42.6px;left: 175.5px;width: 50px;} 
#campusmap .ui-tabs .ui-tabs-panel-cap .arrow.L2{background-position: -15px -51px;bottom: -59.8px;left: 177.5px;width: 46px;} 

/* info boxes content */	

#campusmap .ui-tabs .ui-tabs-hide{display: block !important;position: absolute !important;left: -10000px;}
#campusmap .ui-tabs .ui-tabs-panel{font-size:12px; line-height:16px; color:#262a2d;max-height: 240px;min-height:0px; padding:5px;position: relative;}	
#campusmap .ui-tabs .ui-tabs-panel .content{width:365px;min-height:0px;max-height: 240px;overflow-x:hidden; overflow-y: auto;padding:0px 15px;left:0px;top:0px;float: left; }

.ie7 #campusmap .ui-tabs .ui-tabs-panel .content{position: relative;}

#campusmap .ui-tabs .ui-tabs-panel .content.Views_Vids{padding:0px 4px; }
#campusmap .ui-tabs .ui-tabs-panel .content .header{font-size:14px; color:#981e32; font-weight:bold;margin-top: 0;padding-top: 0;}

#campusmap .ui-tabs .ui-tabs-panel .content ul {list-style: none outside none;padding: 0;	margin:0px;}
#campusmap .ui-tabs .ui-tabs-panel .content ul li{padding-bottom:5px;}
#campusmap .ui-tabs .ui-tabs-panel .content ul li li{padding-bottom:0px;}
#campusmap .ui-tabs .ui-tabs-panel .content ul li h4{padding-top:5px; font-weight:bold;font-size: 12px;line-height: 16px; margin:0px;}
#campusmap .ui-tabs .ui-tabs-panel .content ul li strong{display: block;}
#campusmap .ui-tabs .ui-tabs-panel .content ul li span{padding-left:35px;display: inline-block;}
#campusmap .ui-tabs .ui-tabs-panel .errorReporting{background-color: #FFFFFF;letter-spacing: 0.25px;
    color: #5e6a71;
    display: block;
    font-size: 8px;
    padding: 2px 5px;
    position: absolute;
    right: 25px;
	bottom: 0;
	text-decoration:none;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);opacity: .8;
	}
#campusmap .ui-tabs .ui-tabs-panel .content .errorReporting:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity:1.0;}
#campusmap .ui-tabs .ui-tabs-panel .content .headImage{float:left;  padding:10px;margin-right:9px; position:relative; cursor:pointer;margin-left: -4px;margin-top: -1px;}	
#campusmap .ui-tabs .ui-tabs-panel .content .headImage:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);opacity: .8;}	
#campusmap .ui-tabs .ui-tabs-panel .content .headImage.orientation_h,
#campusmap .ui-tabs .ui-tabs-panel .content .headImage.orientation_{
	background: url("../../Content/images/samples/in_info_image_bk.png") repeat-x scroll 50% top #FFFFFF;}
#campusmap .ui-tabs .ui-tabs-panel .content .headImage.orientation_v{
	background: url("../../Content/images/samples/in_info_image_bk_v.png") repeat-x scroll 50% top #FFFFFF;}
#campusmap .ui-tabs .ui-tabs-panel .content .headImage .imgEnlarge{
	background: url("../../Content/images/imgEnlarge.png") no-repeat scroll center top transparent;top:6px;display:block;height:14px;right:4px;position: absolute;width:14px;padding: 0;}
#campusmap .ui-tabs .ui-tabs-panel .content .headImage:hover .imgEnlarge{ background-position:center bottom;}
  /* info boxes gallery */		
	#campusmap .cycle{position:relative;width:344px;height:190px;margin-left:10px;}	
	#campusmap .cycle .cWrap {margin: 0 auto;height:190px;width: 263px !important;}
	#campusmap .cycle .cWrap ul{display: block;list-style: none outside none;margin: 0 auto;height:190px;}
	#campusmap .cycle .cWrap ul li{width: 344px !important;height:190px;}

	#campusmap #cboxContent .cycle{position:relative;width:75%;height:100%;margin: 0 auto;}	
	#campusmap #cboxContent .cycle .cWrap {margin: 0 auto;height:100%;width: auto !important;}
	#campusmap #cboxContent .cycle .cWrap ul{display: block;list-style: none outside none;margin: 0 auto;height:100%;}
	#campusmap #cboxContent .cycle .cWrap ul li{width: auto !important;height:100%;padding-left: 24px;}
	#campusmap #cboxContent .cycle .cWrap ul li img{height:100%;}
	#cboxLoadedContent{ overflow:visible  !important;}
	
	#campusmap .ui-tabs .ui-tabs-panel .content .cycle ul li .headImage{float: left;position: relative;}	
	#campusmap .ui-tabs .ui-tabs-panel .content .cycle ul li .headImage.orientation_h,
	#campusmap .ui-tabs .ui-tabs-panel .content .cycle ul li .headImage.orientation_{
		background: url("../../Content/images/gallery_bk_hor.png") no-repeat scroll center top transparent;    margin-left: 0;
    padding: 13px 13px;}
	#campusmap .ui-tabs .ui-tabs-panel .content.Views_Vids .cycle ul li span{padding: 12px 10px; }
	#campusmap .ui-tabs .ui-tabs-panel .content .cycle ul li .headImage.orientation_v{
		    background: url("../../Content/images/gallery_bk_ver.png") no-repeat scroll center top transparent;
			margin-left: 67px;
			padding: 12px 9px;
	}
	#campusmap .ui-tabs .ui-tabs-panel .content .cycle ul li .headImage .imgEnlarge{background: url("../../Content/images/imgEnlarge_large.png") no-repeat scroll center top transparent;right: 5px;height:18px;width:18px;}
	#campusmap .ui-tabs .ui-tabs-panel .content .cycle ul li .headImage:hover .imgEnlarge{ background-position:center bottom;}
	#campusmap .cycle .prev{
		left:0px;top:55px; text-indent:-9999em; display:block;width:24px; height:71px; position:absolute;background: url("../../Content/images/tab_next_prev.png") no-repeat scroll left top transparent;z-index: 9; }
	#campusmap .cycle .next{
		right:0px;top:55px; text-indent:-9999em; display:block;width:24px; height:71px; position:absolute;background: url("../../Content/images/tab_next_prev.png") no-repeat scroll right top transparent;z-index: 9;}
		
		#campusmap #cboxContent .cycle .prev , #campusmap #cboxContent .cycle .next {top:50%;}
		
	#campusmap .cycle .prev:hover{ background-position:left bottom; }
	#campusmap .cycle .next:hover{background-position:right bottom;}


#campusmap #cboxContent{ overflow:visible;}
	#campusmap #cboxContent #cboxPrevious{
		left:-50px;top:40%; text-indent:-9999em; display:block;width:24px; height:71px; position:absolute;background: url("../../Content/images/tab_next_prev.png") no-repeat scroll left top transparent;z-index: 9; }
	#campusmap #cboxContent #cboxNext{
		right:-50px;top:40%; text-indent:-9999em; display:block;width:24px; height:71px; position:absolute;background: url("../../Content/images/tab_next_prev.png") no-repeat scroll right top transparent;z-index: 9;}
	
	#campusmap #cboxContent #cboxPrevious:hover{ background-position:left bottom; }
	#campusmap #cboxContent #cboxNext:hover{background-position:right bottom;}
	
	/*
	#campusmap #cboxSlideshow{bottom: 10px;right: -37px;background: url("../../Content/images/play_pause.png") no-repeat scroll left top transparent; text-indent:-9999em; width:18px;height:18px;}
	#campusmap #cboxSlideshow:hover{background-position:left bottom; }
	#campusmap #cboxSlideshow.playing{background-position:right top; }
	#campusmap #cboxSlideshow.playing:hover{background-position:right bottom; }
	*/
	#campusmap #cboxSlideshow{display:none !important;}
	
	#campusmap #cboxCurrent { position:absolute;top:-9999em;}

	/*#campusmap #cb_nav {position:relative;clear: both;text-align:center;display:block;margin-left: -8px;}*/
	#campusmap #cb_nav{bottom: 0;
    display: inline;
    left: 0;
    margin: 5px auto;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;}
	#campusmap #cb_nav li{display:inline;padding: 0 4px;line-height: 8px;height: 8px;}
	#campusmap #cb_nav li a{display:inline-block;margin:0 2px; width:8px; height:8px;text-indent:-9999em;background: url("../../Content/images/jCellNav_btn.png") no-repeat scroll right center transparent;}
	#campusmap #cb_nav li.active a{ background-position:left center;}
	#campusmap #cb_nav li a:hover{background-position:center center;}
	
	
		
	#campusmap .navArea {position:relative;clear: both;text-align:center;display:block;margin-left: -8px;}
	#campusmap .navArea ul.cNav{display:inline;margin:5px;padding:0;}
	#campusmap .navArea ul.cNav li{display:inline;padding: 0 4px;line-height: 8px;height: 8px;}
	#campusmap .navArea ul.cNav li a{display:inline-block;margin:0 2px; width:8px; height:8px;text-indent:-9999em;background: url("../../Content/images/jCellNav_btn.png") no-repeat scroll right center transparent;}
	#campusmap .navArea ul.cNav li.activeSlide a{ background-position:left center;}
	#campusmap .navArea ul.cNav li a:hover{background-position:center center;}
	#campusmap .navArea .photos{color:#5e6a71; font-size:12px; text-transform:uppercase; text-decoration:none;}
	#campusmap .navArea .photos.active{color:#3cb6ce;}
	#campusmap .navArea .photos:hover{color:#b6bf00}
	#campusmap .navArea .vids{color:#5e6a71;font-size:12px; text-transform:uppercase;text-decoration:none;margin-right: 18px;}
	#campusmap .navArea .vids.active{color:#3cb6ce;}
	#campusmap .navArea .vids:hover{color:#b6bf00}

	.mapControl{ background-color:white; margin-top:4px; margin-right:20px;width:65px; cursor:pointer; text-align:center;-webkit-box-shadow:  0px 0px 8px 1px rgba(0, 0, 0, .25); box-shadow:  0px 0px 8px 1px rgba(0, 0, 0, .25);}
	.ie .mapControl{box-shadow:  0px 0px 8px 1px rgba(150, 150, 150, 0.05);behavior: url(../../Content/PIE.htc);}
	
	.mapControl:hover{background-color:#5e6a71/*216471*/;color:#fff;}
	.mapControl.TOP{margin-top:20px;}
	.mapControl.TYPE{margin-top:7px;}
	.mapControl.activeControl{background-color:#3cb6ce !important; color:#fff  !important;}
	.mapControl .text{ font:12px/12px "Lucida Grande","Lucida Sans Unicode",Arial,san-serif normal; padding-top:3px; padding-bottom:3px;}


/* for admin */
.defaultSkin table.mceToolbar, .defaultSkin tr.mceFirst .mceToolbar tr td, .defaultSkin tr.mceLast .mceToolbar tr td { float: left; } 
	
	
	
	
	/* for all */
	[hideFocus="true"]{outline:none;}
	