IMG
{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    padding: 0;
}
div#modaltintdiv
{
    position: absolute;
    background-color: #D3D3D3;
    display: none;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}
div#modalouter
{
    position: absolute;
    display: none;
    border: 1px solid #696969;
    font-size: 12px;
    padding: 0px;
    text-align: center;
    background-color: #D3D3D3;
}
div#modaltitle
{
    color: #636363;
    text-decoration: none;
    border-bottom: 1px solid #696969;
    height: 18px;
    width: 100%;
}
div#modaltitleleft
{
    float: left;
    height: 18px;
    width: 16px;
    background-color: #2c2c2c;
}
div#modaltitlemiddle
{
    float: left;
    text-align: left;
    font-family: Verdana;
    font-weight: bold;
    color: black;
    padding: 2px 0 0 5px;
}
div#modaltitleright
{
    float: right;
    height: 18px;
    width: 16px;
    background-color: #2c2c2c;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    color: white;
    padding: 1px 0 0 0;
    cursor: pointer;
}
