#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end


<div class="media-frame-menu">
  <div class="media-menu"><a href="#" class="media-menu-item active">Insert Media</a><a href="#" class="media-menu-item">Create Gallery</a><a href="#" class="media-menu-item">Set Featured Image</a>
    <div class="separator"></div>
    <a href="#" class="media-menu-item">Insert from URL</a></div>
</div>
<div class="media-frame-title">
  <h1>Insert Media</h1>
</div>
<div class="media-frame-router">
  <div class="media-router"><a href="#" class="media-menu-item active">Upload Files</a><a href="#" class="media-menu-item">Media Library</a></div>
</div>
<div class="media-frame-content">
  <div class="uploader-inline">
    <div class="uploader-inline-content no-upload-message">
      <div class="upload-ui">
        <h3 class="upload-instructions drop-instructions">Drop files anywhere to upload</h3>
        <a class="browser button button-hero" href="#" style="display: block; position: relative; z-index: 0;" id="__wp-uploader-id-1">Select Files</a> </div>
      <div class="upload-inline-status">
        <div class="media-uploader-status" style="display: none;">
          <h3>Uploading</h3>
          <a href="#" class="upload-dismiss-errors">Dismiss Errors</a>
          <div class="media-progress-bar">
            <div></div>
          </div>
          <div class="upload-details"> <span class="upload-count"> <span class="upload-index"></span> / <span class="upload-total"></span> </span> <span class="upload-detail-separator">&ndash;</span> <span class="upload-filename"></span> </div>
          <div class="upload-errors"></div>
        </div>
      </div>
      <div class="post-upload-ui">
        <p class="max-upload-size">Maximum upload file size: 8MB.</p>
      </div>
    </div>
  </div>
</div>
<div class="media-frame-toolbar">
  <div class="media-toolbar">
    <div class="media-toolbar-secondary">
      <div class="media-selection empty">
        <div class="selection-info"> <span class="count">0 selected</span> <a href="#" class="edit-selection">Edit</a> <a href="#" class="clear-selection">Clear</a> </div>
        <div class="selection-view">
          <ul class="attachments ui-sortable" id="__attachments-view-44">
          </ul>
        </div>
      </div>
    </div>
    <div class="media-toolbar-primary"><a href="#" class="button media-button button-primary button-large media-button-insert" disabled="disabled">Insert into post</a></div>
  </div>
</div>
<div class="media-frame-uploader">
  <div class="uploader-window">
    <div class="uploader-window-content">
      <h3>Drop files to upload</h3>
    </div>
  </div>
</div>
<div id="p17lfhlpo91kabop411p613pv1c2s0_html5_container" style="position: absolute; background: none repeat scroll 0% 0% transparent; width: 148px; height: 46px; overflow: hidden; z-index: -1; opacity: 0; top: 344px; left: 635px;" class="plupload html5">
  <input type="file" multiple accept="" style="font-size: 999px; position: absolute; width: 100%; height: 100%;" id="p17lfhlpo91kabop411p613pv1c2s0_html5">
</div>
</div>



<!--


<form action="Update.castle" method="post" enctype="multipart/form-data" >
$Form.HiddenField("image.id")  
  <input type="hidden"  value="$place.id" name="place.id" id="place_id"/>
  <p>
    File Name:<br/>
    #*$Form.TextField("image.FileName")*#
    <input type="text" value="$!image.FileName" name="image.FileName" id="image_FileName" class="ui-widget ui-widget-content ui-corner-all " />
  </p>

      <input type="hidden"  value="1" name="image.type.id" id="image_ImageTypes_id"/>

    <p>
      Caption:<br/>
      <input type="text" value="$!image.caption" name="image.caption" id="image_caption" class="ui-widget ui-widget-content ui-corner-all " />
    </p>
    <p>
      Credit:<br/>
      <input type="text" value="$!image.credit" name="image.credit" id="image_credit" class="ui-widget ui-widget-content ui-corner-all " />
    </p>
  </div>
  
<p>
  Load Image:<br/>
  <input class="file" name="newimage" value="image_load" id="image_id" type="file" />
</p>
<span style="font-size:10px;line-height:11px;">
	<strong>Note:</strong>
	<em>Images are auto sized down if they have a width or height of more then 1000px to 1000px;  It will not size up.  All images will auto size for other areas of the site so it will be best pratice to have the action area set at the center of te photo.</em>
</span>

<br/>
<br/>
#if($image.id)
  <p>
    Image:<br/>
    <img id="selectedImage" width='300px' src="$siteroot/media/download.castle?id=$image.id" alt=""/>
  </p>
#end
<p>
 <input type="submit" value="Submit" />
</p>

</form>
-->