#*<!-- NOTE: DUE TO VS AND IT'S AUTO FORMATING THE LOGIC BELOW IN THE tr GETTS MESSED UP should be <tr #if($c%2>0) class="even" #else class="odd" #end> -->*#
<h3>Image Pool</h3>

<div id="place_typesDiv" style="float:right;">
  Image Types:<br/>
  <select onchange="return typedown(this.value)">
    <option value="">-All-</option>
    #foreach($typeis in $imagetypes)
    <option value="$typeis.id" #if($selected == $typeis.id) selected="selected" #end>$typeis.type</option>
    #end
  </select>
</div>

<table width="50%" border="0" style="float:right;margin-right:5px;margin-top:7px;">
  <tr>
    <td>Showing $images.FirstItem - $images.LastItem of $images.TotalItems</td>
    <td align="right">
      #if($images.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first",null, "%{type=$selected,pagesize=$pagesize}" )  #end
      #if(!$images.HasPrevious) first #end
      #if($images.HasPrevious) | $PaginationHelper.CreatePageLink( $images.PreviousIndex, "prev",null, "%{type=$selected,pagesize=$pagesize}" )  #end
      #if(!$images.HasPrevious) | prev #end
      #if($images.HasNext) | $PaginationHelper.CreatePageLink( $images.NextIndex, "next",null, "%{type=$selected,pagesize=$pagesize}" )  #end
      #if(!$images.HasNext) | next #end
      #if($images.HasNext) | $PaginationHelper.CreatePageLink( $images.LastIndex, "last",null, "%{type=$selected,pagesize=$pagesize}" )  #end
      #if(!$images.HasNext) | last #end
    </td>
  </tr>
</table>


<p>
<a href="new.castle" class="creation button small">
    <span class="ui-icon ui-icon-plusthick inlineIcon"></span>New Image
  </a>
</p>

<table width="100%"  class="ui-widget ui-widget-content">
  <thead>
    <tr class="ui-widget-header ">
    <th></th>
      <th>Id</th>
      <th></th>
      <th>Images</th>
      <th>Caption</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    #set ($c=0)
    #foreach($image in $images)
    <tr #if($c%2>0) class="even" #else class="odd" #end>
    
    <td align="center"><span class="typeIcon type$!image.type.id"></span></td>
      <td align="center">$!image.id</td>
      <td align="left">
        #if($image.id)<a href='#' class="ad imagePreview" style='display:inline-block'>
          <span class="ui-state-default ui-corner-all ui-state-hover" style='display:inline-block'>
            <span class="ui-icon ui-icon-search"></span>
          </span>
          <span class='the_ad ui-widget ui-widget-content ui-corner-all'>
            <img class="selectedImage lazy" src="$siteroot/media/download.castle?id=$image.id&m=constrain&w=300&protect=true" />
          </span>
        </a>#else Please add the image. #end
      </td>
      <td align="left">$!image.FileName</td>
      <td align="left">$!image.Caption</td>
      <td align="center"  class='actionArea'>
        <span style='font-size:0.7em;'>
          <a href="edit.castle?id=$!{image.id}" title="Edit" class="button small">
            <span class="ui-icon ui-icon-pencil"></span>
          </a>
          <a href="delete.castle?id=$!{image.id}" title="Delete" #*onclick="return confirm('Are you sure you want to Delete?(Y/N)?')"*# class="button small">
            <span class="ui-icon ui-icon-trash"></span>
          </a>
        </span>
      </td>
    </tr>
    #set ($c=$c+1)
    #end
  </tbody>
</table>


 <table width="50%" border="0">
  <tr>
    <td>Showing $images.FirstItem - $images.LastItem of $images.TotalItems</td>
    <td align="right">
      #if($images.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first",null, "%{type=$selected}" )  #end
      #if(!$images.HasPrevious) first #end
      #if($images.HasPrevious) | $PaginationHelper.CreatePageLink( $images.PreviousIndex, "prev",null, "%{type=$selected}" )  #end
      #if(!$images.HasPrevious) | prev #end
      #if($images.HasNext) | $PaginationHelper.CreatePageLink( $images.NextIndex, "next",null, "%{type=$selected}" )  #end
      #if(!$images.HasNext) | next #end
      #if($images.HasNext) | $PaginationHelper.CreatePageLink( $images.LastIndex, "last",null, "%{type=$selected}" )  #end
      #if(!$images.HasNext) | last #end
    </td>
  </tr>
</table>