<script type="text/javascript">
  var availablecredits = [$credits];
</script>
<h3>Image</h3>

#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end


<form action="UpdatePool.castle" method="post" enctype="multipart/form-data" >

$Form.HiddenField("image.id")  
$Form.HiddenField("place.id")  
<p>
  File Name:<br/>
  #*$Form.TextField("image.FileName")*#
  <input type="text" value="$!image.FileName" name="image.FileName" id="image_FileName" class="ui-widget ui-widget-content ui-corner-all " />
</p>
  <p>
    Image Type:<br/>
    <select name="image.type.id" id="imageTypeDD">
      #foreach($typeis in $imagetypes)
      <option value="$typeis.id" #if($!image.type.id == $typeis.id) selected="selected" #end>$typeis.type</option>
      #end
    </select>
  </p>
  <div id="imageTypes" #if($!image.type.id==""||$!image.type.id==2)  style="display:none;" #end>
    <p>
      Caption:<br/>
      #*$Form.TextField("image.Caption")*#
      <input type="text" value="$!image.caption" name="image.caption" id="image_caption" class="ui-widget ui-widget-content ui-corner-all " />
    </p>

    <p>
      Credit:<br/>
      <input type="text" value="$!image.credit" name="image.credit" id="image_credit" class="ui-widget ui-widget-content ui-corner-all " />
    </p>
  </div>
  
<p>
  Load Image:<br/>
  <input class="file" name="newimage" value="image_load" id="image.id" type="file" />
</p>
<span style="font-size:12px;line-height:12px;">
	<strong>Note:</strong>
	<em>Images are auto sized down if they have a width or height of more then 1000px to 1000px;  It will not size up.</em>
</span>

<br/>
<br/>
#if($image.id)
  <p>
    Image:<br/>
    <img id="selectedImage" style="max-width:300px" src="$siteroot/media/download.castle?id=$image.id" alt=""/>
  </p>
#end
<p>
 <input type="submit" value="Submit" />
</p>

</form>
