	
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" >
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td rel="{%=file.name%}">
				<div class="configArea"  style="width:100%; position: relative;">
					<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
						<div class="bar" style="width:0%;"></div>
					</div>
					<div class="formInputs">
						<span style="display:inline-block;float:left;">Choose a pool:
							<select class="pool" name="pool[{%=file.name%}]" style="display:inline-block;">
								<option value="general_pool" selected="selected">General</option>
								<option value="place">Places</option>
								<option value="geo" >Geometrics</option>
								<option value="ads" >Advertisment</option>
							</select>
							<span class="pool_place pools" style="display:none;">
								<br/>
								Choose a place:
								<select name="pool_place[{%=file.name%}]" style="display:inline-block;">
									<option value="" >Select place.</option> 
									#foreach($place in $places)
										<option value="$place.id">$!place.prime_name #if($place.abbrev_name)($!place.abbrev_name)#end</option>
									#end
								</select>
							</span>
							<span class="pool_geo pools" style="display:none;">
								<br/>
								Choose a geometric:
								<select name="pool_geo[{%=file.name%}]" style="display:inline-block;">
									<option value="" >Select geometric.</option> 
									#foreach($geo in $geometrics)
										<option value="$geo.id">$!geo.name</option>
									#end
								</select>
							</span>
							
						</span>
						<span style="display:inline-block;float:left;">Choose Media type:
							<select name="mediatype[{%=file.name%}]" style="display:inline-block;">
								#foreach($type in $mediatypes)
									<option value="$type.id" #if($type.id == 3)selected="selected"#end>$type.name</option>
								#end
							</select>
						</span>
					</div>
					<div class='detailCol' style="width:0px; position: absolute; top: 0px; right: 0px; ">
						<a href="#" class='detailInfoBut'>Info</a> 
						<div class='detailArea' style="overflow:hidden;">
							<ul>
								<li class=''>Caption:
									<input  name="caption[{%=file.name%}]" value="" /> 
								</li>
								<li class="">Credit:
									<input  name="credit[{%=file.name%}]" value="" />
								</li>
							</ul>
						</div>
					</div>
				</div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>