#if($!item.outputError)<b title="There seems to be an error on this item and it will not show." class="itemError">!</b>#end
#parse("admin/listings/areas/inedit.vm")
<div class="item_aTar item_$!item.baseid" rel="$!item.baseid">
    #parse("admin/listings/areas/summaryCol.vm")
    #parse("admin/listings/areas/detailCol.vm")
    <div class='actionCol'>
        #if($buttons)
            <ul>
                #foreach($button in $buttons)
                    #parse("admin/listings/buttons/${button}.vm")
                #end
            </ul>
        #end
    </div>
</div>