#if($item.post_type.alias == "page")#set($VISIBLE_ID = $item.baseid) #end

<h1 id="actiontitle">Edit ${named_type_dname} <!--<a href="#" class="button med" >Add New <i class="icon-plus"></i></a>--></h1>

#if($item.parent.baseid>0)
    <div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
      <p style="line-height: 15px;padding-bottom: 0;">
        <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Note:</strong>You are working off revision $item.revision from $item.updated_date.  If you save or apply, it will make this the current version. (<a href="/post/edit_post.castle?id=${item.parent.baseid}">Cancel and use current</a>)
      </p>
    </div>
#end

#capturefor(admin_js)
<script type="text/javascript">
  #* set up images*#
  #set($availableImages='')
  #capturefor(availableImages)
  #foreach ($image in $cal_event.Images)
  #each
  {id:"${Image.id}",name:"${Image.FileName}",url:"/media/download.castle?id=${Image.id}&cal_eventid=${cal_event.id}&m=crop&w=250&h=250&pre=TMP"}
  #between
  ,
  #end
  #end
  #* EOF set up  *#

  var tinyMCEImageList = new Array($!availableImages);

  var post=$item.baseid;
</script>
#end



#* we are loading code mirror in the <head> *#

    #capturefor(PageStyles)
        #* code editor options *#

        #* remove to the css *#
        <style>
			#dialog label, #dialog input { display:block; }
			#dialog label { margin-top: 0.5em; }
			#dialog input, #dialog textarea { width: 95%; }
			#tabs { margin-top: 1em; }
			#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
			#add_tab { cursor: pointer; }
			#shortcodes{height:0px;}
			#main_content_title{display:inline-block;}
			.btn.btn-success.fileinput-button,button[type="submit"]{margin-left:5px;display:inline-block;}
			
			.content.rev{}
			.content.rev em{font-size:10px;}
        
        </style>


	$scriptsService.Css("/codemirror/codemirror.css,/codemirror/addon/dialog/dialog.css,/codemirror/theme/neat.css,/codemirror/theme/elegant.css,/codemirror/theme/erlang-dark.css,/codemirror/theme/night.css,/codemirror/theme/monokai.css,/codemirror/theme/cobalt.css,/codemirror/theme/eclipse.css,/codemirror/theme/rubyblue.css,/codemirror/theme/lesser-dark.css,/codemirror/theme/xq-dark.css,/codemirror/theme/ambiance.css,/codemirror/theme/blackboard.css,/codemirror/theme/vibrant-ink.css,/codemirror/theme/solarized.css,/codemirror/theme/twilight.css","admin",false)
    
    <style type="text/css">
      .CodeMirror {
        border: 1px solid #eee;
        height: auto;
		max-height:750px;
      }
      .CodeMirror-scroll {
        overflow-y: hidden;
        overflow-x: auto;
      }
	   .CodeMirror-foldmarker {
        color: blue;
        text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
        font-family: arial;
        line-height: .3;
        cursor: pointer;
      }
    </style>
   
    
    #end
    #capturefor(PagePlugins)
		$scriptsService.Js("/admin/codemirror/codemirror.js,/admin/codemirror/addon/runmode/runmode.js,/admin/codemirror/mode/css/css.js,/admin/codemirror/mode/xml/xml.js,/admin/codemirror/mode/javascript/javascript.js,/admin/codemirror/mode/htmlmixed/htmlmixed.js,/admin/codemirror/addon/hint/simple-hint.js,/admin/codemirror/addon/hint/javascript-hint.js,/admin/codemirror/addon/dialog/dialog.js,/admin/codemirror/addon/search/searchcursor.js,/admin/codemirror/addon/search/search.js,/admin/codemirror/addon/fold/foldcode.js",true)
     #if($item.post_type.is_Code)	    #end
    #end
#if($skiplayout) $PageStyles #end

<form action="update.castle" method="post" id="editor_form" class=" ui-widget ui-widget-content ui-corner-all " style="padding:5px;">
    
    <input type="hidden" name="item.baseid" value="#if($item.parent)${item.parent.baseid}#else$!{item.baseid}#end" />
    #if( $item.baseid==0 || $item.tmp)
        <input type="hidden" name="forced_tmp" value="1" />
    #end

    #parse("/admin/postings/post_blocks/publishing_sidebar.vm")
    #parse("/admin/postings/post_blocks/identification_publish_base_block.vm")
    
    <div id="tabs" class=" ui-tabs ui-widget ui-widget-content ui-corner-all cal_event_new">
        <ul class="short ui-tabs-nav ui-widget-header ui-corner-all">
            #if($postCustom.Count()>0)<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
            	<a href="#tabs_Basic">Basic</a>
            </li>#end
            <li class="ui-state-default ui-corner-top">
            	<a href="#tabs_Text">Content</a>
            </li>
            <li class="ui-state-default ui-corner-top">
            	<a href="#tabs_Detail">Detail</a>
            </li>
            #if(${user_fields.count}>0||${fields.count}>0)<li class="ui-state-default ui-corner-top">
            	<a href="#tabs_FIELDS">Fields</a>
            </li>#end
            #if($item.this_gets_media())<li class="ui-state-default ui-corner-top">
            	<a href="#tabs_IMAGES">Images</a>
            </li>#end
            #if($comments.TotalItems&&$comments.TotalItems!=0)<li class="ui-state-default ui-corner-top">
            	<a href="#tabs_COMMENTS">Comments</a>
            </li>#end
        </ul>
        #if($postCustom.Count()>0)
            <div id="tabs_Basic" class="mainAreaTabs">
                #* this would be a loop for the posting type custom field block *#
                #foreach($block in $postCustom)
                    #parse("/admin/postings/custom_post_blocks/${named_type}/editor_blocks/${block}")
                #end
                <div class="clear"></div>
            </div>
        #end
        <div id="tabs_Text" class="mainAreaTabs">
            #parse("/admin/postings/post_blocks/content_block.vm")
            <div class="clear"></div>
        </div>
        <div id="tabs_Detail" class="mainAreaTabs">
            #set($i = 0 )
            #capturefor(block)
                #if($item.this_is_summarizable())
                    <div id="summary_tab">
                        <h3>Summary :</h3>
                        <textarea id="_summary" name="item.summary"  class="tinyEditor">$!item.summary</textarea>
                        <br/>
                        <hr/>
                    </div>
                    #set($i = $i+1)
                #end
                #if($item.this_gets_metadata())<div id="seo_tab">
                    #parse("/admin/postings/post_blocks/SEO_block.vm")
                    #set($i = $i+1)
                </div>#end
                #if($item.this_is_templatable())<div id="templates_tab">
                        <h3>Templates</h3>
                        <fieldset><legend>Documentation Template</legend>    
                            #set($documentation_tmps = $postingService.get_postings("documentation_template"))
                            <div id="posting_templates">
                            <h6><em>Select a template for the menu</em></h6>
                            <select name="item.postparents[]" class="userSelect">
                                <option class="" value="">-select-</option>
                                #foreach($template in $documentation_tmps)
                                    <option value="$template.baseid" #if($item.get_template_obj("documentation_template")==$template) selected="selected" #end>$!template.name</option>
                                #end
                            </select>
                            <div class="lightLine"></div>
                            </div>
                        </fieldset>
                    #set($i = $i+1)
                </div>#end
                #if($item.this_is_taggable())<div id="tags_tab">
                    #parse("/admin/postings/post_blocks/tagging_block.vm")
                    #set($i = $i+1)
                </div>#end
                <div id="permisions_tab">
                    #parse("/admin/postings/post_blocks/users_block.vm")
                </div>
                #if($item.this_is_taxonomyable())<div id="taxonomies_tab">
                   #parse("/admin/postings/post_blocks/taxonomy_block.vm")
                   #set($i = $i+1)
                </div>#end
            #end
                <div class="tabs left ui-tabs ui-widget ui-widget-content ui-corner-all cal_event_new">
                    <ul class="main ui-tabs-nav ui-widget-header ui-corner-all">
                        #if($item.this_is_summarizable())<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#summary_tab">Summary</a></li>#end
                        #if($item.this_gets_metadata())<li class="ui-state-default ui-corner-top"><a href="#seo_tab">SEO / Meta</a></li>#end
                        #if($item.this_is_templatable())<li class="ui-state-default ui-corner-top"><a href="#templates_tab">Templates</a></li>#end
                        #if($item.this_is_taggable())<li class="ui-state-default ui-corner-top"><a href="#tags_tab">Tags</a></li>#end
                        <li class="ui-state-default ui-corner-top"><a href="#permisions_tab">Permisions</a></li>
                        #if($item.this_is_taxonomyable())<li class="ui-state-default ui-corner-top"><a href="#taxonomies_tab">Taxonomies</a></li>#end
                        <li class="ui-state-default ui-corner-top"><a href="#administration_tab">Administration</a></li>
                    </ul>
                    $block
                    
                    <div id="administration_tab">
                    	#parse("/admin/postings/post_blocks/administration.vm")		
					</div>
                    
                </div>
						
			
        </div>
        #if(${user_fields.count}>0||${fields.count}>0)
            <div id="tabs_FIELDS" class="mainAreaTabs">
                #parse("/admin/postings/post_blocks/fields_block.vm")
                <div class="clear"></div>
                <br/>    
            </div>
        #end
        #if($item.this_gets_media())
            <div id="tabs_IMAGES" class="mainAreaTabs">
                    #parse("/admin/postings/post_blocks/post_image_block.vm")
                 <div class="clear"></div>
            </div>
        #end
        #if($comments.TotalItems&&$comments.TotalItems!=0)
            <div id="tabs_COMMENTS" class="mainAreaTabs">
                #parse("/admin/postings/post_blocks/inpost_edit_comments.vm")
            </div>
        #end
    </div>
</form>

#if( !$ajaxed )
    <div style="position:absolute;top:-9999em;left:-9999em; z-index: 1;">
        <div class="ui-widget ui-widget-content ui-corner-left" >
          <div id="searchwell"></div>
        </div>
        
        <div id="mapSearch">
            <h3>Search types</h3>
            <h4>Geo coded</h4>
            <input type="text" value="" id="searchbox"  />
            <h4>cal_events</h4>
            <input id="searchTextField" type="text" size="50" cal_eventholder="Anything you want!" />
            <div>
                <h4>local search</h4>
                <input type="text" id="queryInput" value="pullman" style="width: 250px;"/>
                <input type="button" value="Find" onclick="doSearch()"/>
            </div>
        </div>
    </div>
#end
<div class="clear"></div>