<h3><span style="color:#7F9D6A;">From map.wsu.edu</span></h3>
<p>Hello #if($recipientname)$recipientname#end,<br/>
$name is sending directions on $date.  
#if($notes)
They also included some notes:<br/><br/>
$notes

#end
<br/><br/>
         
</p>
<hr/>
$directions